#before_fire {position:relative;border:0px solid #999;background:#ececec;padding:10px;margin-top:0px;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;}
#before_fire .content-view {}
#before_fire .more {font-size:inherit;font-weight:400;margin:0; padding: 0 0;display:inline;}
#before_fire .pagination  {font-size:0.65em;text-align:center;padding:3px;background:#333;color:#eee;}
#before_fire .pagination a {color:#fff;text-decoration:underline;}
#before_fire .author {font-size:0.8em;font-weight:700;margin:10px 0 0;color:#666;padding:0 0 0 10px;}
#before_fire .teaser {margin:0 0 10px;padding:0 0 10px;overflow:auto;}
#before_fire .teaser .title {margin:0 0 10px 0;color:#fff;background:#999;position:relative;overflow:auto;font-size:.8em;padding:7px 3px 7px 26px;border-bottom:none;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;}

#before_fire .teaser .title a {text-decoration:none;color:inherit;}
#before_fire .teaser .title a:hover {text-decoration:underline;color:#000;}  
#before_fire .teaser .tile img {}
#before_fire .teaser img.teaser_icon {float:left;width:60px;padding:0;border:1px solid #000;background:#fff;margin:3px 5px 0 0;}
#before_fire .teaser .pretitle, #before_fire .teaser .date {margin:0 0 5px;font-size:0.6em;display:inline;text-align:right;text-transform:none;color:#000;padding:0 0 5px 5px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
#before_fire .teaser .date {padding:0;} 
#before_fire .teaser img.icon {float:right;width:150px;clear:both;padding:3px;border:3px solid #ccc;margin:0 0 20px 20px;}
#before_fire .teaser img.type_icon {width:20px;padding:0;margin:0 0;position:absolute;left:3px;top:5px;}
#before_fire .teaser .summary {color:#333;font-weight:400;padding:0;text-align:left;line-height:1.2em;font-size:.8em;margin:-3px 0 5px;}
#before_fire .teaser .summary p {display:inline;}
#before_fire .teaser ul {color:#000;font-size:1em;padding:15px 0;margin:0 0 0 30px;list-style:square;}
#before_fire .teaser li {margin:0 0 0 5px;padding:0 0 3px;}
#before_fire .category_title .title {padding:10px 0;margin:0 0 10px;display:block;border-bottom:none;font-size:1em;text-align:center;background:#333;color:#fff;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;}
#before_fire .category_title .title a {color:#fff;}
#before_fire .staticpage-teaser {border-bottom:3px solid #ccc;padding:0 0 10px;margin:0 0 10px;}

#before_fire .staticpage-teaser ul li h2 {font-size:.9em;margin:0 0 10px;}

#before_fire .staticpage-teaser ul  {list-style:square;margin:0 15px;}
#before_fire .staticpage-detail {border-bottom:3px solid #ccc;padding:0 0 10px;margin:0 0 10px;font-size:.8em;}

#before_fire .menuitems_hierarchy{}
#before_fire .menuitems_hierarchy span {}
#before_fire .menuitems_hierarchy ul {margin:0 ; padding:0; list-style:none;display:block;}
#before_fire .menuitems_hierarchy li {font-size:.8em;margin:4px 0;text-decoration:none;font-weight:700;border:1px solid #ccc;background-color:#eee;padding:8px 10px;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;}
#before_fire .menuitems_hierarchy li a {text-decoration:none; color:#000; display:block;}
#before_fire .menuitems_hierarchy li a:hover {text-decoration:underline;color:#036;}
#before_fire .menuitems_hierarchy ul ul {margin:0;padding:0;display:block;border:none;}
#before_fire .menuitems_hierarchy li li {display:block;padding:3px 0;margin:4px 0;border:none;border-bottom:1px solid #ccc;}
#before_fire .menuitems_hierarchy li li a {color:#666;display:block;border:none;background:none;}
#before_fire .menuitems_hierarchy li li a:hover {display:block;background:#fff;color:#000;text-decoration:none; }
#before_fire .menuitems_hierarchy ul ul ul {position:relative;left:170px;top:-21px;background:#e0ecff;}
#before_fire .menuitems_hierarchy li li li {background:#2d5ba0;}
#before_fire .menuitems_hierarchy li li li a {color:#fff;}
#before_fire .menuitems_hierarchy p {clear:left;}	
#before_fire .menuitems_hierarchy #current {background:url(images/current-bg.gif) top left repeat-x;color:#ffffff;}

#before_fire .categories_hierarchy .title {font-weight:700;padding:10px 0;margin:0 0 5px;display:block;border-bottom:none;font-size:1em;text-align:center;background:#333;color:#fff;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;}
#before_fire .categories_hierarchy .title a {color:#fff;}
#before_fire .categories_hierarchy, #before_fire .categories_hierarchy_to_iconlist, #before_fire .flat_items_list, #before_fire .root_items_list, #before_fire .menuitem, #before_fire .menuitems_hierarchy {margin:0 0 10px;padding:0 0 10px;border-bottom:3px solid #ccc;}
#before_fire .categories_hierarchy  span, #before_fire .categories_hierarchy_to_iconlist span, #before_fire .flat_items_list span, #before_fire .root_items_list span  {}
#before_fire .categories_hierarchy ul, #before_fire .categories_hierarchy_to_iconlist ul, #before_fire .flat_items_list ul, #before_fire .root_items_list ul, #before_fire .menuitem ul, #before_fire .category_root_item_list ul {margin:0 ; padding:0; list-style:none;display:block;}
#before_fire .categories_hierarchy li, #before_fire .categories_hierarchy_to_iconlist li, #before_fire .flat_items_list li, #before_fire .root_items_list li,  #before_fire .menuitem li, #before_fire .category_root_item_list li {font-size:.8em;margin:4px 0;text-decoration:none;font-weight:700;border:1px solid #ccc;background-color:#666;padding:8px 10px;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;}
#before_fire .categories_hierarchy li a, #before_fire .categories_hierarchy_to_iconlist li a, #before_fire .flat_items_list li a,#before_fire .root_items_list li a,  #before_fire .menuitem li a, #before_fire .category_root_item_list li a {text-decoration:none; color:#fff; display:block;}
#before_fire .categories_hierarchy li a:hover, #before_fire .categories_hierarchy_to_iconlist li a:hover, #before_fire .flat_items_list li a:hover, #before_fire .root_items_list li a:hover,  #before_fire .menuitem li a:hover, #before_fire .category_root_item_list a:hover {text-decoration:underline;color:#036;}
#before_fire .categories_hierarchy ul ul, #before_fire .categories_hierarchy_to_iconlist ul ul, #before_fire .flat_items_list ul ul, #before_fire .root_items_list ul ul,  #before_fire .menuitem ul ul, #before_fire .category_root_item_list ul ul {margin:0;padding:0;display:block;border:none;}
#before_fire .categories_hierarchy li li, #before_fire .categories_hierarchy_to_iconlist li li, #before_fire .flat_items_list li li, #before_fire .root_items_list li li,  #before_fire .menuitem li li, #before_fire .category_root_item_list li li {display:block;padding:3px 0;margin:4px 0;border:none;border-bottom:1px solid #ccc;}
#before_fire .categories_hierarchy li li a, #before_fire .categories_hierarchy_to_iconlist li li a, #before_fire .flat_items_list li li a, #before_fire .root_items_list li li a,  #before_fire .menuitem li li a, #before_fire .category_root_item_list li li a {color:#666;display:block;border:none;background:none;}
#before_fire .categories_hierarchy li li a:hover, #before_fire .categories_hierarchy_to_iconlist li li a:hover, #before_fire .flat_items_list li li a:hover, #before_fire .root_items_list li li a:hover,  #before_fire .menuitem li li a:hover, #before_fire .category_root_item_list li li a:hover {display:block;background:#fff;color:#000;text-decoration:none; }
#before_fire .categories_hierarchy ul ul ul, #before_fire .categories_hierarchy_to_iconlist ul ul ul, #before_fire .flat_items_list ul ul ul, #before_fire .root_items_list ul ul ul,  #before_fire .menuitem ul ul ul, #before_fire .category_root_item_list ul ul ul {position:relative;left:170px;top:-21px;background:#e0ecff;}
#before_fire .categories_hierarchy li li li, #before_fire .categories_hierarchy_to_iconlist li li li, #before_fire .flat_items_list li li li, #before_fire .root_items_list li li li,  #before_fire .menuitem li li li, #before_fire .category_root_item_list li li li {background:#2d5ba0;}
#before_fire .categories_hierarchy li li li a, #before_fire .categories_hierarchy_to_iconlist li li li a, #before_fire .flat_items_list li li li a, #before_fire .root_items_list li li li a,  #before_fire .menuitem li li li a, #before_fire .category_root_item_list li li li a {color:#fff;}


#before_fire .collection_header .title {padding:10px 0;margin:0 0 5px;display:block;border-bottom:none;font-size:1em;text-align:center;background:#333;color:#fff;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;}
#before_fire .collection_teaser {margin:0 0 10px;border-bottom:1px solid #000;padding:0 0 10px;}
#before_fire .collection_teaser .summary {color:#333;font-weight:700;padding:0;text-align:left;line-height:1.5em;font-size:.8em;}
#before_fire .collection_teaser .summary p {display:block;}
#before_fire .collection_teaser img.image {float:none;width:170px;margin:0;padding:0;}
#before_fire .labeled_icon .title {font-size:.55em;text-align:center;padding:1px;border:none;font-weight:400;}
#before_fire .labeled_icon img.icon {height:60px;width:60px;}
#before_fire div.labeled_icon {width:60px;height:110px;border:2px solid #999;background:#eee;display:block;margin:0 5px 5px ;float:left;padding:5px 5px ;position:relative;border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;}
#before_fire div.labeled_icon img.type_icon {width:12px;position:absolute;top:10px;left:10px;}
#before_fire .labeled_icon_list {display:block;float:none;overflow:auto;margin:0 0 10px;padding:0 0 5px;border-bottom:3px solid #ccc;}
#before_fire .icon_list_container {margin:0 0 5px;overflow:auto;}
#before_fire div.paginator {font-size:.7em;padding:5px;background:#999;color:#fff;display:block;font-weight:700;text-align:center;margin:0 auto 10px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
#before_fire div.paginator a {color:#fff;font-weight:400;text-decoration:underline;}
#before_fire div.paginator a:hover {color:#000;}
#before_fire .teaser_list, #before_fire .collection_all_items_teaser_list {margin:0 0 10px;border-bottom:3px solid #ccc;padding:0 0 10px;}
#before_fire .contact-teaser {border-bottom:1px solid #999;padding:5px 0;margin:0;}
#before_fire .contact-teaser img.type_icon {display:none;}
#before_fire .contact-teaser .title {display:inline;margin:0 0 10px 0;color:#000;font-weight:700;font-size:.9em;padding:0;background:none;border:none;}
#before_fire .contact-teaser .title a {text-decoration:none;color:#000;display:inline;}
#before_fire .contact-teaser .title a:hover {text-decoration:underline;color:#999;}
#before_fire .contact-teaser .title img.photo {width:30px;float:left;padding:0 5px 0 0;}
#before_fire .contact-teaser .contact-details {display:none;}
#before_fire form .title {color:#000;font-weight:700;}
#before_fire form small {font-size:0.7em;padding:5px 0;display:block;}
#before_fire form input {padding:2px;width:130px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;background:#fff;color:#000;border:1px solid #000;}
#before_fire form input.submit {width:30px;background:#666;color:#fff;border:1px solid #000;}
#before_fire .tags {margin:0;padding:10px 0 0;font-size:0.7em;display:block;} 
#before_fire .tags a {color: #666}
#before_fire .tags a:hover {color:#000; text-decoration:underline;}

#before_fire .search-box {overflow:auto;}
#before_fire .search-box form {margin:0 0;padding:5px;float:right;}
#before_fire .search-box input {padding:5px 3px;margin:0 0 1px 0;border:1px solid #000;color:#000;width:115px;background:#fff;font-size:0.75em}
#before_fire .search-box input.submit {border:none;padding:3px 0;margin:0 0 0 0;width:25px;height:25px;background:url(../images/css/btn.png) no-repeat;}

 