

#fire {position:relative;border:0px solid #999;padding:10px;margin-top:0px;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;}
#fire .content-view {}
#fire .more {font-size:inherit;font-weight:400;margin:0; padding: 0 0;display:inline;}
#fire .pagination  {font-size:0.65em;text-align:center;padding:3px;background:#333;color:#eee;}
#fire .pagination a {color:#fff;text-decoration:underline;}
#fire .author {font-size:0.8em;font-weight:700;margin:10px 0 0;color:#666;padding:0 0 0 10px;}
#fire .title {display:block;margin:0 0 20px 0;}
#fire .staticpage-teaser {border-bottom:3px solid #ccc;padding:0 0 10px;margin:0 0 10px;}
#fire .staticpage-teaser ul li h2 {font-size:.9em;margin:0 0 10px;}
#fire .staticpage-teaser ul  {list-style:square;margin:0 15px;}
#fire .staticpage-detail {border-bottom:3px solid #ccc;padding:0 0 10px;margin:0 0 10px;font-size:.8em;}
#fire .menuitems_hierarchy{}
#fire .menuitems_hierarchy span {}
#fire .menuitems_hierarchy ul {margin:0 ; padding:0; list-style:none;display:block;}
#fire .menuitems_hierarchy li {font-size:.8em;margin:4px 0;text-decoration:none;font-weight:700;border:1px solid #ccc;background-color:#eee;padding:8px 10px;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;}
#fire .menuitems_hierarchy li a {text-decoration:none; color:#000; display:block;}
#fire .menuitems_hierarchy li a:hover {text-decoration:underline;color:#036;}
#fire .menuitems_hierarchy ul ul {margin:0;padding:0;display:block;border:none;}
#fire .menuitems_hierarchy li li {display:block;padding:3px 0;margin:4px 0;border:none;border-bottom:1px solid #ccc;}
#fire .menuitems_hierarchy li li a {color:#666;display:block;border:none;background:none;}
#fire .menuitems_hierarchy li li a:hover {display:block;background:#fff;color:#000;text-decoration:none; }
#fire .menuitems_hierarchy ul ul ul {position:relative;left:170px;top:-21px;background:#e0ecff;}
#fire .menuitems_hierarchy li li li {background:#2d5ba0;}
#fire .menuitems_hierarchy li li li a {color:#fff;}
#fire .menuitems_hierarchy p {clear:left;}	
#fire .menuitems_hierarchy #current {background:url(images/current-bg.gif) top left repeat-x;color:#ffffff;}
#fire .categories_hierarchy .title {font-weight:700;padding:10px 0;margin:0 0 5px;display:block;border-bottom:none;font-size:1em;text-align:center;background:#333;color:#fff;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;}
#fire .categories_hierarchy .title a {color:#fff;}

#fire .categories_hierarchy,               #fire .categories_hierarchy_to_iconlist,               #fire .flat_items_list,               #fire .root_items_list,               #fire .menuitem,               #fire .menuitems_hierarchy                   {margin:0 0 10px;padding:0 0 10px;border-bottom:3px solid #ccc;}
#fire .categories_hierarchy span,          #fire .categories_hierarchy_to_iconlist span,          #fire .flat_items_list span,          #fire .root_items_list span                                                                                                     {}
#fire .categories_hierarchy ul,            #fire .categories_hierarchy_to_iconlist ul,            #fire .flat_items_list ul,            #fire .root_items_list ul,            #fire .menuitem ul,            #fire .category_root_item_list ul            {margin:0 0 0 40px ; padding:0; list-style:square;display:block;}
#fire .categories_hierarchy li,            #fire .categories_hierarchy_to_iconlist li,            #fire .flat_items_list li,            #fire .root_items_list li,            #fire .menuitem li,            #fire .category_root_item_list li            {font-size:.8em;margin:4px 0;text-decoration:none;font-weight:700;border:none;padding:0 10px 8px;}
#fire .categories_hierarchy li a,          #fire .categories_hierarchy_to_iconlist li a,          #fire .flat_items_list li a,          #fire .root_items_list li a,          #fire .menuitem li a,          #fire .category_root_item_list li a          {text-decoration:none; color:#000; display:block;}
#fire .categories_hierarchy li a:hover,    #fire .categories_hierarchy_to_iconlist li a:hover,    #fire .flat_items_list li a:hover,    #fire .root_items_list li a:hover,    #fire .menuitem li a:hover,    #fire .category_root_item_list a:hover       {text-decoration:underline;color:#036;}
#fire .categories_hierarchy ul ul,         #fire .categories_hierarchy_to_iconlist ul ul,         #fire .flat_items_list ul ul,         #fire .root_items_list ul ul,         #fire .menuitem ul ul,         #fire .category_root_item_list ul ul         {margin:0;padding:0;display:block;border:none;}
#fire .categories_hierarchy li li,         #fire .categories_hierarchy_to_iconlist li li,         #fire .flat_items_list li li, 			 #fire .root_items_list li li,         #fire .menuitem li li,         #fire .category_root_item_list li li         {display:block;padding:3px 0;margin:4px 0;border:none;border-bottom:1px solid #ccc;}
#fire .categories_hierarchy li li a,       #fire .categories_hierarchy_to_iconlist li li a,       #fire .flat_items_list li li a,       #fire .root_items_list li li a,       #fire .menuitem li li a,       #fire .category_root_item_list li li a       {color:#666;display:block;border:none;background:none;}
#fire .categories_hierarchy li li a:hover, #fire .categories_hierarchy_to_iconlist li li a:hover, #fire .flat_items_list li li a:hover, #fire .root_items_list li li a:hover, #fire .menuitem li li a:hover, #fire .category_root_item_list li li a:hover {display:block;background:#fff;color:#000;text-decoration:none; }
#fire .categories_hierarchy ul ul ul,      #fire .categories_hierarchy_to_iconlist ul ul ul,      #fire .flat_items_list ul ul ul,      #fire .root_items_list ul ul ul,      #fire .menuitem ul ul ul,      #fire .category_root_item_list ul ul ul      {position:relative;left:170px;top:-21px;background:#e0ecff;}
#fire .categories_hierarchy li li li,      #fire .categories_hierarchy_to_iconlist li li li,      #fire .flat_items_list li li li,      #fire .root_items_list li li li,      #fire .menuitem li li li,      #fire .category_root_item_list li li li      {background:#2d5ba0;}
#fire .categories_hierarchy li li li a,    #fire .categories_hierarchy_to_iconlist li li li a,    #fire .flat_items_list li li li a,    #fire .root_items_list li li li a,    #fire .menuitem li li li a,    #fire .category_root_item_list li li li a    {color:#fff;}

#fire .labeled_icon .title {font-size:.55em;text-align:center;padding:1px;border:none;font-weight:400;}
#fire .labeled_icon img.icon {height:60px;width:60px;}
#fire div.labeled_icon {width:60px;height:110px;border:2px solid #999;background:#eee;display:block;margin:0 5px 5px ;float:left;padding:5px 5px ;position:relative;border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;}
#fire div.labeled_icon img.type_icon {width:12px;position:absolute;top:10px;left:10px;}
#fire .labeled_icon_list {display:block;float:none;overflow:auto;margin:0 0 10px;padding:0 0 5px;border-bottom:3px solid #ccc;}
#fire .icon_list_container {margin:0 0 5px;overflow:auto;}
#fire div.paginator {font-size:.7em;padding:5px;background:#999;color:#fff;display:block;font-weight:700;text-align:center;margin:0 auto 10px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
#fire div.paginator a {color:#fff;font-weight:400;text-decoration:underline;}
#fire div.paginator a:hover {color:#000;}
#fire .teaser_list, #fire .collection_all_items_teaser_list {margin:0 0 10px;border-bottom:3px solid #ccc;padding:0 0 10px;}
#fire .contact-teaser {border-bottom:1px solid #999;padding:5px 0;margin:0;}
#fire .contact-teaser img.type_icon {display:none;}
#fire .contact-teaser .title {display:inline;margin:0 0 10px 0;color:#000;font-weight:700;font-size:.9em;padding:0;background:none;border:none;}
#fire .contact-teaser .title a {text-decoration:none;color:#000;display:inline;}
#fire .contact-teaser .title a:hover {text-decoration:underline;color:#999;}
#fire .contact-teaser .title img.photo {width:30px;float:left;padding:0 5px 0 0;}
#fire .contact-teaser .contact-details {display:none;}
#fire form .title {color:#000;font-weight:700;}
#fire form small {font-size:0.7em;padding:5px 0;display:block;}
#fire form input {padding:2px;width:130px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;background:#fff;color:#000;border:1px solid #000;}
#fire form input.submit {width:30px;background:#666;color:#fff;border:1px solid #000;}
#fire .tags {margin:0;padding:10px 0 0;font-size:0.7em;display:block;} 
#fire .tags a {color: #666}
#fire .tags a:hover {color:#000; text-decoration:underline;}
#fire .search-box {overflow:auto;}
#fire .search-box form {margin:0 0;padding:5px;float:right;}
#fire .search-box input {padding:5px 3px;margin:0 0 1px 0;border:1px solid #000;color:#000;width:115px;background:#fff;font-size:0.75em}
#fire .search-box input.submit {border:none;padding:3px 0;margin:0 0 0 0;width:25px;height:25px;background:url(../images/css/btn.png) no-repeat;}

 
/*-----------------------------------------------------------------------------------------------
FIRE
-----------------------------------------------------------------------------------------------*/

#fire  {padding:0 10px;}
#fire .title {display:block;margin:0 0 20px 0;}
#fire .teaser .title {border:none;margin:0;}
#fire .summary {color:#333;font-weight:700;padding:10px 0;text-align:justify;line-height:1.5em;}
#fire .author {color:#666;border-left:4px solid #ccc;padding:0 0 0 10px;margin:10px 0 0;font-size:.9em;}
#fire .pretitle {color:#666;text-transform:uppercase;}
#fire .tags {margin:20px 0 0 ;display:block;}
#fire .date {color:#666;text-transform:uppercase;}
#fire .source {color:#666;}
#fire div.collection_teaser {overflow:auto;background:#eee;display:block;margin:-20px 0 20px;padding:10px;border-bottom:1px solid #666;}
#fire pre {overflow-x:auto;overflow-y:auto;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;margin:10px 0;padding:20px;border:1px solid #ccc;background:#eee;font-size:0.9em;font-weight:400;color:#000;}
#fire code {padding:0;color:#999;font-weight:400;}
#fire div.text p {font-size:1.1em;line-height:1.5em;text-align:justify;padding:20px 0 0;}
#fire span {margin:inherit;padding:inherit;}
#fire span.tip {margin:-20px 0 0;padding:20px;display:block;text-align:left;width:60%;color:#fff;background:#999;border-left:5px solid #000;font-size:0.9em;}
#fire blockquote {background:#eee;padding:0 20px 20px;margin:10px 0;font-size:0.9em;width:60%;line-height:1em;border-left:5px solid #ccc;text-align:left;}
#fire sup {}
#fire sub {}
#fire cite {}
#fire ul {color:#000;font-size:1.1em;line-height:1.5em;;padding:15px 0;margin:0 0 0 30px;list-style:square;}
#fire ol {color:#000;font-size:1.1em;line-height:1.5em;padding:15px 0;margin:0 0 0 30px;}  
#fire li {margin:0 0 0 5px;padding:0 0 3px;}
#fire acronym /*esta roto el uso de acronym via textile*/{}
#fire del {}
#fire ins {} 
#fire table {margin:20px auto;color:#333;padding:0;border:none;}
#fire th {background:#666;color:#fff;border:1px solid #000;margin:0;padding:3px;}
#fire tr {margin:0;padding:0;}
#fire td {margin:0;padding:3px;border:1px solid #ccc;}
#fire img {}
#fire img {}
#container .content-view img {margin:20px 0 20px 20px;padding:0;float:none;box-shadow:2px 2px 20px #666;-webkit-box-shadow:2px 2px 20px #666;-moz-box-shadow: 2px 2px 20px #666;}
#fire div.text p.footnote, .staticpage-detail div.text p.footnote {color:#666;font-size:.8em;margin:4px 0;padding:0;}
#fire .date {color:#333;font-size:.9em;margin:5px 0 0;display:block;}
#fire .source {color:#333;font-size:.9em;margin:20px 0 0;display:block;}
#fire .categories ul {list-style:none;margin:10px 0;}
#fire .categories li {display:inline;border:1px solid #ccc;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;padding:5px;background:#eee;color:#000;margin:10px 10px 0 0;font-size:.75em;}
#fire .labeled_icon .title {font-size:.8em;text-align:center;padding:3px;border:none;}
#fire .labeled_icon img.icon {height:130px;width:130px;}
#fire div.labeled_icon {height:180px;border:2px solid #999;background:#eee;display:block;width:130px;margin:	0 5px;float:left;padding:5px;position:relative;border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;}
#fire div.labeled_icon img.type_icon {position:absolute;top:10px;left:10px;}
#fire .text {font-size:0.9em;padding:0;}
#fire .text ul {padding:0;margin:0 0 0 30px;list-style:square;}
#fire .text li {padding:15px 0 0;}



/*-----------------------------------------------------------------------------------------------
TEASER VIEWS
-----------------------------------------------------------------------------------------------*/

#fire .teaser {margin:10px 0;padding:0 0 20px;overflow:auto;border-bottom:5px solid #eee;}
#fire .teaser .title {padding:10px 0 0;display:block;border-bottom:none;}
#fire .teaser .title a {text-decoration:none;} 
#fire .teaser .title a:hover {text-decoration:underline;}  
#fire .teaser .summary {color:#333;font-weight:400;padding:15px 0;text-align:justify;line-height:1.3em;font-size:1em;}
#fire .teaser .tile {margin:0;padding:0}
#fire .teaser .tile a {margin:0;padding:0;color:#000;}
#fire .teaser .tile img {}
#fire .teaser .summary p {display:inline;}
#fire .teaser .pretitle {margin:10px 0 0;display:inline-block;} 
#fire .teaser .date {}
#fire .teaser img.icon {float:right;width:150px;clear:both;padding:3px;border:3px solid #ccc;margin:0 0 20px 20px;}
#fire .teaser img.type_icon {padding:0 10px 0 0;margin:0 0;float:left;}
#fire .teaser ul {color:#000;font-size:1em;padding:15px 0;margin:0 0 0 30px;list-style:square;}
#fire .teaser li {margin:0 0 0 5px;padding:0 0 3px;}


