/*
Theme Neutrona 5 Elementos para Cyclope 3
Este Theme fue desarrollado por Codigo Sur: www.codigosur.org
Diseno conceptual + HTML + CSS: Santiago Hoerth Moura
Basada en 960 Grid System
Codigo CSS realizado bajo licencia GPL (copialo, mejoralo, pasalo)
Ver licencia en: http://creativecommons.org/licenses/GPL/2.0/deed.es_AR
Ten en cuenta que las imagenes, los nombres y los logos de este sitio no pueden usarse. Solo el codigo HTML y CSS es GPL. Gracias :)
Si modificas no borres estas lineas :)
*/

/*-----------------------------------------------------------------------------------------------
PARAMETROS GENERALES X DEFAULT
-----------------------------------------------------------------------------------------------*/
body{font-family: Arial, Verdana, Helvetica, Sans-serif; margin: 0; font-size:12pt; background-color:#fff;}
* {margin:0; padding:0;}
a {color:#666; text-decoration:none;outline:none;}
a:hover {text-decoration:underline; color: #000;} 
img {border:none;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;padding:0;margin:0;}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
* html .clearfix,*:first-child+html .clearfix{zoom:1}
#categories_navigation {} /*borra la categoria del bloque*/
h6.hiper-titles {border-left:6px solid #ddd;background-color:#eee;font-weight:700;color:#666;font-size:1.5em;padding:10px 25px;margin:0 0 25px;display:block;} /*define el estilo de titulares teaser_list, site_map y contact*/
.container {margin:0;} /*define el margen de contenidos fuego*/

form input {padding:5px;width:auto;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;background:#fff;color:#000;border:1px solid #000;}
form input.submit {background:#ccc;color:#000;border:1px solid #999;}
textarea {border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;}
		

/*-----------------------------------------------------------------------------------------------
ESQUELETO GENERAL
-----------------------------------------------------------------------------------------------*/
.container_24{margin-left:auto;margin-right:auto;width:960px}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16,.grid_17,.grid_18,.grid_19,.grid_20,.grid_21,.grid_22,.grid_23,.grid_24{display:inline;float:left;margin-left:5px;margin-right:5px}
.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11,.push_12,.pull_12,.push_13,.pull_13,.push_14,.pull_14,.push_15,.pull_15,.push_16,.pull_16,.push_17,.pull_17,.push_18,.pull_18,.push_19,.pull_19,.push_20,.pull_20,.push_21,.pull_21,.push_22,.pull_22,.push_23,.pull_23{position:relative}
.alpha{margin-left:0}
.omega{margin-right:0}
#mascara {}
#medianera {overflow:auto;background:#fff;} 
.two_sidebars #content_container {margin-right: 240px;}

.searchbox form {margin:0 15px 0 0;padding:5px;float:right;}
.searchbox input {padding:5px 3px;margin:0 0 1px 0;border:1px solid #000;color:#000;width:128px;background:#fff;font-size:0.75em}
.searchbox input.submit {border:none;padding:3px 0;margin:0 0 0 0;width:25px;height:25px;background:url(../images/css/btn.png) no-repeat;}
.pagination {padding:0 10px 0 5px;margin:0 10px;} 

/*-----------------------------------------------------------------------------------------------
MENU HORIZONTAL
-----------------------------------------------------------------------------------------------*/
#header .menuitems_hierarchy {height:33px;padding:10px 0 0;font-size:0.9em;}
#header .menuitems_hierarchy ul {float:right; padding:0; list-style:none;}
#header .menuitems_hierarchy li {float:left;margin:0 0 5px 7px;}
#header .menuitems_hierarchy li a {float:left; text-decoration:none;color:#fff;font-weight:700;background:#000;margin:0 0 0 0;padding:6px 12px;}
#header .menuitems_hierarchy li a:hover {background:#666;color:#eee;} 

/*-----------------------------------------------------------------------------------------------
AIRE
-----------------------------------------------------------------------------------------------*/
#aire {height:170px; background: url(../images/css/cabezal.png) 0 0 no-repeat;padding:0;margin:0 0 20px;}
#aire h1 {padding:15px 70px 0 0;text-align:left;font-size:2.3em;}
#aire h1 a {color:#fff; text-decoration:none;}
#aire h2 {font-size:1.1em;font-weight:400;}
#aire h2 a {color:#ccc; text-decoration:none;}
#aire div {padding:5px 0 0 15px;text-align:left;color:#fff;font-size:0.85em;} 

/*-----------------------------------------------------------------------------------------------
AGUA
-----------------------------------------------------------------------------------------------*/
#agua {background-color:#e6e6e6;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;padding:0;}
#agua #left_sidebar {padding:5px;}
#agua .block-title {background-color:#90816f;font-size:0.8em;color:#fff;text-align:right;padding:5px;margin:10px 0 5px;}
#agua span {display:block;}
#agua .searchbox {margin:15px auto;}
#agua .banners {display:block;padding:0;margin:15px auto;width:94px}
#agua .banners img {margin:0 auto 4px auto;text-align:center;} 
#agua form {margin:15px auto;}
#agua ul ul a {}
#agua li li {display:block;}

#agua .menuitems_hierarchy, #agua .categories_hierarchy, #agua .categories_hierarchy_to_iconlist {font-size:0.80em;}
#agua .menuitems_hierarchy, #agua .categories_hierarchy  span, #agua .categories_hierarchy_to_iconlist span {}
#agua .menuitems_hierarchy ul, #agua .categories_hierarchy ul, #agua .categories_hierarchy_to_iconlist ul {margin:0 ; padding:0; list-style:none;display:block;}
#agua .menuitems_hierarchy li, #agua .categories_hierarchy li, #agua .categories_hierarchy_to_iconlist li {margin:4px 0;text-decoration:none;font-weight:700;border:1px solid #ccc;background-color:#eee;padding:6px 0 6px 10px;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;}
#agua .menuitems_hierarchy li a, #agua .categories_hierarchy li a, #agua .categories_hierarchy_to_iconlist li a{text-decoration:none; color:#000; display:block;}
#agua .menuitems_hierarchy li a:hover, #agua .categories_hierarchy li a:hover, #agua .categories_hierarchy_to_iconlist li a:hover{text-decoration:underline;color:#036;}
#agua .menuitems_hierarchy ul ul, , #agua .categories_hierarchy ul ul, #agua .categories_hierarchy_to_iconlist ul ul {margin:0;padding:0;display:block;border:none;}
#agua .menuitems_hierarchy li li, #agua .categories_hierarchy li li, #agua .categories_hierarchy_to_iconlist li li {display:block;padding:3px 0;margin:4px 0;border:none;border-bottom:1px solid #ccc;}
#agua .menuitems_hierarchy li li a, #agua .categories_hierarchy li li a, #agua .categories_hierarchy_to_iconlist li li a {color:#666;display:block;border:none;background:none;}
#agua .menuitems_hierarchy li li a:hover, #agua .categories_hierarchy li li a:hover, #agua .categories_hierarchy_to_iconlist li li a:hover{display:block;background:#fff;color:#000;text-decoration:none; }
#agua .menuitems_hierarchy ul ul ul, #agua .categories_hierarchy ul ul ul, #agua .categories_hierarchy_to_iconlist ul ul ul {position:relative;left:170px;top:-21px;background:#e0ecff;}
#agua .menuitems_hierarchy li li li, #agua .categories_hierarchy li li li, #agua .categories_hierarchy_to_iconlist li li li {background:#2d5ba0;}
#agua .menuitems_hierarchy li li li a, #agua .categories_hierarchy li li li a, #agua .categories_hierarchy_to_iconlist li li li a {color:#fff;}
#agua .menuitems_hierarchy p, #agua .categories_hierarchy p, #agua .categories_hierarchy_to_iconlist p{clear:left;}	
#agua .menuitems_hierarchy #current, #agua .categories_hierarchy #current, #agua .categories_hierarchy_to_iconlist #current {background:url(images/current-bg.gif) top left repeat-x;color:#ffffff;}
#agua form small {font-size:0.7em;padding:5px 0;display:block;} 
#agua form input {padding:2px;width:130px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;background:#fff;color:#000;border:1px solid #000;}
#agua form input.submit {width:30px;background:#666;color:#fff;border:1px solid #000;}

		
#rss {width:140px;margin:20px auto;display:block;padding:0 0 8px 20px;background: url("../images/css/rss_logo.png") 0 3px no-repeat;}
#rss a {color:#999;text-decoration:none;font-weight:bold;}
#rss a:hover {color:#000;text-decoration:underline;}

#tags {width:190px; margin:20px 10px;}
#tags .title {text-align:center;display:block;color:#333; font-weight:bold; font-size:0.8em; margin:0;padding:3px 0;background-color:#ccc;}
#tags a {color:#666; line-height:180%;}
#tags a:hover {text-decoration:underline; color:#333;} 
#tags .box {padding:5px 15px;margin:0;background:#fff;font-size:0.75em;}
.tag1 {font-size: 1em}
.tag2 {font-size: 1.1em}
.tag3 {font-size: 1.2em}
.tag4 {font-size: 1.3em}
.tag5 {font-size: 1.4em} 


/*-----------------------------------------------------------------------------------------------
AMOR
-----------------------------------------------------------------------------------------------*/
#amor {border:0px solid #999;background:#ececec;padding:10px 0;margin-top:0px;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;}
#amor .content-view {padding:0 10px 10px;margin:0 0 15px;border-bottom:3px solid #e1e1e1;}
#amor h2 {font-size:1em;margin:5px 0 0;padding:3px 0 3px 20px;color:#000;position:relative;background:;line-height:1em;}
#amor h2 a {color:#000;}
#amor h2 a:hover {color:#999;text-decoration:none;}
#amor h2 img {width:16px;padding:0;position:absolute;left:0;top:0px;clear:both;}
#amor .pretitle,#amor .date {font-size:0.6em;display:inline;color:#fff;text-transform:uppercase;background:#999;margin:0;padding:3px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
#amor .more {font-size:0.8em;font-weight:400;margin:0; padding: 0 0;}
#amor .pagination  {font-size:0.65em;text-align:center;padding:3px;background:#333;color:#eee;}
#amor .pagination a {color:#fff;text-decoration:underline;}
#amor p {font-size:0.85em;font-weight:400;margin:5px 0; padding: 0;}
#amor .author {font-size:0.8em;font-weight:700;margin:0 0 10px; padding: 0;color:#666;}
#amor img.teaser_icon {width:150px;padding:9px;border:1px solid #ccc;background:#fff;margin:5px 0 0;}
#amor form .title {color:#000;font-weight:700;}
#amor form small {font-size:0.7em;padding:5px 0;display:block;}
#amor form input {padding:2px;width:130px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;background:#fff;color:#000;border:1px solid #000;}
#amor form input.submit {width:30px;background:#666;color:#fff;border:1px solid #000;}
#amor .tags {margin:0;padding:5px 0 0;font-size:0.7em;display:block;} 
#amor .tags a {color: #666}
#amor .tags a:hover {color:#000; text-decoration:underline;}
.text {font-size:0.9em;padding:0;}
.text ul {padding:0;margin:0 0 0 30px;list-style:square;}
.text li {padding:15px 0 0;}

/*#right_sidebar .article.teaser img {}
#right_sidebar .article.teaser {float: none; }
#right_sidebar .article.teaser {padding: 7px 0 0 0;; border-bottom: black dotted 1px;}
#right_sidebar .article.teaser {margin: 0;}
#right_sidebar .category_title {padding:0 0 7px 0;display:block; text-align:center; margin:0; color:#666; background-color: transparent; text-align: center; font-size: 0.85em; font-weight: bold; border: 0;}*/
 
/*-----------------------------------------------------------------------------------------------
PROFUNDIDAD DE NAVEGACION
-----------------------------------------------------------------------------------------------*/
span.breadcrumb {font-size:0.8em;background:#fff;border-bottom:1px solid #ccc;display:block;font-weight:normal; padding:5px 0; margin:0 0 20px;}
span.breadcrumb a {font-weight:bold; color:#999;}
span.breadcrumb a:hover {color:#333;} 


/*-----------------------------------------------------------------------------------------------
FUEGO
-----------------------------------------------------------------------------------------------*/
#fuego h2 {color:#333;padding:0;margin-top:4px; margin:0; border:none;font-size:1.6em;} 
#fuego h2 a {color:#000; text-decoration:none;}
#fuego h2 a:hover {color:#666;text-decoration:underline;}
#fuego p {}
#fuego p a {}
#fuego .summary {font-weight:400;padding:10px 0;font-size: 0.9em;color: #333333;}
#fuego .summary a {text-decoration:underline;} 
#fuego .author {font-size: 0.8em;margin:0 0 12px;font-weight: 700;color: #000000;}
#fuego .author a {margin:0 0 12px;font-weight:700;color:#000;} 
#fuego .content-view {border-bottom:6px solid #eee;margin:0 0 15px 0;padding:0;overflow: auto;}
#fuego .pretitle, #fuego .date {font-size: 0.65em;text-transform: uppercase;margin:0 0 5px;color: #666666;display: inline;}
#fuego .links {margin:0 0 15px;}
#fuego ul {font-size:0.9em;padding:0;margin:0; }
#fuego li {display:inline;margin:0 5px 10px 0;padding:0}
#fuego li a {list-style:square;margin:0;padding:0;text-decoration:none;}
#fuego li a:hover {text-decoration:underline;} 
#fuego img.teaser_icon {float:right;margin: 4px 0 9px 15px;height:135px;clear:both;border:1px solid #ccc;padding:3px;background:#eee;}
#fuego img.type_icon {width:24px;padding:9px;border:none;background:#fff;margin:5px 0 0;}
#fuego .article.teaser {}
#fuego .article.teaser h4 {font-size:0.8em; padding:5px 0 0;font-weight:700;color:#666; margin-right:15px; display:inline;}
#fuego .article.teaser h6 {font-size:0.65em;color:#666;font-weight:normal;text-transform:uppercase;margin-bottom:px;}
/*.article.teaser img{padding:3px; background-color:#eee; border:1px solid #ccc;margin:3px 0 6px 15px; float:right;}*/



/*-----------------------------------------------------------------------------------------------
TITULOS GLOBALES (indice, mapa, contacto, busqueda)
-----------------------------------------------------------------------------------------------*/


#right_sidebar_container .box {padding:0 30px 0 20px;margin:0;background:url(../images/css/secundaria-content.png) repeat-y;}
#right_sidebar_container .top {height:25px;padding:0 20px;background:url(../images/css/secundaria-top.png) no-repeat;} 
#right_sidebar_container .bottom {height:25px;background:url(../images/css/secundaria-bottom.png) no-repeat;margin:0;padding:0 20px;}

/*.regionview .article.teaser h4 {font-size:0.75em;margin:0;padding:0 0 7px;color:#666;font-weight:700;}/*
.regionview .article.teaser .date {font-size:0.7em;padding:4px 0 0;color:#666;font-weight:400;}

 
/*-----------------------------------------------------------------------------------------------
VISTA ARTICULO + TEXTILE
-----------------------------------------------------------------------------------------------*/

#container .content-view h1 {color:#000;padding:10px 0;margin:30px 0 30px;border-bottom:1px solid #000;display:block;}
.article-detail a, .staticpage-detail a {color:#000;font-size:1em;}
.article-detail {}

.article-detail h1.title, .staticpage-detail h1.title {padding:10px 0;display:block;border-bottom:1px solid #666;}
.article-detail h3.summary {color:#333;font-weight:700;padding:10px 0;text-align:justify;line-height:1.5em;}
.article-detail h4.author {color:#666;border-left:4px solid #ccc;padding:0 0 0 10px;margin:10px 0 20px;font-size:.9em;}
.article-detail h6.pretitle {color:#666;text-transform:uppercase;}
.article-detail h6.date {color:#666;text-transform:uppercase;}
.article-detail h6.source {color:#666;}
.article-detail .caps,.staticpage-detail .caps {display:inline;margin:0;padding:0;background:none;width:auto;}
.article-detail h1, .staticpage-detail h1 {color:#000;}
.article-detail h2, .staticpage-detail h2 {color:#000;}
.article-detail h3, .staticpage-detail h3 {color:#333;font-weight:700;}
.article-detail h4, .staticpage-detail h4 {color:#666;}
.article-detail h5, .staticpage-detail h5 {color:#666;}
.article-detail h6, .staticpage-detail h6 {color:#666;}
.article-detail pre,.staticpage-detail pre {margin:15px 0;padding:10px;border:1px solid #ccc;background:#eee;font-size:.75em;font-weight:700;color:#666;}
.article-detail code,.staticpage-detail code {display:block;padding:10px 10px;color:#000;font-size: 1.2em;overflow-x:scroll;overflow-y:auto;font-weight:400;}
.article-detail .html-text p, .staticpage-detail p {color:#333;line-height:1.8em;padding:0;text-align:justify;}
.article-detail span,.staticpage-detail span {margin:0;padding:0;}
.article-detail p span,.staticpage-detail p span {margin:20px 0;display:block;padding:0;text-align:left;width:60%;background:#eee;padding:5px;}
.article-detail blockquote, .staticpage-detail blockquote {margin:20px 0;padding:10px;;font-size:0.9em;width:60%;line-height:1em;border-left:5px solid #ccc;}
.article-detail .html-text blockquote p, .staticpage-detail blockquote p {text-align:left;}
.article-detail sup, .staticpage-detail sup {}
.article-detail sub, .staticpage-detail sub {}
.article-detail cite, .staticpage-detail cite {}
.article-detail ul, .staticpage-detail ul {color:#000;font-size:1em;padding:15px 0;margin:0 0 0 30px;list-style:square;}
.article-detail ol, .staticpage-detail ol {color:#000;font-size:1em;padding:15px 0;margin:0 0 0 30px;}  
.article-detail li, .staticpage-detail li {margin:0 0 0 5px;padding:0 0 3px;}
.article-detail acronym, .staticpage-detail acronym {}
.article-detail del, .staticpage-detail del {}
.article-detail ins, .staticpage-detail ins {}
.article-detail table, .staticpage-detail table {margin:20px auto;color:#333;padding:0;border:none;}
.article-detail th, .staticpage-detail th {background:#666;color:#fff;border:1px solid #000;margin:0;padding:3px;}
.article-detail tr, .staticpage-detail tr {margin:0;padding:0;}
.article-detail td, .staticpage-detail td {margin:0;padding:3px;border:1px solid #ccc;}
.article-detail img, .staticpage-detail img {}
.article-detail img, .staticpage-detail img {}
#container .content-view img {margin:20px 0 20px 20px;padding:0;float:none;box-shadow:2px 2px 20px #666;-webkit-box-shadow:2px 2px 20px #666;-moz-box-shadow: 2px 2px 20px #666;}
.footnote {border-top:1px solid #ccc;color:#666;font-size:.8em;margin:10px 0;}
.article-detail .date {color:#333;font-size:.9em;margin:5px 0 0;display:block;}
.article-detail .source {color:#333;font-size:.9em;margin:20px 0 0;display:block;}
.article-detail .categories ul {list-style:none;margin:10px 0;}
.article-detail .categories li {display:inline;border:1px solid #ccc;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;padding:5px;background:#eee;color:#000;margin:10px 10px 0 0;font-size:.75em;}


.article-detail .related_contents {font-weight:700;color:#003300;background:#eee;padding:10px;margin:0;width:60%;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;;}
.article-detail .related_contents span {font-size:1em;padding:0;margin:0;color:#666;} 
.article-detail .related_contents ul {padding:10px 0 0;margin:0;list-style:none;}
.article-detail .related_contents ul ul {list-style:square;}
.article-detail .related_contents li {color: #999;padding:0 10px 5px 0;margin:0 0 0 20px;}	
.article-detail .related_contents li a {font-size:0.8em;color:#666;font-weight:400;}
.article-detail .related_contents li a:hover {color:#000;font-weight:700;}


/*-----------------------------------------------------------------------------------------------
VISTA COMENTARIOS
-----------------------------------------------------------------------------------------------*/

#user_comments form input {width:40%;border:1px solid #999;margin:5px 0 15px;}
#user_comments form input.submit {width:auto;background:#ccc;color:#000;margin:0 0 0 3px;border:1px solid #999;box-shadow:2px 2px 5px #666;-webkit-box-shadow:2px 2px 5px #666;-moz-box-shadow: 2px 2px 5px #666;}
#user_comments textarea {width:550px;background-color:#fff;padding:4px;margin:5px 0 15px;border:1px solid #999;font-size: 1em;color:#333;display:block;}
#user_comments label {display: block;margin:0 0;font-weight:700;font-size:0.9em;}
#user_comments .show_comment_form {width:250px;;margin:0 0 20px;padding:3px;color:#fff;background:#666;border:1px solid #000;text-align:center;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
#user_comments .show_comment_form a {color:#fff;} 





#user_comments {width:550px;text-align:left;margin:25px 0 0;background-color:#fff;}
#user_comments .data {color:#000;background-color:#eee;border:2px dotted #ddd;padding:10px;margin:0 0 20px;}
#user_comments .data p {font-size:1em;color:#666;}
#user_comments .when_who {color:#999;font-size:0.7em;}
#user_comments .when_who a {color:#999;}


#user_comments .bottom-post {margin:20px 0;border:none;border-top:6px dashed #eee;}
#user_comments .box {color:#333; margin:0;width:644px;}
#user_comments h6 {background-color:#fff;color:#666;margin:0 0 10px 0;padding:5px 0;font-weight:700;font-size:0.9em;}
#user_comments img {margin:10px 0;display:block;}
#user_comments form {padding:0 0 30px 0;margin:0 0 0 0;}				
#user_comments fieldset {display: block;	margin: 0 0 0 0;padding:5px 0;border:none;} 
#user_comments select {display: block;}
#user_comments small {margin:0;color:#666;font-weight:400;display:block padding:3px 0;width:350px;clear:both;font-size:0.8em;}
#user_comments .hidden {border:none;display:none;}


#fuego-content .category h2,#fuego-content .collection  big {margin:0 0 10px;font-weight:700;display:block;}
#fuego-content .category h2 a, #fuego-content .collection big a {color:#333;}
#fuego-content .category .text, #fuego-content .collection .text {margin:0 0 20px 0;padding:0 0 10px;border-bottom:6px solid #eee;}
#fuego-content .category .selected, #fuego-content .collection .selected {margin:0 0 20px 0;padding:0 0 10px;border-bottom:6px solid #eee;}

#fuego-content table {} 
#fuego-content th {background:#666;color:#fff;}
#fuego-content td {border:1px solid #999;}

#fuego-content .content-view {overflow:auto;}
 
#fuego-content .texto {font-size: 0.9em;padding:0;} 
#fuego-content .texto ul {padding:0;margin:0 0 0 30px;list-style:square;} 
#fuego-content .texto li {padding:15px 0 0;}
#fuego-content .categories {}

#fuego-content .article-teaser {margin: 4px 0 20px 0;clear:both;padding:3px 0;}

/*-----------------------------------------------------------------------------------------------
VISTA LISTA DETALLADA ARTICULOS 
-----------------------------------------------------------------------------------------------*/

.article-teaser h2.tile {margin:0;padding:0}
.article-teaser h2.tile a {margin:0;padding:0;color:#000;}
.article-teaser h2.tile img {}
.article-teaser h3.summary p {color:#333;font-weight:700;padding:10px 0;text-align:justify;line-height:1.5em;display:inline;}
.article-teaser h6.pretitle {display:inline;text-transform:uppercase;}
.article-teaser h6.date {display:inline;text-transform:uppercase;}
.article-teaser img.teaser_icon {float:right;margin: 4px 0 9px 15px;height:135px;clear:both;border:1px solid #ccc;padding:3px;background:#eee;}

.staticpage-teaser ul {color:#000;font-size:1em;padding:15px 0;margin:0 0 0 30px;list-style:square;}
.staticpage-teaser li {margin:0 0 0 5px;padding:0 0 3px;}

.labeled_icon h2.title {}
.labeled_icon img.icon {float:left;}



.detail h1.title, .staticpage-detail h1.title {padding:10px 0;display:block;border-bottom:1px solid #666;}
.detail h3.summary {color:#333;font-weight:400;padding:10px 0;text-align:justify;line-height:1.4em;font-size:1.2em;}
.detail h4.author {color:#666;border-left:4px solid #ccc;padding:0 0 0 10px;margin:20px 0 20px;font-size:.9em;}
.detail h6.pretitle {color:#666;text-transform:uppercase;}
.detail h6.date {color:#666;text-transform:uppercase;}
.detail h6.source {color:#666;}
.detail .categories ul {list-style:none;margin:10px 0;}
.detail .categories li {display:inline;border:1px solid #ccc;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;padding:5px;background:#eee;color:#000;margin:10px 10px 0 0;font-size:.75em;}
span.download_link  {display:block;padding:6px;margin:20px 0;font-weight:700;background:#000;width:300px;text-align:center;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
span.download_link a {color:#fff;}

#socialnetworks {font-size:0.75em;display:block;padding:0 0 10px;border-top:2px solid #eee;text-align:right;clear:both;}
#socialnetworks img {width:24px;height:24px;margin:5px 3px -8px 0;padding:6px 0 0;border:none;clear:none;}
#socialnetworks small {margin:0;padding:5px 5px 0 0;color:#666;text-align:right;}  
#fuego-content hr {}

.author img {border:none:border-left:1px solid #ccc;padding:0;margin:0 5px 0 0;}
.tools {margin:10px 0;padding:0 0;}
.tools ul {text-align:left;margin:0;padding:0;list-style:none;font-weight:bold;font-size:0.8em;}
.tools ul a:hover {text-decoration:underline;} 
.tools li  {display:inline;}
.tools li .print {color: #999; background: transparent url(../images/css/imprimir.png) left top no-repeat;padding:0 0 10px 20px;margin:0;}
.tools li .share {color: #999; background: transparent url(../images/css/recomendar.png) no-repeat;padding:0 0 10px 20px;;margin:0 0 0 15px;}
.tools li .comments_link {color: #999; background: transparent url(../images/css/comentarios.png) no-repeat;padding:0 0 10px 20px;;margin:0 0 0 15px;}

 

#attachments {width:50%;color:#030;margin:0 0 20px;text-align:left;background-color:#eee;border:1px solid #ddd;}
#attachments .attachments_box {padding:0 10px;margin:10px 0;}
#attachments p {margin:0 0 0 20px;font-size:0.75em;padding:0 0 7px;}
#attachments p a {color:#666;}
#attachments p a:hover {color:#000;font-weight:700;}
#attachments h6 {color:#666;margin:0 0 10px 0;padding:5px 0 15px;font-weight:700;font-size:0.85em;}
#attachments p img {margin:-10px 0 0;}
 
#related {font-weight:bold;color:#003300;background:#eee;padding:10px;margin:0;width:50%;}
#related h6 {font-size:1em;padding:0;margin:0;color:#666;}
#related ul {padding:10px 0 0;margin:0;list-style:square;}
#related li {color: #999;padding:0 10px 5px 0;margin:0 0 0 20px;}
#related li a {font-size:0.8em;color:#666;font-weight:400;}
#related li a:hover {color:#000;font-weight:700;}


 
#attachments img, #related img, #comments img {padding:0 0 5px;margin:0;}

/*-----------------------------------------------------------------------------------------------
CONTACTO
-----------------------------------------------------------------------------------------------*/

#contact {}
#contact form {text-align:left;padding:0;margin:0;}
#contact p {margin:0;padding:0 20px 0 0;float:left;}
#contact input {width:245px;padding:4px;margin:0 0 5px;color:#333;display: block;}
#contact .required {border:1px solid #999;}
#id_captcha_1 {border:1px solid #999;} 
#contact input.submit {color:#000;clear: both;margin:30px 0 0;}
#contact label {margin:0;padding:5px 0 0;display:block;font-size:0.8em;font-weight:400;width:265px;}
#contact textarea {width:530px;border:1px solid #999; padding:5px; margin-bottom:20px;}
#id_cc_myself {display:inline;}
#contact .nota {border-top:1px solid #ccc;font-style:italic;font-size:0.7em;padding:3px 0;width:30%;color:#999;}

/*-----------------------------------------------------------------------------------------------
MAPA
-----------------------------------------------------------------------------------------------*/
#map {}
#map ul {list-style:none;margin:0 0 10px 30px;padding:0;}
#map ul li {background: transparent url(../images/css/carpeta-abierta.png) 0% 3px no-repeat;padding:0 0 10px 15px;margin:5px 0 0 15px;font-weight:700;font-size:1em;}
#map ul li ul {margin:10px 0 0;}
#map li li {background: transparent url(../images/css/carpeta.png) 0% 3px no-repeat;padding:0 0 10px 15px;;margin:5px 0 0 15px;}
#map ul li ul li {margin:0;padding:0 0 0 15px;font-weight:400;}

/*-----------------------------------------------------------------------------------------------
BUSQUEDA
-----------------------------------------------------------------------------------------------*/
#advanced_search {margin:0 0 20px;}
#advanced_search  ul {list-style:none;margin:10px 0;padding:0;}
#advanced_search  ul li {padding:0 0 10px 0;margin:0;font-size:0.85em;display:inline;}
#advanced_search  ul li ul {margin:10px 0 0;}
#advanced_search  li li {padding:0 0 10px 15px;;margin:5px 0 0 15px;}
#advanced_search  ul li ul li {margin:0;padding:0 0 0 15px;font-weight:400;}
#advanced_search form {border-bottom:6px solid #eee;}
#advanced_search label {display:block;font-size:0.9em;font-weight:700;}
#advanced_search li label {font-weight:400;}
#advanced_search .submit {margin:0 0 20px;}
#search_results h3 {font-size:0.9em;font-weight:700;border:1px solid #ccc;background:#eee;padding:4px;text-align:center;margin:0 0 20px;}
#id_q {margin:0 0 10px;border:1px solid #999;padding:4px;width:350px;}

/*-----------------------------------------------------------------------------------------------
FOOTER
-----------------------------------------------------------------------------------------------*/

#footer_separator { clear:both; height:0;}
.footer_global {border-bottom:6px solid #000;background-color:#333;border-top-right-radius:10px;-webkit-border-top-right-radius:10px;-moz-border-radius-topright:10px;  border-top-left-radius:10px;-webkit-border-top-left-radius:10px;-moz-border-radius-topleft:10px;}
.footer_global {color:#eee;font-size:0.75em; text-align:center; padding:10px 0;margin:20px 0 0;}
.footer_global a {color:#eee; text-decoration:underline;}
.footer_global a:hover {color:#c5935b; text-decoration:none;}
.footer_global img {padding:10px 0 0;}

#logos {text-align:center;font-size: 0.7em;padding:1px 0 20px 0;margin:10px auto;}
#logos img {padding:7px 0 0;}
.expand_collapse{font-weight:bold;clear:none;margin:0px;padding:0px;color:black;float:left;margin:0 4px 0 4px;cursor: pointer;}

/*-----------------------------------------------------------------------------------------------
jQuery lightBox plugin - Gallery style
-----------------------------------------------------------------------------------------------*/

#gallery {float: right;background-color: #fff;padding: 10px;}
#gallery ul { list-style: none; }
#gallery ul li { display: inline; }
#gallery ul img {border: 1px solid #bbb;padding: 5px;width: 250px;height: 250px;}
#gallery ul a:hover img {border: 1px solid #3e3e3e;color: #fff;}
#gallery ul a:hover {color: #fff;}
#gallery p {color: #444; font-size: 0.7em; text-align: center;}
#lightbox-container-image{ background-color: #fff;} 

/*-----------------------------------------------------------------------------------------------
960 GS
-----------------------------------------------------------------------------------------------*/
.grid_1{width:30px}
.grid_2{width:70px}
.grid_3{width:110px} 
.grid_4{width:150px}
.grid_5{width:190px}
.grid_6{width:230px}
.grid_7{width:270px}
.grid_8{width:310px}
.grid_9{width:350px} 
.grid_10{width:390px}
.grid_11{width:430px}
.grid_12{width:470px}
.grid_13{width:510px}
.grid_14{width:550px}
.grid_15{width:590px}
.grid_16{width:630px}
.grid_17{width:670px}
.grid_18{width:710px} 
.grid_19{width:750px}
.grid_20{width:790px}
.grid_21{width:830px}
.grid_22{width:870px}
.grid_23{width:910px}
.grid_24{width:950px}
.prefix_1{padding-left:40px}
.prefix_2{padding-left:80px}
.prefix_3{padding-left:120px}
.prefix_4{padding-left:160px} 
.prefix_5{padding-left:200px}
.prefix_6{padding-left:240px}
.prefix_7{padding-left:280px}
.prefix_8{padding-left:320px}
.prefix_9{padding-left:360px}
.prefix_10{padding-left:400px}
.prefix_11{padding-left:440px}
.prefix_12{padding-left:480px} 
.prefix_13{padding-left:520px}
.prefix_14{padding-left:560px}
.prefix_15{padding-left:600px}
.prefix_16{padding-left:640px}
.prefix_17{padding-left:680px}
.prefix_18{padding-left:720px} 
.prefix_19{padding-left:760px}
.prefix_20{padding-left:800px}
.prefix_21{padding-left:840px}
.prefix_22{padding-left:880px}
.prefix_23{padding-left:920px}
.suffix_1{padding-right:40px}
.suffix_2{padding-right:80px} 
.suffix_3{padding-right:120px}
.suffix_4{padding-right:160px}
.suffix_5{padding-right:200px}
.suffix_6{padding-right:240px}
.suffix_7{padding-right:280px}
.suffix_8{padding-right:320px}
.suffix_9{padding-right:360px}
.suffix_10{padding-right:400px}
.suffix_11{padding-right:440px}
.suffix_12{padding-right:480px} 
.suffix_13{padding-right:520px}
.suffix_14{padding-right:560px}
.suffix_15{padding-right:600px}
.suffix_16{padding-right:640px}
.suffix_17{padding-right:680px}
.suffix_18{padding-right:720px}
.suffix_19{padding-right:760px}
.suffix_20{padding-right:800px} 
.suffix_21{padding-right:840px}
.suffix_22{padding-right:880px}
.suffix_23{padding-right:920px}
.push_1{left:40px}
.push_2{left:80px}
.push_3{left:120px}
.push_4{left:160px}
.push_5{left:200px} 
.push_6{left:240px}
.push_7{left:280px}
.push_8{left:320px}
.push_9{left:360px}
.push_10{left:400px}
.push_11{left:440px}
.push_12{left:480px} 
.push_13{left:520px}
.push_14{left:560px}
.push_15{left:600px}
.push_16{left:640px}
.push_17{left:680px}
.push_18{left:720px}
.push_19{left:760px} 
.push_20{left:800px}
.push_21{left:840px}
.push_22{left:880px}
.push_23{left:920px}
.pull_1{left:-40px}
.pull_2{left:-80px}
.pull_3{left:-120px} 
.pull_4{left:-160px}
.pull_5{left:-200px}
.pull_6{left:-240px}
.pull_7{left:-280px}
.pull_8{left:-320px}
.pull_9{left:-360px}
.pull_10{left:-400px} 
.pull_11{left:-440px}
.pull_12{left:-480px}
.pull_13{left:-520px}
.pull_14{left:-560px}
.pull_15{left:-600px}
.pull_16{left:-640px} 
.pull_17{left:-680px}
.pull_18{left:-720px}
.pull_19{left:-760px}
.pull_20{left:-800px}
.pull_21{left:-840px}
.pull_22{left:-880px}
.pull_23{left:-920px} 
