body {color:#000;margin:0;padding:0;}
.mascara {color:#000;padding:0 50px;background-color:#ccc;}
.encabezado {padding:0 0 0 10px;color:#666;font-size:13px;display:block;margin:5px 0 0;top:0;float:left;font-family: Arial,Helvetica,sans-serif;font-weight:700;}
.menuh {display:block;padding:0;color:#000;margin:5px 0;font-family: Arial,Helvetica,sans-serif;text-align:right;width:720px;}
.menuh a {padding:5px;color:#333;font-size:12px;text-decoration:none;}
.titulo {color:#fff;text-align:center;font-family: Arial,Helvetica,sans-serif;font-size:30px;padding:5px 10px;}
.medianera {padding:15px 0 0;}
.editorial {margin:0 5px;}
#contenedor_portada {padding:0 10px;}
#contenedor_portada img {padding:10px 0;}
.editorial-titulo {font-family: Arial,Helvetica,sans-serif;font-size:30px;font-weight:700;color:#000;padding:0;display:block;}
.editorial-resumen {font-family: Arial,Helvetica,sans-serif;text-align:justify;font-size:16px;display:block;}
.sumario-mascara {border: 0px solid #000000;background-color:#ffffff;margin:0 5px;}
.sumario {margin:0 auto;}
#cs-contenido-middle {background:#e6e6e6;font-family: Arial,Helvetica,sans-serif; font-size: 11px; color:#000;}
.sumario-titulo {padding:4px 0;margin:0 0 15px;background:#999;color:#fff;font-weight:700;text-align:center;font-size:16px;}
.sumario-titulo a {color:fff;}
.sumario-sumario {text-align:left;padding:0 8px 11px;display:block;font-size:14px;font-weight:700;color:#333;}
.contenidos-mascara {display:block;width:720px;padding:0 15px;background:#eee;border-top:2px solid #999;margin-top:15px;}
.contenidos-pretitulo {color:#000;font-family:Arial,Helvetica,sans-serif;font-size:12px;padding:5px;background:#ccc;}
.contenidos-pretitulo a {color:#000;text-decoration:none;}
.volver {font-family:Arial,Helvetica,sans-serif;font-size:11px;padding:5px;margin: 0 10px;float:right;}
.volver {color:#999;text-decoration:none;}
.contenidos-mascara h3 {font-family:Arial,Helvetica,sans-serif;font-size:28px;padding:15px 0 0;margin:0;color:#000;}
.contenidos-mascara h4 {font-family:Arial,Helvetica,sans-serif;font-size:16px;padding:10px 0 0;margin:0;color:#666;text-align:justify;}
.contenidos-mascara p {font-family:Arial,Helvetica,sans-serif;font-size:14px;padding:2px;text-align:justify;}
.contenidos-mascara img {padding:5px 0 10px 15px;}
.contenidos-mascara hr {border:none;border-top:2px solid #ccc;margin:15px 0;}
.pie {text-align:center;padding:10px 0;color:#fff;font-size:13px;display:block;margin:0;font-family: Arial,Helvetica,sans-serif;}
.pie a {color:#fff;text-decoration:none;}
.clear {clear:both;}