<!DOCTYPE html>
<!--
# Cyclope 3 Workflow Design
# Theme: Neutrona
# Layout: 5 Elements
# 960 Grid System Based www.960.gs
# Official Trac Cyclope 3 GPL: http://codigo.cyclope.ws
# Copyright 2010-2012 CodigoSur - SociedadCivil
# All rights reserved.
# This file is part of Cyclope 3.
# Cyclope is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# Development: Codigo Sur www.codigosur.org
# Neutrona is original design Santiago Hoerth Moura
 -->

{% load layout i18n tagging_tags %}
  
<html>
 
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{%if title %}{{title}} | {%endif%}{{ CYCLOPE_SITE_SETTINGS.global_title }}{%endblock%}</title>
    <meta name="Keywords" content="{{ CYCLOPE_SITE_SETTINGS.keywords }}" />
    <meta name="Description" content="{{ CYCLOPE_SITE_SETTINGS.description }}" />
    <link href="/rss" title="RSS" type="application/rss+xml" rel="alternate" />

    <link href="{{ CYCLOPE_THEME_MEDIA_URL }}css/cyclope.less" rel="stylesheet/less" type="text/css"/>
    <link href="{{ CYCLOPE_THEME_MEDIA_URL }}css/print.css" rel="stylesheet" type="text/css" media="print"/>    
    <link href="{{ CYCLOPE_STATIC_URL }}js/lightbox/css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" media="screen"/>
    <script type="text/javascript" src="{{ CYCLOPE_STATIC_URL }}js/less-1.3.0.min.js"></script>    
    <script type="text/javascript" src="{{ CYCLOPE_STATIC_URL }}js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="{{ CYCLOPE_STATIC_URL }}js/jquery-ui-1.8.13.custom.min.js"></script>
    <script type="text/javascript" src="{{ CYCLOPE_STATIC_URL }}js/menuitems.js"></script>
    <script type="text/javascript" src="{{ CYCLOPE_STATIC_URL }}js/lightbox/js/jquery.lightbox-0.5.pack.js"></script>
    <script type="text/javascript">
    $(function() {
        $('#gallery a').lightBox({
            overlayBgColor:         '#000',
            overlayOpacity:         0.8,
            fixedNavigation:        false,
            imageLoading:           '{{ CYCLOPE_STATIC_URL }}js/lightbox/images/lightbox-ico-loading.gif',
            imageBtnPrev:           '{{ CYCLOPE_STATIC_URL }}js/lightbox/images/lightbox-btn-prev.gif',
            imageBtnNext:           '{{ CYCLOPE_STATIC_URL }}js/lightbox/images/lightbox-btn-next.gif',
            imageBtnClose:          '{{ CYCLOPE_STATIC_URL }}js/lightbox/images/lightbox-btn-close.gif',
            imageBlank:             '{{ CYCLOPE_STATIC_URL }}js/lightbox/images/lightbox-blank.gif',
            containerBorderSize:    10,
            containerResizeSpeed:   400,
            txtImage:               '{% trans "Image"%}',
            txtOf:                  '{% trans "of"%}'
        });
    });
    </script>
    {% block extra_head %}{% endblock %}
  </head>

  <body class="{% block body_class %}{%endblock%}">

    <div id="mask" class="container_24">
<!-------------------------------------------------------------------------------------------------
AIR
------------------------------------------------------------------------------------------------->
{% region 'air' %}
<!-------------------------------------------------------------------------------------------------
BRAND
------------------------------------------------------------------------------------------------->
	<div class="brand">
		<h1><a href="/">{{ CYCLOPE_SITE_SETTINGS.global_title }}</a></h1>
		<h2><a href="/">http://{{ CYCLOPE_SITE_SETTINGS.site.domain }}</a></h2>
	</div>
		<div class="clear"></div>
<!-------------------------------------------------------------------------------------------------
MEDIANERA
------------------------------------------------------------------------------------------------->
      <div id="middling">

<!-------------------------------------------------------------------------------------------------
WATER
------------------------------------------------------------------------------------------------->
        <div class="grid_5" >{% region 'water' %}</div><!-- /water -->

        {% block page_content %} {% endblock %}
      </div><!-- /medianera -->

<!-------------------------------------------------------------------------------------------------
EARTH
------------------------------------------------------------------------------------------------->
      <div id="footer_separator"></div>
      <div class="footer_global">
      {% region 'earth' %}
      <span id="creativecommons">Los contenidos de este sitio web están bajo una
        <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.es_CO">
          Licencia Creative Commons BY-NC-ND
        </a></span>.<br/>
        <span id="codigo sur">Tecnología: <a href="http://cyclope.codigosur.org">Cyclope 3 GPL</a>. Hecho por <a href="http://www.codigosur.org">Código Sur</a>.
        </span><br/>
        <span>Este sitio ha sido desarrollado sobre estándares de diseño web que cualquier navegador de calidad visualizará correctamente. </span><br/>

        <img src="/media/uploads/images/banners/navegadores.png" width="246" height="36" border="0" usemap="#map-nav" alt="navegadores"/>
        <map name="map-nav" id="map-nav">
          <!-- #$-:Image map file created by GIMP Image Map plug-in -->
          <!-- #$-:GIMP Image Map plug-in by Maurits Rijk -->
          <!-- #$-:Please do not edit lines starting with "#$" -->
          <!-- #$VERSION:2.3 -->
          <!-- #$AUTHOR:sh -->
          <area shape="rect" coords="48,1,85,35" alt="Konkeror" title="Konkeror" href="http://www.konqueror.org/" />
          <area shape="rect" coords="6,1,41,35" alt="Mozilla Firefox" title="Mozilla Firefox" href="http://www.mozilla-europe.org/es/firefox/" />
          <area shape="rect" coords="88,0,120,36" alt="Epiphany" title="Epiphany" href="http://projects.gnome.org/epiphany/" />
          <area shape="rect" coords="126,1,158,35" alt="Opera" title="Opera" href="http://www.opera.com/download/" />
          <area shape="rect" coords="162,3,199,34" alt="Safari" title="Safari" href="http://www.apple.com/es/safari/download/" />
          <area shape="rect" coords="206,4,242,34" alt="Google Chrome" title="Google Chrome" href="http://www.google.com/chrome/index.html?hl=es" />
        </map>
        </div>
      <!-- /pie -->

    </div>
    <!-- /mascara -->

  </body>
</html>
