<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Plantilla Neutrona para Cyclope 2.0
Esta plantilla fue desarrollada por Codigo Sur: www.codigosur.org
Diseno conceptual + HTML + CSS: Santiago Hoerth
Codigo HTML realizado bajo licencia GPL (copialo, mejoralo, pasalo)
Ver licencia en: http://creativecommons.org/licenses/GPL/2.0/deed.es_AR
Ten en cuenta que las imagenes, los nombres y los logos de este sitio no pueden usarse. Solo el codigo HTML y CSS es GPL. Gracias :)
Si modificas no borres estas lineas :)
 -->

{% load layout i18n tagging_tags %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ CYCLOPE_SITE_SETTINGS.global_title }}</title>
    <meta name="Keywords" content="{{ CYCLOPE_SITE_SETTINGS.keywords }}" />
    <meta name="Description" content="{{ CYCLOPE_SITE_SETTINGS.description }}" />
    <!--
        TODO(nicoechaniz): implement RSS
        <link href="/rss.php" title="RSS" type="application/rss+xml" rel="alternate" /> -->

    <link href="{{ CYCLOPE_THEME_MEDIA_URL }}css/neutrona.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ CYCLOPE_MEDIA_URL }}js/lightbox/css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" media="screen"/>
    <script type="text/javascript" src="{{ CYCLOPE_MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{ CYCLOPE_MEDIA_URL }}js/lightbox/js/jquery.lightbox-0.5.pack.js"></script>
    <script type="text/javascript">
    $(function() {
        $('#gallery a').lightBox({
            overlayBgColor:         '#000',
            overlayOpacity:         0.8,
            fixedNavigation:        false,
            imageLoading:           '{{ CYCLOPE_MEDIA_URL }}js/lightbox/images/lightbox-ico-loading.gif',
            imageBtnPrev:           '{{ CYCLOPE_MEDIA_URL }}js/lightbox/images/lightbox-btn-prev.gif',
            imageBtnNext:           '{{ CYCLOPE_MEDIA_URL }}js/lightbox/images/lightbox-btn-next.gif',
            imageBtnClose:          '{{ CYCLOPE_MEDIA_URL }}js/lightbox/images/lightbox-btn-close.gif',
            imageBlank:             '{{ CYCLOPE_MEDIA_URL }}js/lightbox/images/lightbox-blank.gif',
            containerBorderSize:    10,
            containerResizeSpeed:   400,
            txtImage:               '{% trans "Image"%}',
            txtOf:                  '{% trans "of"%}',
        });
    });
    </script>
    {% block extra_head %}{% endblock %}
  </head>

  <body class="{% block body_class %}{%endblock%}">

    <div id="page_wrapper">
      {% include 'registration/user_block.html'%}
      {% region 'header' %}

      <!-- cabezal -->
      <div id="branding">
        <div class="logo">
          <h1><a href="/">{{ CYCLOPE_SITE_SETTINGS.global_title }}</a></h1>
          <h2><a href="/">http://{{ CYCLOPE_SITE_SETTINGS.site.domain }}</a></h2>
        </div>
      </div>
      <!-- /cabezal -->

      <div class="clear"></div>

      <!-- middle_wrapper -->
      <div id="middle_wrapper">

        <!-- left_sidebar -->
        <div id="left_sidebar_container">
          <div class="top"></div>
          {% region 'left_sidebar' %}

          <div id="searchbox">
            <form action="/search" method="post">
              <input type="text" name="consulta"/>
              <input type="submit" value="" class="submit"/>
            </form>
          </div>

          <div id="tags">
            <span class="title">Etiquetas</span>
            <div class="box">
              {% tag_cloud_for_model articles.Article as article_tags with min_count=1 distribution=log %}
              {% for tag in article_tags %}
                <a href="/tag/{{ tag.name|slugify }}" class="tag{{tag.font_size}}">
                  {{tag.name}}
                </a>
              {% endfor %}
              </a>&nbsp&nbsp
            </div>
          </div>

          <div id="rss"><a href="/rss">{% trans "Subscribe to RSS" %}</a></div>
          <!-- banners -->
          <div id="banners">
            <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.es_CO" target="_blank">
              <img src="{{ CYCLOPE_THEME_MEDIA_URL }}images/banners/banners_cc.png" alt="Licencia Creative Commons" width="94" height="15" border="0" />
            </a><br/>
            <a href="http://cyclope.codigosur.org">
              <img src="{{ CYCLOPE_THEME_MEDIA_URL }}images/banners/banners_cyclope.png" alt="Administrado con Cyclope" width="94" height="15" border="0" />
            </a><br/>
            <a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank">
              <img src="{{ CYCLOPE_THEME_MEDIA_URL }}images/banners/banners_css.png" alt="CSS Válido" width="94" height="15" border="0" />
            </a><br />
          </div>
          <!-- /banners -->
          <div class="bottom"></div>

        </div>
        <!-- /left_sidebar -->

        {% block page_content %} {% endblock %}

      </div>
      <!-- /middle wrapper -->

      <div id="footer_separator"></div>

      <div id="footer">
        {% region 'footer' %}
        Los contenidos de este sitio web están bajo una
        <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.es_CO">
          Licencia Creative Commons Reconocimiento-NoComercial-SinObraDerivada 3.0
        </a>.<br/>
        Este sitio ha sido diseñado por
        <a href="http://www.codigosur.org">Código Sur</a>
        y es administrado con el editor dinámico de contenidos
        <a href="http://cyclope.codigosur.org">Cyclope GPL</a>
        que ha sido desarrollado por
        <a href="http://www.codigosur.org">Código Sur</a>.<br/>
        Este sitio ha sido desarrollado sobre estándares de diseño web,
        cualquier navegador de calidad lo visualizará correctamente: <br/>

        <img src="{{ CYCLOPE_THEME_MEDIA_URL }}images/css/navegadores.png" width="246" height="36" border="0" usemap="#map-nav" alt=""/>
        <map name="map-nav" id="map-nav">
          <!-- #$-:Image map file created by GIMP Image Map plug-in -->
          <!-- #$-:GIMP Image Map plug-in by Maurits Rijk -->
          <!-- #$-:Please do not edit lines starting with "#$" -->
          <!-- #$VERSION:2.3 -->
          <!-- #$AUTHOR:sh -->
          <area shape="rect" coords="48,1,85,35" alt="Konkeror" title="Konkeror" href="http://www.konqueror.org/" />
          <area shape="rect" coords="6,1,41,35" alt="Mozilla Firefox" title="Mozilla Firefox" href="http://www.mozilla-europe.org/es/firefox/" />
          <area shape="rect" coords="88,0,120,36" alt="Epiphany" title="Epiphany" href="http://projects.gnome.org/epiphany/" />
          <area shape="rect" coords="126,1,158,35" alt="Opera" title="Opera" href="http://www.opera.com/download/" />
          <area shape="rect" coords="162,3,199,34" alt="Safari" title="Safari" href="http://www.apple.com/es/safari/download/" />
          <area shape="rect" coords="206,4,242,34" alt="Google Chrome" title="Google Chrome" href="http://www.google.com/chrome/index.html?hl=es" />
        </map>
      </div>
      <!-- /pie -->
    </div>
    <!-- /mascara -->

  </body>
</html>
