{% load fb_versions %}
<head>
    <!--styles-->
    <link href="{{CYCLOPE_STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <!--scripts-->
    <script type="text/javascript" src="{{CYCLOPE_STATIC_URL}}{{ CYCLOPE_JQUERY_PATH }}"></script>
    <script type="text/javascript" src="{{CYCLOPE_STATIC_URL}}js/bootstrap/bootstrap.min.js"></script>
    <!-- TODO move scripts inside app -->
    <script type="text/javascript">
        $(function(){
            // bind select...
            $("#selectMediaType").change(function(){
                //...to hidden field
                $("#id_media_type").val($(this).val());
                //...to library list        /media_type
                $.get('/media_widget/library/'+$(this).val(), function(data){
                    $("#select_media_widget").html(data);
                    //re-bind
                    $(".select_media").click(function(){
                        insert_markitup($(this).val());
                    });
                });
            });
            //retrieve value from hidden field
            if($("#id_media_type").val()){
                $("#selectMediaType").val($("#id_media_type").val());
            }

            // clean message alerts after 5s
            $(".message-row").delay(5000).fadeOut();

            // nRows input
            $("#nPerPage").change(function(){
                url = '/media_widget/library/'+$("#id_media_type").val()+'?n={{n}}&nRows='+$(this).val()
                // TODO encapsulate l.17
                $.get(url, function(data){
                    $("#select_media_widget").html(data);
                    //re-bind
                    $(".select_media").click(function(){
                        insert_markitup($(this).val());
                    });
                });
            });
        });
    </script>
    {% if file_url %}

    <!-- return to markItUp from upload & insert code -->
    <script type="text/javascript">
        var media_widget = parent.media_widget;
        media_widget.fb_helper.triggerInsert('{{file_url}}', '{{media_type}}');
        media_widget.mediaWidget("close");
    </script>
    {% endif %}

    <!-- select media from library & insert code -->
    <script type="text/javascript">
        var insert_markitup = function(file_url){
            var media_widget = parent.media_widget;
            media_type = $("#selectMediaType").val();
            media_widget.fb_helper.triggerInsert(file_url, media_type);
            //the end
            media_widget.mediaWidget("close");
        };
        $(function(){
            $(".select_media").click(function(){
                insert_markitup($(this).val());
            });
        }); 
    </script>
</head>
<body>
    <div id="mediaUpload" class="container-fluid">
        {% if messages %}
            {% for message in messages %}
                <div  class="row message-row">
                    <div class="col-xs-12 {% if message.tags %} alert alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="margin-bottom:0;">
                    <label for="selectMediaType">Tipo de contenido a insertar</label>
                    <select id="selectMediaType" class="form-control">
                        <option value="picture">Im&aacute;gen</option>
                        <option value="soundtrack">Audio</option>
                        <option value="movieclip">Video</option>
                        <option value="document">PDF</option>
                        <option value="flashmovie">Flash</option>
                    </select>
                </div>
            </div>
        </div>
        <hr/>
        <!-- TODO
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="dropdown">
                  <button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Alineaci&oacute;n
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="#">Izquierda</a></li>
                    <li><a href="#">Derecha</a></li>
                  </ul>
                </div>
            </div>
        </div>
        <hr />
        -->
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation">
                        <a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            Subir
                        </a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="#search" aria-controls="search" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            Buscar en biblioteca
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="upload">
                        {% include "media_widget/media_upload.html" %}
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="search">
                    <div id="select_media_widget">
                        {% include "media_widget/media_select.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
