{% load fb_versions %}
<table class="table table-striped table-condensed">
{% for media in media_list %}
    <tr>
        <td>
            <button class="select_media btn btn-primary btn-xs" value="{{media.media_file}}">Seleccionar</button>
        <td/>
        <td>{{ media.name }}</td>
        {% if  media.media_file_field == "image" or media.image_file_field == "image" and media.image != None %}
            <td>
                <a href="{{ media.image }}" target="_blank"><img src="{% version media.image.path 'fb_thumb' %}" title="{{media.description}}" class="thumbnail"/></a>
            </td>
        {% elif media.image_file_field == "image" and media.image == None %}
            <td></td>
        {% endif %}
    <tr/>
{% endfor %}
</table>
