{% load fb_versions %}
<head>
    <!--styles-->
    <link href="{{CYCLOPE_STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <!--scripts-->
    <script type="text/javascript" src="{{CYCLOPE_STATIC_URL}}js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{CYCLOPE_STATIC_URL}}js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{CYCLOPE_STATIC_URL}}js/bootstrap/bootstrap.min.js"></script>
    <!-- TODO move scripts inside app -->
    <script type="text/javascript">
        $(function(){
            // bind select to hidden field
            $("#selectMediaType").change(function(){
                $("#id_media_type").val($(this).val());                
            });
            //retrieve value from hidden field
            if($("#id_media_type").val()){
                $("#selectMediaType").val($("#id_media_type").val());
            }
            // clean message alerts after 5s
            $(".message-row").delay(5000).fadeOut();
        });
    </script>
    {% if file_url %}
    <!-- return to markItUp & insert code -->
    <script type="text/javascript">
        var media_widget = parent.media_widget;
        media_widget.fb_helper.triggerInsert('{{file_url}}', '{{media_type}}');
        media_widget.mediaWidget("close");
    </script>
   {% endif %}
   
</head>
<body>
    <div id="mediaUpload" class="container-fluid">
        {% if messages %}
            {% for message in messages %}
                <div  class="row message-row">
                    <div class="col-xs-12 {% if message.tags %} alert alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="margin-bottom:0;">
                    <label for="selectMediaType">Tipo de contenido a insertar</label>
                    <select id="selectMediaType" class="form-control">
                        <option value="picture">Im&aacute;gen</option>
                        <option value="soundtrack">Audio</option>
                        <option value="movieclip">Video</option>
                        <option value="document">PDF</option>
                        <option value="flashmovie">Flash</option>
                    </select>
                </div>
            </div>
        </div>
        <hr/>
        <!-- TODO ?
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="dropdown">
                  <button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Alineaci&oacute;n
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="#">Izquierda</a></li>
                    <li><a href="#">Derecha</a></li>
                  </ul>
                </div>
            </div>
        </div>
        <hr />
        -->
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            Subir
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#search" aria-controls="search" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            Buscar en biblioteca
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="upload">
                        <!-- Upload file to library before embedding it -->
                        <form method="POST" action="{% url embed-create %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media_type }}
                            <!--
                            <div class="pull-right">
                                Mostrar junto al contenido
                                <input type="checkbox" name="show_name" value="no">
                            </div>
                            -->
                            <div class="form-group {%if form.name.errors%}has-error{%endif%}">
                                <label for="fileName">Nombre</label>
                                {{ form.name }}
                                <span id="fileName" class="help-block">
                                    {{ form.name.errors }}
                                </span>
                            </div>
                            <!--
                            <div class="pull-right">
                                Mostrar junto al contenido
                                <input type="checkbox" name="show_desc" value="no">
                            </div>
                            -->
                            <div class="form-group {%if form.description.errors%}has-error{%endif%}">
                                <label for="fileDesc">Descripci&oacute;n</label>
                                {{ form.description }}
                                <span id="fileDesc" class="help-block">
                                    {{ form.description.errors }}
                                </span>
                            </div>

                            <div class="form-group {%if form.multimedia.errors%}has-error bg-danger{%endif%}">
                                <label for="file">Archivo</label>
                                {{ form.multimedia }}
                                <span id="helpName" class="help-block">
                                    {{ form.multimedia.errors }}
                                </span>
                                <p class="help-block">Selecciona el archivo para subir</p>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <button type="submit" class="btn btn-danger btn-block">
                                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                                        Subir e Insertar
                                    </button>
                                </div>
                                <div class="col-xs-6 text-muted" style="font-size: 10px;">
                                    Recuerda que puedes agregar m&aacute;s datos a este contenido desde la Biblioteca Multimedia.
                                </div>
                            </div>
                        </form>                    
                    </div>
                    <div role="tabpanel" class="tab-pane" id="search">
                    <div id="select_media_widget">
                        <table class="table table-striped table-condensed">
                        {% for media in media_list %}
                            <tr>
                                <td>
                                    <button class="select_media btn btn-primary btn-xs" name="media_id" value="{{media.pk}}">Seleccionar</button>
                                <td/>
                                <td>{{ media.name }}</td>
                                {% if  media.media_file_field == "image" or media.image_file_field == "image" and media.image != None %}
                                    <td>
                                        <a href="{{ media.image }}" target="_blank"><img src="{% version media.image.path 'fb_thumb' %}" title="{{picture.description}}" class="thumbnail"/></a>
                                    </td>
                                {% elif media.image_file_field == "image" and media.image == None %}
                                    <td></td>
                                {% endif %}
                            <tr/>
                        {% endfor %}
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
