{% load fb_versions staticfiles %}
<head>
    <!--styles-->
    <link href="{{CYCLOPE_STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <!--scripts-->
    <script type="text/javascript" src="{{CYCLOPE_STATIC_URL}}{{ CYCLOPE_JQUERY_PATH }}"></script>
    <script type="text/javascript" src="{{CYCLOPE_STATIC_URL}}js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'media_widget/media_widget.js' %}"></script>
    <script type="text/javascript">
    $(function(){ // nRows input
        $("#nPerPage").change(function(){
            n_per_page_change("{{n}}",$(this).val());
        });
    });
    </script>
    <!-- return to markItUp from upload & insert code -->
    {% if file_url %}<script type="text/javascript">media_widget_markitup('{{file_url}}', '{{media_type}}');</script>{% endif %}
</head>
<body>
    <div id="mediaUpload" class="container-fluid">
        {% if messages %}
            {% for message in messages %}
                <div  class="row message-row">
                    <div class="col-xs-12 {% if message.tags %} alert alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="margin-bottom:0;">
                    <label for="selectMediaType">Tipo de contenido a insertar</label>
                    <select id="selectMediaType" class="form-control">
                        <option value="picture">Im&aacute;gen</option>
                        <option value="soundtrack">Audio</option>
                        <option value="movieclip">Video</option>
                        <option value="document">PDF</option>
                        <option value="flashmovie">Flash</option>
                    </select>
                </div>
            </div>
        </div>
        <hr/>
        <!-- TODO
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="dropdown">
                  <button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Alineaci&oacute;n
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="#">Izquierda</a></li>
                    <li><a href="#">Derecha</a></li>
                  </ul>
                </div>
            </div>
        </div>
        <hr />
        -->
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" {% if n == 1 %}class="active"{% endif %}>
                        <a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            Subir
                        </a>
                    </li>
                    <li role="presentation" {% if n > 1 %}class="active"{% endif %}>
                        <a href="#search" aria-controls="search" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            Buscar en biblioteca
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane {% if n == 1 %}active{% endif %}" id="upload">
                        {% include "media_widget/media_upload.html" %}
                    </div>
                    <div role="tabpanel" class="tab-pane {% if n > 1 %}active{% endif %}" id="search">
                    <div id="select_media_widget">
                        {% include "media_widget/media_select.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
