{% load staticfiles i18n %}

<div class="row">
    <div class="col-xs-6 text-left" style="margin-top: 6px;">
        {% blocktrans with pagina.start_index as start and pagina.end_index as end and pagina.paginator.count as total %}
            Results from <strong>{{start}}</strong> to <strong>{{end}}</strong> of <strong>{{total}}</strong>.
        {% endblocktrans %}
    </div>
    <div class="col-xs-6 text-right">
        {% blocktrans %}
            Show <input id="nPerPage" type="number" style="width: 50px;" value="{{nRows}}"/> per page.
        {% endblocktrans %}
    </div>
</div>

<!--Re-bind nRows input on Ajax-->
<script type="text/javascript" src="{% static 'media_widget/pagination_footer.js' %}"></script>
<script type="text/javascript">
$(function(){
    $("#nPerPage").change(function(){
        var query_str = "?n={{n}}" + "&nRows=" + $(this).val();
        {% if widget == 'embed' %}
            change_embed_widget(query_str);
        {% elif widget == 'pictures' %}
            var url = window.location.href;
            //{# param is article_id, absence means new article #}
            {% if param %}
                url = "{% url pictures-upload article_id=param %}" + query_str;
            {% else %}
                url = "{% url pictures-new %}" + query_str;
            {% endif %}
            window.location.href = url; //{#TODO(NumericA) just navigate, or ajax? #}
        {% endif %}
    });
});
</script>
