{% load pagination_link i18n %}

<div class="row text-center">
    <div class="col-xs-3" style="margin-top: 8px;">
        {% if pagina.has_previous %}
            <a href="{% pagination_link widget param pagina.previous_page_number nRows %}" class="paginacion">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp;{% trans 'Atr&aacute;s' %}
            </a>
        {% endif %}
    </div>
    <div class="col-xs-6">
        <h4>
            {%if pagina.has_previous %}
                <small><a href="{% pagination_link widget param 1 nRows %}" class="paginacion">1</a>...</small>
            {%endif%}
            <strong><u>{{n}}</u></strong>
            {%if pagina.has_next%}
                <small>...<a href="{% pagination_link widget param pagina.paginator.num_pages nRows %}" class="paginacion">{{ pagina.paginator.num_pages }}</a></small>
            {%endif%}
        </h4>
    </div>
    <div class="col-xs-3" style="margin-top: 8px;">
        {% if pagina.has_next %}
            <a href="{% pagination_link widget param pagina.next_page_number nRows %}" class="paginacion">
                {% trans 'Siguiente' %}&nbsp;<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
        {% endif %}
    </div>
</div>
