{% load staticfiles %}

<div class="row">
    <div class="col-xs-6 text-left" style="margin-top: 6px;">
        Resultados <strong>{{pagina.start_index}}</strong> a <strong>{{pagina.end_index}}</strong> de <strong>{{pagina.paginator.count}}</strong>.
    </div>
    <div class="col-xs-6 text-right">
        Mostrar <input id="nPerPage" type="number" style="width: 50px;" value="{{nRows}}"/> por página.
    </div>
</div>

<!--Re-bind nRows input on Ajax-->
<script type="text/javascript" src="{% static 'media_widget/pagination_footer.js' %}"></script>
<script type="text/javascript">
$(function(){
    $("#nPerPage").change(function(){
        set_query_str("{{n}}");
        {% if widget == 'embed' %}
            change_embed_widget();
        {% elif widget == 'pictures' %}
            var url = window.location.href;
            //{# param is article_id, absence means new article #}
            {% if param %}
                url = append_query_str_smooth("{% url pictures-upload article_id=param %}");
            {% else %}
                url = append_query_str_smooth("{% url pictures-new %}");
            {% endif %}
            window.location.href = url; // just navigate, or ajax?
        {% endif %}
    });
});
</script>
