{% load staticfiles %}
<head>
    <!--styles-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!--scripts-->
    <script type="text/javascript" src="{% static CYCLOPE_JQUERY_PATH %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'media_widget/pictures_widget.js' %}"></script>
    <script type="text/javascript">
    {% if refresh_widget %}
        {% if article_id %}
            media_widget_refresh("article_id", {{article_id}});
        {% else %}
            {% if new_picture %} // Limon Blues
                dance_hall_queen("blues", "{{new_picture}}", null);
            {% elif remove_picture %} // Limon Reggae
                dance_hall_queen("reggae", null, "{{remove_picture}}");
            {% endif %}
        {% endif %}
    {% endif %}
    </script>
</head>
<body>
    <div class="container-fluid">

        {% if messages %}
            <div id="full-alert" class="alert alert-warning">
            {#<!-- if message.tags %} alert alert-{{ message.tags }}{% endif -->#}
        {% endif %}

        <div class="row text-center" id="visor_pictures_widget"><!--Widget--></div>

        {% for message in messages %}
            <div  class="row message-row">
                <div class="col-xs-12 text-center">
                    {{ message }}
                </div>
            </div>
        {% endfor %}

        {% if messages %}</div>{% endif %}

        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" {% if n == 1 %}class="active"{% endif %}>
                        <a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            Subir
                        </a>
                    </li>
                    <li role="presentation" {% if n > 1 %}class="active"{% endif %}>
                        <a href="#search" aria-controls="search" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            Buscar en biblioteca
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#delete" aria-controls="search" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            Eliminar
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane {% if n == 1 %}active{% endif %}" id="upload">
                        {% include "media_widget/picture_upload.html" %}
                    </div>
                    <div role="tabpanel" class="tab-pane {% if n > 1 %}active{% endif %}" id="search">
                        {% include "media_widget/picture_select.html" %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="delete">
                        {% include "media_widget/picture_delete.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <br />
            <button id="btn-volver" type="button" class="btn btn-default btn-lg btn-block">Volver <small>(Esc)</small></button>
        </div>
    </div>
</body>
