<head>
    <!--styles-->
    <link href="{{CYCLOPE_STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <!--scripts-->
    <script type="text/javascript" src="{{CYCLOPE_STATIC_URL}}js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="{{CYCLOPE_STATIC_URL}}js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{CYCLOPE_STATIC_URL}}js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function(){ // clean message alerts after 8s
            $(".message-row").delay(8000).fadeOut();
        });
    </script>
</head>
<body>
    <div class="container-fluid">
        {% if messages %}
            {% for message in messages %}
                <div  class="row message-row">
                    <div class="col-xs-12 {% if message.tags %} alert alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            Subir
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#search" aria-controls="search" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            Buscar en biblioteca
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="upload">
                        <form method="POST" action="{% url pictures-create %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div style="display: none;">
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            </div>
                            {{ form.non_field_errors }}
                            <!--
                            <div class="pull-right">
                                Mostrar junto al contenido
                                <input type="checkbox" name="show_name" value="no">
                            </div>
                            -->
                            <div class="form-group {%if form.name.errors%}has-error{%endif%}">
                                <label for="fileName">Nombre</label>
                                {{ form.name }}
                                <span id="helpName" class="help-block">
                                    {{ form.name.errors }}
                                </span>
                            </div>
                            <!--
                            <div class="pull-right">
                                Mostrar junto al contenido
                                <input type="checkbox" name="show_desc" value="no">
                            </div>
                            -->
                            <div class="form-group {%if form.name.errors%}has-error{%endif%}">
                                <label for="fileDesc">Descripci&oacute;n</label>
                                {{ form.description }}
                                <span id="helpName" class="help-block">
                                    {{ form.description.errors }}
                                </span>
                            </div>
                            <div class="form-group {%if form.name.errors%}has-error{%endif%}">
                                <label for="file">Archivo</label>
                                {{ form.image }}
                                <span id="helpName" class="help-block">
                                    {{ form.image.errors }}
                                </span>
                                <p class="help-block">Seleccionar archivo</p>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <button type="submit" class="btn btn-danger btn-block">
                                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                                        Subir
                                    </button>
                                </div>
                                <div class="col-xs-6 text-muted" style="font-size: 10px;">
                                    Recuerda que puedes agregar m&aacute;s datos a este contenido desde la Biblioteca Multimedia.
                                </div>
                            </div>
                        </form>                    
                    </div>
                    <div role="tabpanel" class="tab-pane" id="search">
                        <br />
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        Estamos trabajando para Ud.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
