{% extends "admin/change_form.html" %}

{% comment %}
Configures chainedSelect for regions in relation to template
and for views in relation to selected content type for each region
{% endcomment %}

{% block after_related_objects %}

<script type="text/javascript">

  $(function() {
    $("select[id^='id_regionview_set-'][id$='-region']").each(function(i, sel){
      $(sel).chainedSelect({
          parent: '#id_template',
          // this /cyclope/ url should not be hard_coded here
          url: '/{{CYCLOPE_PREFIX}}layout_regions_json',
          value: 'region_name',
          label: 'verbose_name'
      });

      $("#id_regionview_set-"+ i +"-content_view").chainedSelect({
          parent: '#id_regionview_set-'+ i +'-content_type',
          // this /cyclope/ url should not be hard_coded here
          url: '/{{CYCLOPE_PREFIX}}registered_region_views_json',
          value: 'view_name',
          label: 'verbose_name'
      });

      $("#id_regionview_set-"+ i +"-object_id").chainedSelect({
          parent: '#id_regionview_set-'+ i +'-content_type',
          // this /cyclope/ url should not be hard_coded here
          url: '/{{CYCLOPE_PREFIX}}objects_for_ctype_json',
          value: 'object_id',
          label: 'verbose_name'
      });

    });

//TODO(nicoechaniz): this was an attempt at using the same widget as raw_id_fields for a generic related. This version is not working but it would be nice to have.
/*
    $(".object_id").each(function(i, o){
        ct_id = "id_regionview_set-"+i+"-content_type";
        obj_id = "id_regionview_set-"+i+"-object_id"
        $(o).append("<a id='lookup_"+obj_id+"'>aa</a>");

        $("#"+ct_id).change(function () {
            var type = $("#"+ct_id+" option:selected").text();
            var good_choice = true;
            var link_root = '../../../cyclope/';
            m = $("#lookup_"+obj_id)
            $("#lookup_"+obj_id).html("<a onclick='return showRelatedObjectLookupPopup(this);' id='lookup_"+obj_id+"' class='related-lookup' href='../../../cyclope/region/'>lookup</a>");
            $("#lookup_"+obj_id).text("Lookup " + type);
            $("#lookup_"+obj_id).attr('href', link_root + type + '/?t=id');
        }).change();
    });
*/

  });




</script>

{% endblock %}
