{% load i18n cyclope_utils %}
{% if current_object.categories.values %}
<div>
<span class="categories">
{% comment %}    {% trans "Categories" %}: {% endcomment %}
     {% for categorization in current_object.categories.all %}
            {% alias categorization.category as 'category' %}
            {% if category.collection.visible %}

            <a href="{% url category-default category.slug %}" class="btn btn-default" role="button">
               
                    {{ category.name }} <span class="glyphicon glyphicon-tags" aria-hidden="true"></span></a>
               
            {% endif %}
        {% endfor %}
   
</span></div>
{% endif %}
