{% extends host_template %}

{% load i18n cyclope_utils %}

{% block content %}

  {% if not region_view %}
  <div id="categories_navigation">
    {% if category.parent %}
      <a href="{% url category-teaser_list category.parent.slug %}" class="parent">{{ category.parent.name }}</a>
    {% else %}
      <a href="{% url collection-root_categories_teaser_list category.collection.slug %}" class="parent">{{ category.collection.name }}</a>
    {% endif %}

    {% if category.children.all %}
      <ul>
        {% for child in category.children.all %}
          <li> <a href="{% url category-teaser_list child.slug %}" class="children">{{ child.name }}</a> </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  {% endif%}

  {% if category.collection.visible %}
  <big class="category_title">{{ category.name }}</big>
  {% endif %}

  {% comment %}
  We show a teaser view of every object belonging to this category.
  {% endcomment %}

  <div class="icon_list_container">

  {% for categorization in categorizations %}
    {% join categorization.content_type.app_label  "/" categorization.content_type.model "_labeled_icon.html" as template_path %}

    {% comment %}
      we alias the actual object with the model name
      so the included template is reusable
      and can access the content object using an explicit name
    {% endcomment %}

    {% alias categorization.content_object as categorization.content_type.model %}
    {% include template_path %}
  {% endfor %}

  </div>

<!--  <div class="pagEspacio"></div> -->
  {% if page %}
    {% include 'cyclope/pagination_block.html' %}
  {% endif %}

{% endblock %}
