{% extends host_template %}

{% load i18n cyclope_utils fb_versions %}

{% block content %}

{% include 'collections/hierarchycal_navigation_block.html' %}

{% if category.description %}
<span class="collection_teaser">{% if category.image %}
<img class="image" src="{% version category.image.path 'small' %}" border="0"/>
{% endif %}
<h3 class="summary">
  {{ category.description|smart_style }}
</h3>
</span>
{% else %}

{% if category.image %}
<span class="collection_teaser">
<img class="image" src="{% version category.image.path 'small' %}" border="0"/>
</span>
{% endif %}

{% endif %}

  {% comment %}
  The content of this view is composed by including a template for each content in the category
  The included template may be something different from a teaser
  {% endcomment %}

  {% for categorization in categorizations %}
    {% join categorization.content_type.app_label  "/" categorization.content_type.model "_" inline_view_name ".html" as template_path %}

    {% comment %}
      we alias the actual object with the model name
      so the included template is reusable
      and can access the content object using an explicit name
    {% endcomment %}
    {% alias categorization.content_object as categorization.content_type.model %}

    {% comment %}
      we also alias as 'media' because some medialibrary templates expect this name
    {% endcomment %}
    {% alias categorization.content_object as 'media' %}

    {% include template_path %}
  {% endfor %}

  {% if page %}
    {% include 'cyclope/pagination_block.html' %}
  {% endif %}

{% endblock %}
