{% extends 'collections/category_contents_base.html' %}

{% load i18n cyclope_utils %}

{% block category_content %}

<!--{% include 'collections/hierarchycal_navigation_block.html' %}-->

    <div class='link-create-topic'>
        <!-- Indicates a successful or positive action -->
	    <a href="{% url category-create_topic category.slug %}" class="btn btn-success">{% trans 'Create a new topic' %}</a>
    </div>


        <div class="clear"></div>


    <div class='forum'>

        <table>
            <thead>
                <tr>
                    <th class="name">{% trans 'Subject' %}</th>
                    <th class="comments">{% trans 'Replies'%}</th>
                    <th class="last_comment">{% trans 'Last comment' %}</th>
                </tr>
            </thead>
            {% for categorization in categorizations %}
            {% alias categorization.content_object as 'obj' %}
                {% if not user.is_authenticated and not obj.published %}{% else %}
                    <tbody>
                        <tr class="item">
                             <td class="object">
                                 <h5 class="topic"><a href="{{ obj.url }}">{{ obj.name }}</a></h5>
                                 <p class="created"> {% trans 'Created'%} {{ obj.creation_date|date:'DATETIME_FORMAT' }}</p>
                             </td>
                             <td class="comment">{{ obj.comments_count }}</td>
                             <td class="last_comment">{% if obj.last_comment_date %}{{ obj.last_comment_date|date:'m/d/Y, P' }}  {% trans 'by' %} {{ obj.last_comment_author }} {% endif %}
                             </td>
                        </tr>
                    </tbody>       
				{% endif %}
            {% endfor %}
        </table>
    </div>

  {% if page %}
    {% include 'cyclope/pagination_block.html' %}
  {% endif %}

{% endblock %}
