{% extends host_template %}

{% block content %}

<script type="text/javascript">
jQuery(document).ready(function(){
  $('#{{ collection_slug }}_collection ul').css('display', 'none');
  $("#{{ collection_slug }}_collection ul").first().css('display', 'block');
  $('#{{ collection_slug }}_collection .expand_collapse').click(function() {
    if ($(this).text() == '+') $(this).text('-');
    else $(this).text('+');
    $(this).parent().children('ul').toggle();
    return false;
  });
});
</script>

<ul>
  {{ categories|unordered_list }}
</ul>


{% endblock content%}
