{% extends host_template %}

{% block content %}
<script type="text/javascript">
    var hide_children= function (el){
        $(el).children('ul').css('display', 'none');
    }

    jQuery(document).ready(function(){
        hide_children($('#{{ collection_slug }}_collection_{{ region_name }} .has_children').parent())
        $('#{{ collection_slug }}_collection_{{ region_name }} ul li').mouseenter(function() {
            $(this).children('ul').css('display', 'block');
        });
        $('#{{ collection_slug }}_collection_{{ region_name }}').mouseleave(function(){
            hide_children($('#{{ collection_slug }}_collection_{{ region_name }} .has_children').parent())
        });
    });
</script>

<ul>
  {{ categories|unordered_list }}
</ul>
{% endblock content%}

