{% extends host_template %}

{% load i18n cyclope_utils tagging_tags fb_versions %}

{% block content %}

    {% include 'collections/collection_info.html' %}

    {% for category in categories %}

    <div class="category teaser {% if category.image %}clear_right{% endif %}" >
      <h2 class="title"><a href="{% url category-default category.slug %}">{{ category.name }}</a></h2>
      {% if category.image %}
      <a href="{% url category-default category.slug %}">
        <img class="icon" src="{% version category.image.path 'thumbnail' %}" border="0"/>
      </a>
      {% endif %}

      {% if category.description %}
      <div class="text">
        {{ category.description|safe }}
      </div>
      {% endif %}

      <div class="bottom"></div>
    </div>
    {% endfor %}

  </div>

{% endblock %}
