{% extends host_template %}

{% load i18n cyclope_utils tagging_tags fb_versions %}

{% block content %}

  <div class="collection {{ collection.slug }}">
    {% if collection.visible %}
    <big class="title">{{ collection.name }}</big>
    {% endif %}

    {% if collection.image %}
    <img src="{% version collection.image.path 'small' %}" border="0"/>
    {% endif %}

    {% if collection.description %}
    <div class="text">
      {{ collection.description|safe }}
    </div>
    {% endif %}

    {% for category in categories %}

    <div class="category teaser">
      <h2 class="title"><a href="{% url category-teaser_list category.slug %}">{{ category.name }}</a></h2>
      <div class="text">
        {{ category.description|safe }}
      </div>
      <div class="bottom"></div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
