{% if category.collection.visible %}
  {% with children=category.children.all %}
  <!-- <ol id="categories_navigation" class=" {{ category.collection.slug }} {{ category.slug }}{% if children %} children{% endif %}" style="background:#333;"> -->
    {% if category.parent %}
      <li><a href="{% url category-default category.parent.slug %}" class="parent">{{ category.parent.name }}</a></li>
    {% else %}
      <li><a href="{% url collection-root_categories_teaser_list category.collection.slug %}" class="parent">{{ category.collection.name }}</a></li>
    {% endif %}

    {% if children %}
      <ol>
        {% for child in children %}
          <li> <a href="{% url category-default child.slug %}" class="children">{{ child.name }}</a> </li>
        {% endfor %}
      </ol>
    {% endif %}
  <!-- </ol> -->
  {% endwith %}
{% endif %}
