include LICENSE.txt README.rst CONTRIBUTORS.rst CHANGELOG.rst
recursive-include cyclope/media *
recursive-include cyclope *.html *.txt *.py
recursive-include cyclope/fixtures *.json
recursive-include cyclope/locale *.po *.mo
