include LICENSE.txt README.rst CONTRIBUTORS.rst
recursive-include cyclope/templates *.html *.txt
recursive-include cyclope/media *
recursive-include cyclope/apps/*/templates *.html *.txt
recursive-include cyclope/fixtures *.json
