{% extends host_template %}

{% load i18n cyclope_utils fb_versions %}

{% block content %}

{% alias media as 'current_object' %}

<div class="content-view document media detail">

  {% include 'medialibrary/media_detail_header.html' %}

  {% if media.image %}
    <div class="media-content"><img src="{% version media.image.path 'big' %}"/></div>
  {% endif %}
  <div class="action-content download_link"><a href="{{ media.document }}">{% trans "download file" %}</a></div>

  <div class="html-content description">{{ media.description|safe }}</div>

  {% include 'medialibrary/media_detail_footer.html' %}

  {% include 'cyclope/related_contents_block.html' %}

  <hr>

  <!--COMENTARIOS -->
  {% include 'comments/comments_block.html' %}

</div> <!--termina media_detail -->

{% endblock content%}
