{% load fb_versions cyclope_utils %}

  <div class="media teaser movieclip">
    <a href="{% url document-detail document.slug %}">
      {% if document.image %}
      <img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/document.png" width="48px" border="0"/>
      <img src="{% version document.image.path 'thumbnail' %}" width="135" border="0"/>
      {% else %}
      <img class="icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/document.png" width="135" border="0"/>
      {% endif %}

    </a>
    <span class="label"><a href="{% url document-detail document.slug %}">{{ document.name|truncatechars:40 }}</a></span>
  </div>
