{% load i18n fb_versions cyclope_utils %}

  <div class="content-view document teaser">

    <h2 class="title"><img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/document.png" alt="{% trans "Document" %}"/><a href="{% url document-detail document.slug %}">{{ document.name }}</a></h2>

    {% if document.image %}
      <div class="teaser_icon_container"><img class="teaser_icon" src="{% version document.image.path 'small' %}" alt="{% trans "Document" %}" /></div>
    {% endif %}

    {% if document.description %}
      <div class="html-content summary">{{ document.description|smart_style }}</div>
    {% endif %}

    {% include "cyclope/author_block.html" with author=document.author %}

    {% if document.image %}
    <br class="floating-img-clear" />
    {% endif %}

    <div class="clear"></div>
  </div>
