{% extends host_template %}

{% load i18n cyclope_utils fb_versions %}

{% block content %}

{% alias media as 'current_object' %}

<div class="content-view document media detail">

  {% include 'medialibrary/media_detail_header.html' %}

  {% if media.image %}
    <img src="{% version media.image.path 'big' %}"/>
  {% endif %}
  <div><span class="download_link"><a href="{{ media.document }}">{% trans "download file" %}</a></span></div>

  <div><span class="html-text">{{ media.description|safe }}</span></div>

  {% include 'medialibrary/media_detail_footer.html' %}

  {% include 'cyclope/related_contents_block.html' %}

  <hr>

  <!--COMENTARIOS -->
  {% include 'comments/comments_block.html' %}

</div> <!--termina media_detail -->

{% endblock content%}
