{% load fb_versions cyclope_utils %}

  <div class="content-view media labeled_icon flashmovie">
    <a href="{% url flashmovie-detail flashmovie.slug %}">
      {% if flashmovie.image %}
      <img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/flash.png"/>
      <img class="icon" src="{% version flashmovie.image.path 'thumbnail' %}"/>
      {% else %}
        <img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/flash.png" border="0"/>
        <img class="icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/not-available.png" border="0"/>
      {% endif %}

    </a>
    <h2 class="title"><a href="{% url flashmovie-detail flashmovie.slug %}">{{ flashmovie.name|truncatechars:40 }}</a></h2>
  </div>
