{% load i18n tagging_tags fb_versions cyclope_utils %}

  <div class="content-view flashmovie teaser">

     <h2 class="title"><img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/flash.png" /><a href="{% url flashmovie-detail flashmovie.slug %}">{{ flashmovie.name }}</a></h2>

     {% if flashmovie.image %}
       <div class="media-content teaser_icon_container"><img class="teaser_icon" src="{% version flashmovie.image.path 'small' %}"/></div>
     {% endif %}

     {% if flashmovie.description %}
       <h3 class="html-content summary">{{ flashmovie.description|smart_style }}</h3>
     {% endif %}

    {% include "cyclope/author_block.html" with author=flashmovie.author %}

    {% if flashmovie.tags %}
        <div class="meta-content"><span class="tags">
          <span class="tags-label">{% trans "Tags" %}:</span>
          {% tags_for_object flashmovie as flashmovie_tags %}
          {% for tag in flashmovie_tags %}
            <!--<a href="/tag/{{ tag.name|slugify }}" class="tag">{{tag.name}}</a>-->
            {{tag.name}}{% if not forloop.last%},{% endif%}
          {% endfor %}
        </span></div>
    {% endif %}

    <div class="clear"></div>
  </div>
