{% load fb_versions cyclope_utils %}

  <div class="content-view media labeled_icon flashmovie">
    <a href="{% url flashmovie-detail flashmovie.slug %}">
      {% if flashmovie.image %}
      <img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/flash.png"/>
      <img src="{% version flashmovie.image.path 'thumbnail' %}"/>
      {% else %}
      <img class="icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/flash.png"/>
      {% endif %}

    </a>
    <span class="label"><a href="{% url flashmovie-detail flashmovie.slug %}">{{ flashmovie.name|truncatechars:40 }}</a></span>
  </div>
