{% extends host_template %}

{% load i18n cyclope_utils %}

{% block content %}

{% alias media as 'current_object' %}

<div class="movieclip media detail">

  {% include 'medialibrary/media_detail_header.html' %}

<object type="application/x-shockwave-flash" data="{{ media.flash}}"
uality="high" bgcolor="#10153f" align="middle" allowScriptAccess="sameDomain" allowFullScreen="true" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" >
  <param name="movie" value="{{ media.flash}}" />
</object>

  <span class="text">{{ media.description|safe }}</span>

  <!--COMENTARIOS -->
  {% include 'comments/comments_block.html' %}

</div> <!--termina media_detail -->

{% endblock content%}
