{% load i18n fb_versions cyclope_utils dbgettext_tags %}

{% block wholecontent %}
{% block head %}
<div class="content-view {{media.get_object_name}} media slideshow">
  {% if view_options.show_title %}
    <h2 class="title"><a href="{{media.get_absolute_url}}">{{ media.name }}</a></h2>
  {% endif %}
  {% if media.image %}
    <div class="media-content slideshow_{{media.get_object_name}}"><img src="{% version media.image.path 'slideshow' %}"/></div>
  {% endif %}
{% endblock head %}

  {% block content %}
  <div class="action-content download_link"><a href="{{ media.file }}">{% trans "download file" %}</a></div>
  {% endblock content %}

  {% block description %}
  {% if view_options.show_description %}
    {% if media.description %}
      <h3 class="summary">{{ media.description|smart_style }}</h3>
    {% endif %}
  {% endif %}
  {% endblock description %}
</div>
{% endblock wholecontent %}
