{% extends host_template %}

{% load i18n cyclope_utils %}

{% block content %}

{% alias media as 'current_object' %}
{% alias media.video as 'media_file' %}

<div class="content-view movieclip media detail movieclip-detail">

  {% include 'medialibrary/media_detail_header.html' %}

  {% assign player_height '320' %}
  {% include 'medialibrary/media_player.html' %}

  <div class="html-content">{{ media.description|smart_style }}</div>

  {% include 'medialibrary/media_detail_footer.html' %}

  {% include 'cyclope/related_contents_block.html' %}

  <hr>

  <!--COMENTARIOS -->
  {% include 'comments/comments_block.html' %}

</div> <!--termina media_detail -->

{% endblock content%}
