{% load fb_versions cyclope_utils %}

  <div class="content-view media labeled_icon movieclip">
    <a href="{% url movieclip-detail movieclip.slug %}">
      {% if movieclip.still %}
      <img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/video.png"/>
      <div class="crop_container"><img src="{% version movieclip.still.path 'thumbnail' %}" width="124" /></div>
      {% else %}
      <div class="crop_container"><img class="icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/video-medium.png"/></div>
      {% endif %}

    </a>
    <span class="label"><a href="{% url movieclip-detail movieclip.slug %}">{{ movieclip.name|truncatechars:40 }}</a></span>
  </div>
