{% load i18n tagging_tags fb_versions %}

  <div class="content-view movieclip teaser movieclip-teaser">

     <h2 class="title"><img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/video.png" /><a href="{% url movieclip-detail movieclip.slug %}">{{ movieclip.name }}</a></h2>

     {% if movieclip.image %}
       <div class="teaser_icon_container"><img class="teaser_icon" src="{% version movieclip.image.path 'small' %}" width="135" border="0" /></div>
     {% endif %}

     {% if movieclip.description %}
       <p class="description">{{ movieclip.description }}</p>
     {% endif %}

     {% if movieclip.author %}
       <div class="author_container"><span class="author">{% trans "By" %} {{ movieclip.author }}</span></div>
     {% endif %}

     {% if movieclip.tags %}
         <div><span class="tags">
           {% trans "Tags" %}:
           {% tags_for_object movieclip as movieclip_tags %}
           {% for tag in movieclip_tags %}
             <!--<a href="/tag/{{ tag.name|slugify }}" class="tag">{{tag.name}}</a>-->
             {{tag.name}}{% if not forloop.last%},{% endif%}
           {% endfor %}
         </span></div>
     {% endif %}

    <div class="clear"></div>
  </div>
