{% load i18n cyclope_utils %}

{% block content %}

{% alias media as 'current_object' %}
{% alias media.video as 'media_file' %}

<div class="content-view movieclip media detail movieclip-detail">

  {% include 'medialibrary/media_detail_header.html' %}

  {% assign player_height '320' %}
  {% include 'medialibrary/media_player.html' %}

  <h3 class="html-content summary">{{ media.description|smart_style }}</h3>

  {% include 'medialibrary/media_detail_footer.html' %}


</div> <!--termina media_detail -->

{% endblock content%}
