{% load i18n tagging_tags fb_versions %}

  <div class="content-view picture teaser picture-teaser">

     <h2 class="title"><img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/image.png"/><a href="{% url picture-detail picture.slug %}">{{ picture.name }}</a></h2>

     <a href="{% url picture-detail picture.slug %}">
        <div class="teaser_icon_container"><img class="teaser_icon" src="{% version picture.image.path 'small' %}" border="0" /></div>
     </a>

     {% if picture.description %}
       <p class="description">{{ picture.description }}</p>
     {% endif %}

     {% if picture.author %}
       <div class="author_container"><span class="author">{% trans "By" %} {{ picture.author }}</span></div>
     {% endif %}

     {% if picture.tags %}
        <div><span class="tags">
          {% trans "Tags" %}:
          {% tags_for_object picture as picture_tags %}
          {% for tag in picture_tags %}
            <!--<a href="/tag/{{ tag.name|slugify }}" class="tag">{{tag.name}}</a>-->
            {{tag.name}}{% if not forloop.last%},{% endif%}
          {% endfor %}
        </span></div>
     {% endif %}

     <div class="clear"></div>

  </div>
