{% extends host_template %}

{% load i18n cyclope_utils fb_versions %}

{% block content %}

{% alias media as 'current_object' %}

<div class="picture media detail">

  {% include 'medialibrary/media_detail_header.html' %}

  <img src="{% version media.image.path 'big' %}"/>
  <span class="text">{{ media.description|safe }}</span>

  {% include 'cyclope/related_contents_block.html' %}
  <!--COMENTARIOS -->
  {% include 'comments/comments_block.html' %}

</div> <!--termina media_detail -->

{% endblock content%}
