{% load i18n tagging_tags fb_versions %}

  <div class="regularfile teaser">
     <img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/regularfile.png" />
     <h2 class="title"><a href="{% url regularfile-detail regularfile.slug %}">{{ regularfile.name }}</a></h2>
    {% if regularfile.image %}
      <img class="teaser_icon" src="{% version regularfile.image.path 'thumbnail' %}"/>
    {% endif %}
    {% if regularfile.description %}
      <p class="description">{{ regularfile.description }}</p>
    {% endif %}
    {% if regularfile.author %}
      <span class="author">{% trans "By" %} {{ regularfile.author }}</span>
    {% endif %}
    {% if regularfile.tags %}
        <span class="tags">
          <h3>
          {% trans "Tags" %}:
          {% tags_for_object regularfile as regularfile_tags %}
          {% for tag in regularfile_tags %}
            <!--<a href="/tag/{{ tag.name|slugify }}" class="tag">{{tag.name}}</a>-->
            {{tag.name}}{% if not forloop.last%},{% endif%}
          {% endfor %}
          </h3>
        </span>
    {% endif %}
    <div class="clear"></div>
  </div>
