{% load i18n tagging_tags fb_versions %}

  <div class="content-view regularfile teaser regularfile-teaser">

    <h2 class="title"><img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/regularfile.png" /><a href="{% url regularfile-detail regularfile.slug %}">{{ regularfile.name }}</a></h2>

    {% if regularfile.image %}
      <div class="teaser_icon_container"><img class="teaser_icon" src="{% version regularfile.image.path 'thumbnail' %}" width="90" border="0" /></div>
    {% endif %}

    {% if regularfile.description %}
      <p class="description">{{ regularfile.description }}</p>
    {% endif %}

    {% if regularfile.author %}
      <div class="author_container"><span class="author">{% trans "By" %} {{ regularfile.author }}</span></div>
    {% endif %}

    {% if regularfile.image %}
      <br class="floating-img-clear" />
    {% endif %}

    {% if regularfile.tags %}
        <div><span class="tags">
          {% trans "Tags" %}:
          {% tags_for_object regularfile as regularfile_tags %}
          {% for tag in regularfile_tags %}
            <!--<a href="/tag/{{ tag.name|slugify }}" class="tag">{{tag.name}}</a>-->
            {{tag.name}}{% if not forloop.last%},{% endif%}
          {% endfor %}
        </span></div>
    {% endif %}

    <div class="clear"></div>
  </div>
