{% load i18n tagging_tags fb_versions cyclope_utils %}

  <div class="content-view regularfile teaser regularfile-teaser">

    <h2 class="title"><img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/regularfile.png" /><a href="{% url regularfile-detail regularfile.slug %}">{{ regularfile.name }}</a></h2>

    {% if regularfile.image %}
      <div class="media-content teaser_icon_container"><img class="teaser_icon" src="{% version regularfile.image.path 'thumbnail' %}" width="90" border="0" /></div>
    {% endif %}

    {% if regularfile.description %}
      <h3 class="html-content summary">{{ regularfile.description|smart_style }}</h3>
    {% endif %}

    {% if regularfile.author %}
      <div class="meta-content author_container"><h4 class="author">{% trans "By" %} {{ regularfile.author }}</h4></div>
    {% endif %}

    {% if regularfile.image %}
      <br class="floating-img-clear" />
    {% endif %}

    {% if regularfile.tags %}
        <div class="meta-content"><span class="tags">
          <span class="tags-label">{% trans "Tags" %}:</span>
          {% tags_for_object regularfile as regularfile_tags %}
          {% for tag in regularfile_tags %}
            <!--<a href="/tag/{{ tag.name|slugify }}" class="tag">{{tag.name}}</a>-->
            {{tag.name}}{% if not forloop.last%},{% endif%}
          {% endfor %}
        </span></div>
    {% endif %}

    <div class="clear"></div>
  </div>
