{% load fb_versions cyclope_utils %}

  <div class="content-view media labeled_icon soundtrack">
    <a href="{% url soundtrack-detail soundtrack.slug %}">
      {% if soundtrack.image %}
      <img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/audio.png"/>
      <img class="icon" src="{% version soundtrack.image.path 'thumbnail' %}"/>
      {% else %}
      <img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/audio.png" border="0"/>
        <img class="icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/not-available.png" border="0"/>
      {% endif %}

    </a>
    <h2 class="title"><a href="{% url soundtrack-detail soundtrack.slug %}">{{ soundtrack.name|truncatechars:40 }}</a></h2>
  </div>
