{% load i18n tagging_tags fb_versions %}

  <div class="content-view soundtrack teaser soundtrack-teaser">

    <h2 class="title"><img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/audio.png" /><a href="{% url soundtrack-detail soundtrack.slug %}">{{ soundtrack.name }}</a></h2>

    {% if soundtrack.author %}
      <div class="teaser_icon_container"><span class="author">{% trans "By" %} {{ soundtrack.author }}</span></div>
    {% endif %}

    {% if soundtrack.description %}
      <p class="description">{{ soundtrack.description }}</p>
    {% endif %}

    {% if soundtrack.tags %}
        <div><span class="tags">
          {% trans "Tags" %}:
          {% tags_for_object soundtrack as soundtrack_tags %}
          {% for tag in soundtrack_tags %}
            <!--<a href="/tag/{{ tag.name|slugify }}" class="tag">{{tag.name}}</a>-->
            {{tag.name}}{% if not forloop.last%},{% endif%}
          {% endfor %}
        </span></div>
    {% endif %}

    <div class="clear"></div>
  </div>
