{% extends host_template %}

{% load i18n cyclope_utils %}

{% block content %}

{% alias media as 'current_object' %}
{% alias media.audio as 'media_file' %}

<div class="content-view soundtrack media detail">

  {% include 'medialibrary/media_detail_header.html' %}

  {% assign player_height '24' %}
  {% include 'medialibrary/media_player.html' %}

  <div><span class="html-text">{{ media.description|safe }}</span></div>

  {% include 'medialibrary/media_detail_footer.html' %}

  {% include 'cyclope/related_contents_block.html' %}

  <hr>

  <!--COMENTARIOS -->
  {% include 'comments/comments_block.html' %}

</div> <!--termina media_detail -->

{% endblock content%}
