{% load i18n  cyclope_utils %}

<div class="teaser_icon {% inline_content_classes %}">
	<div class="thumbnail">
		<a href="{% url 'article-detail' article.slug %}">
			{% if article.pictures.values %}
				{% with picture=article.pictures.values|first %}
					<img class="img-responsive" src="{% version picture.image 'labeled_icon_bootstrap' %}" alt="{{ article.name }}" border="0"/>
				{% endwith %}
			{% else %}
				<img class="img-responsive" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/not-available.png" alt="not-available" border="0"/>
			{% endif %}
		</a>
		<div class="caption">
			<h4 class="title">
				<a href="{% url 'article-detail' article.slug %}">{{ article.name|truncatechars:40 }}</a>
			</h4>
			<p class="teaser_more">
				<a class="btn btn-primary" href="{{ article.get_absolute_url }}" role="button">{% trans "More" %}</a>
				{% include "cyclope/teaser_tools_block.html" with current_object=categorization.content_object %}
				<img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/article.png" alt="article icon"/>
			</p>
		</div>
	</div>
</div>
