{% load i18n cyclope_utils fb_versions dbgettext_tags %}

  <div class="newsletter_teaser">
<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <div class="teaser">

      {% if current_object.pretitle %} <span class="pretitle"><a name="editorial">{% trans current_object.pretitle %}</a></span>{% endif %}
      <h2 class="title"><a name="article__{{ current_object.slug }}" href="{% url article-detail current_object.slug %}">
        {% trans current_object.name  %}</a></h2>

      {% if current_object.pictures.values %}
      {% with picture=current_object.pictures.values|first %}
      <a href="{% url article-detail article.slug %}">
        <img class="newsletter_image" src="{% version picture.image 'newsletter_teaser' %}" alt="{{ picture.name }}"/>
      </a>
      {% endwith %}
      {% endif %}

      <a href="{% url article-detail article.slug %}">
        <div class="summary">{{ article|parsed_gettext:"summary"|smart_style }}</div>
      </a>
      <div class="download_link"><a href="{{ article.get_absolute_url }}"> {% trans "Open" %}</a></div>
      {% if article.author %}
      <h4 class="author">{% trans "By"%} {{ article.author }}</h4>
      {% endif %}

        {% block media_content %}
        {% endblock media_content %}

        {% if newsletter.view == "content" %}
            <span class="text">
                {{ article|parsed_gettext:"text"|smart_style}}
            </span>
        {% endif %}

   {% if newsletter.show_ToC %}<div class="show-ToC"><a href="#ToC">{% trans "Return to Table of Contents" %}</a></div>{% endif %}
      <div class="clear"></div>

</div>

    </td>
  </tr>
</table>
</div>
