{% extends host_template %}

{% comment%}
TODO(nicoechaniz): finish adaptation from smarty to django. add trans to text that should be translated
{% endcomment%}

{% load comments i18n fb_versions cyclope_utils dbgettext_tags%}

{% block content %}

{% alias article as 'current_object' %}

<div class="content-view article detail article-detail">

  {% if article.pretitle %}
  <h6 class="pretitle">{% trans article.pretitle %}</h6>
  {% endif %}
  <h1 class="title">{% trans article.name  %}</h1>

  <!-- herramientas -->
  {% include 'cyclope/content_tools_block.html' %}

  <!-- descripcion -->
  {% if article.summary %}
  <h3 class="summary">{{ article|parsed_gettext:"summary"|smart_style }}</h3>
  {% endif%}
  <!-- /descripcion -->

  {% if article.pictures %}
  <div id="gallery" class="media-content">
    <ul>
      {% for picture in article.pictures %}
      <li {% if not forloop.first %} style="display:none;" {% endif %} >
        <a href="{% version picture.image.path 'medium' %}"  title="{{ picture.name }}">
          <img src="{% version picture.image.path 'small' %}" alt="{{ picture.name }}" />
        </a>
        <p>{{ picture.name }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}


  <!-- author -->
  {% if article.author %}
  <h4 class="author" class="meta-content">
    {% if article.author.image %}
    <img src="" width="60"  />
    {% endif %}
    <span class="author">{% trans "By"%} {{ article.author }}</span>
  </h4>
  {% endif %}
  <!-- /autor -->

    <!-- descargas -->

<!-- TODO(nicoechaniz): uncomment and fix when attachments are implemented

            {if $articulo.downloads eq 'si'}

          <div id="attachments">
          <div class="attachments_box">
            <h6><img src="{$templatedir}{{ CYCLOPE_THEME_MEDIA_URL }}images/css/leer_adjuntos.png" alt="Adjuntos"  width="16" height="16" border="0" align="absmiddle" /> Archivos para descargar </h6>
             {section name=bucle loop=$downloads}
            <p><img src="http://codigosur.org/imagenes/icons/{$downloads[bucle].ext}.gif" width="20" height="22" border="0" align="middle"> <a href="{$downloads[bucle].link}" title="{$downloads[bucle].desc}" >{$downloads[bucle].nombre}</a></p>
            {/section}
           </div>
          </div>

          {/if}
-->
          <!-- /descargas -->

  <div><span class="html-text html-content text">
    {{ article|parsed_gettext:"text"|smart_style}}
  </span></div>

{% if article.get_last_change_date or article.source %}
       {% if article.source %}
    <h6 class="source">
       <!-- {% if article.get_last_change_date %}|{% endif%} -->
      {% trans "Source" %}: {{article.source}}
    </h6>
    {% endif %}
    
    {% if article.get_last_change_date %}
    <span class="date">
      {% trans "Last modification date" %}: {{ article.get_last_change_date }}
    </span>
    {% endif %}

 
{% endif %}

{% comment %} {# TAGS ARE NOT IMPLEMENTED YET #}
  {% if article.tags %}
    <div class="meta-content"><span class="tags"><span class="tags-label"> {% trans "Tags" %}:</span>{{ article.tags }}</span></div>
  {% endif %}
{% endcomment %}

<div class="meta-content">{% include 'collections/categories_navigation_block.html' %}</div>


  {% include 'cyclope/related_contents_block.html' %}


	      <div class="clear"></div>
     <!-- redsocial #TODO: commented until fixed
           <div id="socialnetworks" class="socialnetworks">{% trans "Share in your social networks"%}:
<a href="http://www.facebook.com" rel="nofollow" onclick="sbs_facebook(); return false;"><img src="{{ CYCLOPE_THEME_MEDIA_URL }}images/redsocial/facebook.png" border="0" alt="Compartir en Facebook" title="Compartir en Facebook" height="24" width="24" /></a>
<a href="http://www.del.icio.us" rel="nofollow" onclick="sbs_delicious(); return false;"><img src="{{ CYCLOPE_THEME_MEDIA_URL }}images/redsocial/delicious.png" border="0" alt="Compartir en Delicious" title="Compartir en Delicious" height="24" width="24" /></a>
<a href="http://www.yahoo.com" rel="nofollow" onclick="sbs_yahoobm(); return false;"><img src="{{ CYCLOPE_THEME_MEDIA_URL }}images/redsocial/yahoo.png" border="0" alt="Compartir en Yahoo" title="Compartir en Yahoo" height="24" width="24" /></a>
<a href="http://www.google.com" rel="nofollow" onclick="sbs_googlebm(); return false;"><img src="{{ CYCLOPE_THEME_MEDIA_URL }}images/redsocial/google.png" border="0" alt="Compartir en Google" title="Compartir en Google" height="24" width="24" /></a>
  	</div>

            <div class="clear"></div>
          /redsocial -->



<!--COMENTARIOS -->
  {% include 'comments/comments_block.html' %}

</div> <!--termina article_detail -->

{% endblock content%}
