{% load i18n fb_versions cyclope_utils dbgettext_tags %}

<div class="item {% ifequal first_content article %}active{% endifequal %} article content-view">

  <a href="{% url article-detail article.slug %}">
    {% if article.get_picture %}
      <img class="img-responsive" src="{% version article.get_picture.image.path 'carrousel_bootstrap' %}" alt="{{ article.name }}" border="0"/>
    {% else %}
      <img src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/not-available.png" alt="" border="0"/>
    {% endif %}
  </a>

  <div class="carousel-caption">
    {% if view_options.show_title %}
    <h3>
      <a href="{% url article-detail article.slug %}">{{ article.name|truncatechars:80 }}</a>
    </h3>
    {% endif %}
    {% if view_options.show_description %}
    <p>
      {% if article.summary %}
        {{ article|parsed_gettext:"summary"|smart_style|truncatewords_html:40 }}
      {% else %}-
        {{ article|parsed_gettext:"text"|smart_style|truncatewords_html:40 }}
      {% endif %}
    </p>
    {% endif %}
  </div>

</div>

