{% load i18n fb_versions dbgettext_tags cyclope_utils %}
<div class="content-view article teaser article-teaser {% inline_content_classes %}">
	{% if simplified_view %}
		<div class="teaser_text_container_simplified">
			<h2 class="title">
				<a href="{{ article.get_absolute_url }}">{{ article.name }}</a>
			</h2>
			{% include "cyclope/author_block_teaser.html"  %}
		</div>
	{% else%}
		{% if article.pictures.values %}
			{% with picture=article.pictures.values|first %}
				<div class="teaser_icon_container hidden-xs">
					<a href="{{ article.get_absolute_url }}" title="{{ picture.name }}">
						<img class="teaser_icon img-responsive" src="{% version picture.image 'medium' %}" alt="{{ picture.name }}" />
					</a>
				</div>
			{% endwith %}
		{% endif %}
		<div class="teaser_text_container{% if article.pictures.values.count == 0 %}_fullwidth{% endif %}">
			<div class="pretitle-container first meta-content">
				{% if  article.pretitle %}
					<div class="pretitle">{% trans article.pretitle %}</div>
				{% endif%}
				{% if  article.date %}
					<div class="date">
						<span class="pretitle-separator"> | </span>{{ article.date|date:'SHORT_DATE_FORMAT' }}
					</div>
				{% endif %}
			</div>
			<h2 class="title">
				<a href="{{ article.get_absolute_url }}">{{ article.name }}</a>
			</h2>
			<div class="html-content summary">
				{% if article.summary %}
					{{ article|parsed_gettext:"summary"|smart_style }}
				{% else %}
					{{ article|parsed_gettext:"text"|smart_style|truncatewords_html:40 }}
				{% endif %}
			</div>
			
			<div class="visible-xs-block">
			    {% if article.pictures.values %}
			    {% with picture=article.pictures.values|first %}
				<a href="{{ article.get_absolute_url }} title="{{ picture.name }}">
					<img class="img-responsive" src="{% version picture.image 'medium' %}" alt="{{ picture.name }}" />
				</a>
			    {% endwith %}
		        {% endif %}
			</div>
			
			{% include "cyclope/author_block_teaser.html"  %}
			<p class="teaser_more">
				<a class="btn btn-primary" href="{{ article.get_absolute_url }}" role="button">{% trans "More" %}</a>
				{% include "cyclope/teaser_tools_block.html" with current_object=article %}
				<img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/article.png" alt="article icon"/>
			</p>
		</div>
	{% endif %}
</div>
