{% load comments i18n fb_versions cyclope_utils markup dbgettext_tags%}

{% block content %}

<div class="content-view article inline_detail article-inline_detail">

  {% if article.pretitle %}
  <div class="pretitle-container meta-content">
    <span class="pretitle">{{ article.pretitle }}</span>
  </div>
  {% endif %}

  {% if show_ToC %}
    <span><a href="#ToC">{% trans "Return to Table of Contents" %} </a></span>
  {% endif %}

  <a name="article__{{ article.slug }}">
    <h1 class="title">{% trans article.name  %}</h1>
  </a>


  <!-- descripcion -->
  {% if article.summary %}
  <p class="summary">{{ article.summary|safe }}</p>
  {% endif%}
  <!-- /descripcion -->

  {% if article.pictures %}
  <img src="{% version article.pictures.0.image.path 'small' %}" alt="{{ article.pictures.0.name }}" />
  {% endif %}

  <!-- author -->
  {% if article.author %}
  <div id="author" class="meta-content">
    {% if article.author.image %}
    <img src="" width="60"  />
    {% endif %}
    <span class="author">{% trans "By"%} {{ article.author }}</span>
  </div>
  {% endif %}
  <!-- /autor -->

  <div>
    <span class="html-text html-content">
      {% if CYCLOPE_ARTICLE_TEXT_STYLE == 'raw' or CYCLOPE_ARTICLE_TEXT_STYLE == 'wysiwyg'%}
        {{ article|parsed_gettext:"text"|safe }}
      {% else %}
        {% if CYCLOPE_ARTICLE_TEXT_STYLE == 'textile' %}
          {{ article.text|textile }}
        {% else %}
          {% if CYCLOPE_ARTICLE_TEXT_STYLE == 'markdown'%}
            {{ article.text|markdown }}
          {% endif %}
        {% endif %}
      {% endif %}
    </span>
  </div>

  <div class="clear"></div>

</div> <!--termina article_detail -->

{% endblock content%}
