{% extends host_template %}

{% load comments i18n  cyclope_utils dbgettext_tags %}

{% block content %} 
{% if not user.is_authenticated and not article.published %}
  <div class="alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-ban-circle"></span>
			<a href="{% url 'auth_login' %}?next={{ request.path }}">{% trans "This content isn't public, please log in" %}
		</a>
	</div>
{% else %}
<div class="content-view article detail article-detail">

  {% if article.pretitle %}
  <h6 class="pretitle">{% trans article.pretitle %}</h6>
  {% endif %}

  <h1 class="title">{% trans article.name  %}</h1>

  <!-- herramientas -->
  {% include 'cyclope/content_tools_block.html' %}

  <!-- author -->
  {% include "cyclope/author_block.html" %}
  <!-- /autor -->

  {% if article.date %}
    <span class="date">
      {% trans "Publication date" %}: {{ article.date|date:"j F, Y" }}
    </span>
    {% endif %}
  
  <!-- descripcion -->
  {% if article.summary %}
		{% if CYCLOPE_THEME_TYPE == 'bootstrap' %}
			<h3 class="summary">{{ article|parsed_gettext:"summary"|smart_style }}</h3>
		{% elif CYCLOPE_THEME_TYPE == 'classic' %}
			<div class="summary">{{ article|parsed_gettext:"summary"|smart_style }}</div>
		{% endif %}
  {% endif %}
  <!-- /descripcion -->
 
  {% if CYCLOPE_THEME_TYPE == 'bootstrap' %}
		<!-- picture bootstrap -->
		
		{% if article.pictures.count == 0 %}
		{% elif article.pictures.count == 1 %}
			{% with article.pictures.all|first as picture %}
			<div class="{% inline_content_classes %}">
					<div class="modals-picture" data-toggle="modal" data-target="#myModal">
						<img class="center-block" src="{% version picture.image.path 'big' %}" alt="{{ picture.name }}"/>
						<div class="carousel-caption">
								<p>{{ picture.name|truncatechars:80 }}</p>
						</div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">
									{{ picture.name }}
								</h4>
							</div>
							<div class="modal-body">
								<img class="img-responsive" src="{% version picture.image.path 'big' %}" alt="{{ picture.name }}"/>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
							</div>
						</div>
					</div>
				</div><!-- / Modal -->
			</div> <!-- / Teaser Icon Container --> 
			{% endwith %}
		<!-- case with various pictures in related contents -->	
		{% elif article.pictures.count >= 2 %}
			<div class="{% inline_content_classes %}">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						{% for picture in article.pictures.all %}
							<li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter0}}" {% if forloop.first %}class="active"{% endif %}></li>
						{% endfor %}
					</ol>
					<div class="carousel-inner" role="listbox">
						<!-- Wrapper for slides -->
						{%  for picture in article.pictures.all %}
							<div class="item {% if forloop.first %}active{% endif %}">
								<!-- Div trigger modal -->
								<div class="modals-picture" data-toggle="modal" data-target="#myModal{{forloop.counter}}">
									<img class="center-block" src="{% version picture.image.path 'carrousel_bootstrap' %}" alt="{{ picture.name }}" />
									<div class="carousel-caption">
											<p>{{ picture.name|truncatechars:80 }}</p>
									</div>
								</div>
							</div>
							<!-- Modal -->
							<div class="modal fade" id="myModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel">{{ picture.name }}</h4>
										</div>
										<div class="modal-body">
											<img class="img-responsive" src="{% version picture.image.path 'big' %}" alt="{{ picture.name }}" />
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
										</div>
									</div>
								</div>
							</div><!-- / Modal -->
						{% endfor %}
						</div> <!-- / Listbox -->
					<!-- Controls -->
					<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
			</div><!-- Carousel -->   
		{% endif %}
		<!-- /picture bootstrap -->
	{% elif CYCLOPE_THEME_TYPE == 'classic' %}
		<!-- picture classic -->
		{% if article.pictures.count > 0 %}
		<div id="gallery" class="media-content">
			<ul>
			    {% for picture in article.pictures.all %}
		        <li {% if not forloop.first %} style="display:none;" {% endif %} >
		        <a href="{% version picture.image.path 'big' %}"  title="{{ picture.name }}">
			        <img src="{% version picture.image.path 'big' %}" alt="{{ picture.name }}" />
			        <p>{{ picture.name }}
				        {% if article.pictures.count >= 2 %}
				            ({{ article.pictures.count }} {% trans "pictures" %})
				        {% endif %}
			        </p>
		        </a>
		        </li>
			    {% endfor %}
			</ul>
		</div>
		{% endif %}
		<!-- / picture classic -->
	{% endif %}
	
	<div class="text"><span class="html-text html-content">
    {{ article|parsed_gettext:"text"|smart_style}}
  </span></div>

{% if article.get_last_change_date or article.source %}


{% include "cyclope/source_block.html" with source=article.source %}

{% if article.get_last_change_date %}

    <span class="date">
      {% trans "Last modification date" %}: {{ article.get_last_change_date }}
    </span>
    {% endif %}
{% endif %}

<hr>

<div class="meta-content">{% include 'collections/categories_navigation_block.html' %}</div>


	{% if CYCLOPE_THEME_TYPE == 'bootstrap' %}
		{% with author=current_object.get_author_or_user %}
		{% with author_url=author.get_absolute_url %}
		{% if author %}
				<a name="author"></a> 
				<div class="author-container meta-content alert alert-info" role="alert">
						<div class="author-container-data">
								{% if author.image %}
								<div class="media-left">
										<a href="#">
												<img class="author img-circle" src="{% version author.image.path 'cropped' %}" border="0" title="Author"/>
										</a>
								</div>
										
								{% endif %}
								<div class="author-container-data-text media-body">
										<h4  class="author">
												{% if author_url %}<a href='{{ author_url }}'>{% endif %}
												{{ author }}
												{% if author_url %}</a>{% endif %}
												{% if author.origin %}
												<small>{{ author.origin }}</small>
												{% endif %}
										</h4>
										<div class="author-notes">{{ author.notes|smart_style }}</div> 
								</div>
						</div>
				</div>
		{% endif %}

		{% endwith %}
		{% endwith %}
	{% endif %}

{% include 'cyclope/related_contents_block.html' %}

{% include 'ratings/rating_block.html' %}

<div class="clear"></div>

<!--COMENTARIOS -->
  {% include 'comments/comments_block.html' %}




</div> <!--termina article_detail -->
{% endif %}
{% endblock content%}
