{% load comments i18n fb_versions cyclope_utils dbgettext_tags %}

{% block content %}
<div class="content-view article inline_detail article-inline_detail">
  {% if article.pretitle %}
  <span class="pretitle">{% trans article.pretitle %}</span>
  {% endif %}

  {% if show_ToC %}
    <span class="ToC_link"><a href="#ToC">{% trans "Return to Table of Contents" %}</a></span>
  {% endif %}

  <a id="article-{{ article.slug }}" href="{% url article-detail article.slug %}">
    <h3 class="title">{% trans article.name  %} <span class="glyphicon glyphicon-link" aria-hidden="true"></span> </h3>
  </a>

  {% if article.summary %}
  <div class="summary">{{ article|parsed_gettext:"summary"|smart_style }}</div>
  {% endif%}

  {% include "cyclope/author_block.html" %}

  <div class="article_content">
  {% if article.pictures.values %}
  {% with picture=article.pictures.values|first %}
      <img src="{% version picture.image 'small' %}" alt="{{ picture.name }}" hspace="0" vspace="0" align="right" />
  {% endwith %}
  {% endif %}

    <div class="html-text html-content text">
      {{ article|parsed_gettext:"text"|smart_style}}
    </div>
  </div>
</div> <!--termina article_detail -->
{% endblock content%}
