{% extends host_template %}

{% comment%}
TODO(nicoechaniz): finish adaptation from smarty to django. add trans to text that should be translated
{% endcomment%}

{% load comments i18n fb_versions cyclope_utils markup dbgettext_tags%}

{% block content %}

{% alias article as 'current_object' %}

<div class="content-view article detail article-detail">

  {% get_comment_count for article as comment_count %}

  <div class="meta-content">{% include 'collections/categories_navigation_block.html' %}</div>

  {% if article.pretitle %}
  <div class="pretitle-container meta-content"><span class="pretitle">{{ article.pretitle }}</span></div>
  {% endif %}
  <h1 class="title">{% trans article.name  %}</h1>

  <!-- herramientas -->
  <div class="tools meta-content">
    <ul>
      <li class="first"><a href="javascript:window.print()" class="print">{% trans "Print" %}</a></li>
      <li>
        <a href="/share?slug={{ article.slug }}" onclick="abrir_popup(this);return false" class="share">
          {% trans "Share" %}
        </a>
      </li>

      {% if not article.allow_comments == 'NO' %}
        {% if comment_count %}
        <li>
          <a href="#comments" class="comments_link">{% trans "Comments" %} ({{ comment_count }})</a>
        </li>
        {% endif %}
      {% endif %}
    </ul>
  </div>
  <!-- /herramientas -->

  <!-- descripcion -->
  {% if article.summary %}
  <p class="summary">{{ article.summary|safe }}</p>
  {% endif%}
  <!-- /descripcion -->

  {% if article.pictures %}
  <div id="gallery" class="media-content">
    <ul>
      {% for picture in article.pictures %}
      <li {% if not forloop.first %} style="display:none;" {% endif %} >
        <a href="{% version picture.image.path 'medium' %}"  title="{{ picture.name }}">
          <img src="{% version picture.image.path 'small' %}" alt="{{ picture.name }}" />
        </a>
        <p>{{ picture.name }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}


  <!-- author -->
  {% if article.author %}
  <div id="author" class="meta-content">
    {% if article.author.image %}
    <img src="" width="60"  />
    {% endif %}
    <span class="author">{% trans "By"%} {{ article.author }}</span>
  </div>
  {% endif %}
  <!-- /autor -->

    <!-- descargas -->

<!-- TODO(nicoechaniz): uncomment and fix when attachments are implemented

            {if $articulo.downloads eq 'si'}

          <div id="attachments">
          <div class="attachments_box">
            <h6><img src="{$templatedir}{{ CYCLOPE_THEME_MEDIA_URL }}images/css/leer_adjuntos.png" alt="Adjuntos"  width="16" height="16" border="0" align="absmiddle" /> Archivos para descargar </h6>
             {section name=bucle loop=$downloads}
            <p><img src="http://codigosur.org/imagenes/icons/{$downloads[bucle].ext}.gif" width="20" height="22" border="0" align="middle"> <a href="{$downloads[bucle].link}" title="{$downloads[bucle].desc}" >{$downloads[bucle].nombre}</a></p>
            {/section}
           </div>
          </div>

          {/if}
-->
          <!-- /descargas -->

  <div><span class="html-text html-content">00
    {% if CYCLOPE_ARTICLE_TEXT_STYLE == 'raw' or CYCLOPE_ARTICLE_TEXT_STYLE == 'wysiwyg'%}
      {{ article|parsed_gettext:"text"|safe }}aa
    {% else %}
        {% if CYCLOPE_ARTICLE_TEXT_STYLE == 'textile' %}
        {{ article.text|textile }}bb
        {% else %}
          {% if CYCLOPE_ARTICLE_TEXT_STYLE == 'markdown'%}
          {{ article.text|markdown }}cc
          {% endif %}
        {% endif %}
    {% endif %}
  </span></div>

  <div class="meta-content"><span class="source">--<br>
    {% trans "Date" %}: {{ article.date|date:'DATETIME_FORMAT' }}{% if article.source %} |
    {% trans "Source" %}: {article.source}{% endif %}
  </span></div>

  {% if article.tags %}
    <div class="meta-content"><span class="tags"><span class="tags-label">{% trans "Tags" %}:</span> {{ article.tags }}</span></div>
  {% endif %}


  {% include 'cyclope/related_contents_block.html' %}


	      <div class="clear"></div>
     <!-- redsocial -->
           <div id="socialnetworks" class="socialnetworks">{% trans "Share in your social networks"%}:
<a href="http://www.facebook.com" rel="nofollow" onclick="sbs_facebook(); return false;"><img src="{{ CYCLOPE_THEME_MEDIA_URL }}images/redsocial/facebook.png" border="0" alt="Compartir en Facebook" title="Compartir en Facebook" height="24" width="24" /></a>
<a href="http://www.del.icio.us" rel="nofollow" onclick="sbs_delicious(); return false;"><img src="{{ CYCLOPE_THEME_MEDIA_URL }}images/redsocial/delicious.png" border="0" alt="Compartir en Delicious" title="Compartir en Delicious" height="24" width="24" /></a>
<a href="http://www.yahoo.com" rel="nofollow" onclick="sbs_yahoobm(); return false;"><img src="{{ CYCLOPE_THEME_MEDIA_URL }}images/redsocial/yahoo.png" border="0" alt="Compartir en Yahoo" title="Compartir en Yahoo" height="24" width="24" /></a>
<a href="http://www.google.com" rel="nofollow" onclick="sbs_googlebm(); return false;"><img src="{{ CYCLOPE_THEME_MEDIA_URL }}images/redsocial/google.png" border="0" alt="Compartir en Google" title="Compartir en Google" height="24" width="24" /></a>
  	</div>
          <!-- /redsocial -->

            <div class="clear"></div>

  <hr>

<!--COMENTARIOS -->
  {% include 'comments/comments_block.html' %}

</div> <!--termina article_detail -->

{% endblock content%}
