{% load comments i18n %}
  {% get_comment_count for current_object as comment_count %}

      {% if current_object.allow_comments == 'YES' or current_object.allow_comments == 'SITE' and CYCLOPE_SITE_SETTINGS.allow_comments == 'YES' %}
    {% get_comment_count for current_object as comment_count %}
   <div>
    <script type="text/javascript">
    jQuery(document).ready(function(){
      $('#comment_form').hide();
      $('#show_comment_form').click(function() {
        $('#comment_form').toggle();
      });
    });
    </script>
    <div id="user_comments">
      <div class="top">
        <h6>{% blocktrans %} There are {{ comment_count }} comments {% endblocktrans %}</h6>
      </div>
      <div class="bottom"></div>
      {% render_comment_list for current_object %}
      <!--enviar comentario -->

      <div class="action-content show_comment_form"><a name="comments" href="#comments" id="show_comment_form">
        {% trans "comment on this content" %}
      </a></div>

      <div class="box-top"></div>
      <div class="box">
        <div class="user_input" id="comment_form">
        <!--form comentario -->
        {% render_comment_form for current_object %}
        </div>
      </div> <!-- termina box -->
      <div class="bottom"></div>
    </div><!--termina comments -->
   </div>
  {% endif %}
