{% load comments i18n %}
<form action="{% comment_form_target %}" method="post">{% csrf_token %}
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
  {% for field in form %}
    {% if field.is_hidden %}
      {{ field }}
    {% else %}
      {% ifequal field.name "honeypot" %}
        <div  style="display:none;">
          {{ field.label_tag }} {{ field }}
        </div>
      {% else %}
        {% if user.is_authenticated %}
          {% ifequal field.name "comment" %}
            {{ field.label_tag }}
            {{ field }}
          {% endifequal %}
        {% else %}
          {{ field.label_tag }}
          {% ifequal field.name "captcha" %}
            <small>
              {% trans "For security reasons you need to type the text displayed in the following image" %}
            </small>
          {% endifequal %}
          {{ field }}
        {% endif %}
      {% endifequal %}
    {% endif %}
  {% endfor %}
  {% if user.is_authenticated %}
    <input id="id_captcha_" name="captcha_" type="hidden">
  {% endif %}
  <div class="submit action-content submit-comment">
    <input type="submit" name="post" class="submit" value="{% trans "Post your comment" %}" />
  </div>
</form>
