{% load comments i18n crispy_forms_tags %}
<form action="{% comment_form_target %}" class="uniForm" method="post">{% csrf_token %}
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
  {% if user.is_authenticated %}
    <input id="id_captcha_" name="captcha_" type="hidden">
  {% endif %}
  {{ form|crispy }}

  <div class="submit action-content submit-comment">
    <input type="submit" name="post" class="submit" value="{% trans "Post your comment" %}" />
    <a href="#c0" id="cancel_reply">{% trans "Cancel reply" %}</a>
  </div>
</form>
