{% extends host_template %}

{% load comments i18n fb_versions cyclope_utils markup dbgettext_tags%}

{% block content %}

{% alias topic as 'current_object' %}

<div class="content-view topic detail topic-detail">
  <div class="meta-content">{% include 'collections/categories_navigation_block.html' %}</div>

  <h2 class="title"> {{ topic.name }} </h2>
  
  <div class="author_container">
    <h4 class="author">{{ topic.anonymous_name|default:topic.user }}</h4>
    <div class="avatar">
      {% if avatar %}
          <img src="{{MEDIA_URL}}/{{ avatar }}" alt=""></img>
      {% endif %}
    </div>
  </div>
  <div class="text">
      <div class="html-text html-content">{{ topic.text|smart_style}}</div>
  </div>
  <h6 class="submitted date">{{ topic.creation_date|date:'DATETIME_FORMAT' }}</h6>

  {% include 'comments/comments_block.html' %}
</div>

{% endblock content%}
