/*
Plantilla FRECUENCIA para Cyclope 2.0
Esta plantilla fue desarrollada por Codigo Sur: www.codigosur.org
Participaron en su realizacion: Franca Grasselli y Domingo M. Lechón.
Codigo HTML realizado bajo licencia GPL (copialo, mejoralo, pasalo) 
Ver licencia en: http://creativecommons.org/licenses/GPL/2.0/deed.es_AR 
Ten en cuenta que las imagenes, los nombres y los logos de este sitio no pueden usarse. Solo el codigo CSS es GPL. Gracias :) 
Gracias a Radioteca.net y Unesco.
Si modificas no borres estas lineas :)
*/


body{font-family: Verdana, Helvetica, Sans-serif; margin: 0; font-size:12pt; background-color:#c8b7b7;}
* {margin:0; padding:0;}
a {color:#FF6600; text-decoration:none; outline:none;}
a:hover {text-decoration:underline;}
h3 {color:#333;}
h3 a {color:#666; text-decoration:underline; margin-right:5px;}
h3 a:hover {color: #be0a26; text-decoration:none; }
h4{font-weight:normal; padding:5px; margin-bottom:30px;}
h4 a{font-weight:bold; color:#999;}
h4 a:hover{color:#333;}
img {border:none;}
.clear {clear:both;padding:0;margin:0;}

ul.compartir {list-style:none; font-size:0.8em; margin:0;}
ul.compartir {padding-top:5px; padding-bottom: 10px;}
ul.compartir li {display:inline;}
ul.compartir li.recomendar a {color: #008a2e; background:url(../images/css/recomendar.png) no-repeat left center ; padding-left:20px; text-decoration:none; margin-right:30px;}
ul.compartir li.comentarios a {color: #008a2e; background:url(../images/css/comentarios.png) no-repeat left center ; padding:0; padding-left:20px; text-decoration:none;}
ul.compartir li a:hover {text-decoration:underline;}

/*Anidacion y estructura General*/
#mascara {width:990px; margin:0 auto; background:#fff;padding:0;}
#medianera {padding:15px 0 0;margin:0 auto;}
#contenido{margin-left:235px; padding-right:10px;}
#agua {width:210px; float:left;background-color:#f9e8eb;margin:0 10px;}
#agua .top {background:url(../images/css/agua-top.png) no-repeat;height:12px;}
#agua .bottom {background:url(../images/css/agua-bottom.png) no-repeat;height:12px;}
#aire {width:235px; float:right;margin:0 10px;}
p.tabB span {width:230px; text-align: center; font-size:0.7em; font-weight:700; background-color:transparent; padding:6px 65px; }
p.tabB {padding:5px 0 2px 15px;}
p.tabB span.tabC {color:#fff;}
#aire .clearB {height:20px; background:none;}
#aire p.tabB {margin-bottom:15px; width: 230px; background-color:transparent;}
#fuego {margin-left:240px; margin-right:260px;}
p.tabA span {color:#349153; font-size:0.8em; font-weight:800; background-color:transparent; padding:3px 1px; }
p.tabA {border-bottom:2px solid #349153; padding:5px 0 2px 1px;}


/*Menu horizontal*/
.menuh  {margin-right:30px; margin-top:-20px; float:right; margin-bottom:0px;padding:0;}
.menuh ul {margin:0; padding:0; list-style:none;}
.menuh li {float:left; margin:0; margin-left:15px;}
.menuh a {background:url(../images/css/tabmenuh.png) no-repeat top left; float:left; padding:0 0 0 5px; text-decoration:none;}
.menuh span {color:#fff; font-size:0.75em; font-weight:bold; display:block; padding:6px 15px 6px 6px; float:left; cursor:pointer; background:url(../images/css/tabmenuh.png) no-repeat 100% -30px;}
.menuh a:hover {color:#000; background-position: 0 -60px;}
.menuh a:hover span {color:#f4f4f4; background-position: 100% -90px;}
.menuh li.current a  {background-position: 0 -60px;}
.menuh li.current a span {color:#f4f4f4; background-position: 100% -90px;}

/*Cabezal*/
#cabezal {height:220px; background: url(../images/css/cabezal.png) 0 10px no-repeat;padding:0;}
.logo {height:68px; margin-left:25px; padding-right:35px; padding-top:35px;}
.logo h1, .logo h2 {text-align:left;color:#000;}
.logo h1 a  {font-size:1.2em;color:#000; text-decoration:none;} 
.logo h2 a {font-size:1.2em;color:#fff; text-decoration:none;}
.logo h1 {font-size:1.6em;}
.logo h2 {font-size:0.8em;}
.buscar {float:right; width:315px; height:34px; background:none; margin-right:200px; margin-top: 85px;}
#cabezal form {text-align:left; width:300px; margin-right:0px; padding-top:2px; }
#cabezal form .field {background:url(../images/css/buscarfondo.png) no-repeat; height:34px; width:190px; padding:11px 2px 2px 30px; margin:0px; font-size:0.8em; color:#fff; border:none;}
#cabezal form .btn {background:url(../images/css/fondo_buscar.png) no-repeat left top; font-size:0.75em;font-weight:bold;height:34px; width:63px; color:#fff;background-color:none;border: none;padding:0px;margin:2px 5px 1px 5px;}


/*Menu vertical*/
#menuv {margin:0 10px;}
#menuv span {display:block;}
#menuv ul{margin:0; padding:0; list-style:none; width:190px;}
#menuv ul li {height:30px;margin:4px 0; padding:0; background:url(../images/css/menuv.png) 0 0 no-repeat;}
#menuv ul li a, #menuv ul ul a {display:block;text-decoration:none; color:#036; font-weight:700;padding: 6px 0 3px 30px; font-size:0.8em;}
#menuv ul li a:hover{text-decoration:underline;}
#menuv ul ul {padding:0 0 0 15px;}
#menuv ul ul li { background:url(../images/css/menuv-sub.png) 0 0 no-repeat;height:16px;padding:0 0 0 16px;}
#menuv ul ul a {padding:0;font-size:0.70em; color:#000;}

/*Recuadro de Etiquetas*/
#etiquetas {width:190px;font-size:0.85em; color:#7E8485; list-style-type:square; margin:20px 10px;}
#etiquetas li.title {color:#036; font-weight:bold; font-size:1.3em; list-style-type:none; margin-left:0; margin-bottom:2px; text-decoration:underline;}
#etiquetas a {color:#036; }
#etiquetas .box {margin:0 15px 0 10px;  }
#etiquetas .mid {padding-top:0; background:#fff;}
#etiquetas .top { height:17px;padding:2px 0 0 0 ; background: url(../images/css/etiquetas_top.png) no-repeat top left; text-align: center; }
#etiquetas .top .title {color:#119139; font-weight:bold; font-size:0.9em; list-style-type:none; margin-left:0; margin-bottom:0; text-decoration:none;}
#etiquetas .bottom {height:8px; width:190px; background: #fff url(../images/css/etiquetas_bot.png) bottom no-repeat;}
#etiquetas .bottom div {height:8px; width:20px; background: transparent; }
#etiquetas .mid LI {font-size:0.9em; padding:2px; list-style:none; padding-left: 10px;}
#etiquetas .mid LI a{color: #008a2e; padding-left: 10px; background: transparent url(../images/css/etiquetas.png) no-repeat left;}
#etiquetas .mid LI a:hover{color: #000; text-decoration: underline; background: transparent url(../images/css/etiquetas2.png) no-repeat left;}

/*Areas de publicacion*/
#principal {padding-bottom:18px; margin-top:15px; float:left;}
#principal h1 {font-size:1.2em;}
#principal h1 a {color:#be0a26; text-decoration:none;}
#principal h1 a:hover {text-decoration:underline;}
#principal h2 {font-weight:400;padding:10px 0;font-size:0.9em;color:#333;}
#principal h3 {padding-bottom:12px; padding-top:5px; font-size:0.8em;}
#principal h3 a {text-decoration: underline;}
#principal h3 a:hover {color:#000; text-decoration: none;}
#principal h4 {font-size:0.8em;margin:0;padding:0 0 7px;font-weight:700;color:#000;}
#principal h5 {margin-bottom:12px; font-weight:400; color:#333; font-size:0.8em;}
#principal h5 a {text-decoration: underline;}
#principal h5 a:hover {color:#000; text-decoration: none;}
#principal h5 {line-height:140%;}
#principal h6 {font-weight:400;color:#666;display:inline;}
#principal .pretitulo {text-transform:uppercase;margin:0 0 5px;}
#principal img {clear:both;float:right;margin:4px 2px 9px 10px;text-align:center;height:150px;}
#principal li a{color:#008a2e;}
#principal li a:hover{color: #000;}
#principal span {background:#349153;padding:2px 10px 0;margin:0;}
#principal hr {display:none;}
#principal .top {border-bottom:2px solid #349153;color:#fff; font-size:0.9em; font-weight:800;padding:3px 0 0;display:block;margin:0 0 13px 0;}
#principal .bottom {}

#secundaria {padding-bottom:15px; margin-top:15px; float:left;}
#secundaria h1 {font-size:1em; margin:3px 0;}
#secundaria h1 a {color:#008a2e;}
#secundaria h2 {font-weight:400;padding:10px 0;font-size:0.9em;color:#333;}
#secundaria img {float:right; margin:0 0 8px 8px; padding:1px; border:1px solid #666;}
#secundaria h3 {padding-bottom:12px; padding-top:5px; font-size:0.8em;}
#secundaria h3 a{text-decoration: underline;}
#secundaria h3 a:hover{color:#000; text-decoration: none;}
#secundaria h4 {font-size:0.8em;margin:0;padding:0 0 7px;font-weight:700;color:#000;}
#secundaria h5 {margin-bottom:12px; font-weight:400; color:#333; font-size:0.8em;}
#secundaria h6 {font-weight:400;color:#666;display:inline;padding:0 0 10px;}
#secundaria .pretitulo {text-transform:uppercase;margin:0 0 5px;}
#secundaria li a{color: #008a2e;}
#secundaria li a:hover{color: #000;}
#secundaria span {background:#349153;padding:2px 10px 0;margin:0;}
#secundaria .top {border-bottom:2px solid #349153;color:#fff; font-size:0.9em; font-weight:800;padding:3px 0 0;display:block;margin:0 0 13px 0;}
#secundaria .bottom {display:none;}
#secundaria hr {border:none;border-top:1px dotted #666;margin:10px 0;}

#terciaria {width:230px;margin:0 0 0 10px;padding:0;}
#terciaria .box {padding:0 30px 0 20px;margin:0;background:url(../images/css/terciaria-box.png) repeat-y;}
#terciaria .top {height:30px;padding:0 20px;background:url(../images/css/terciaria-top.png) no-repeat; text-align: center; color:#fff; font-size: 0.85em; font-weight: bold;}
#terciaria span {padding:7px 0 0;display:block;text-align:center;margin:0 0 0 -10px;}
#terciaria .bottom {height:17px;background:url(../images/css/terciaria-bottom.png) no-repeat;margin:0;padding:0 20px;}
#terciaria img {margin: 0 0 0 7px;float:right;padding:2px;border:1px solid #999;}
#terciaria .mid LI {font-size:0.9em; padding: 2px;}
#terciaria .mid LI a{color: #008a2e;}
#terciaria .mid LI a:hover{color: #000; text-decoration: underline;}
#terciaria h1 {font-size:0.9em; margin:2px 0 3px 0; }
#terciaria h1 a{text-decoration: none; color: #000;}
#terciaria h1 a:hover{text-decoration: underline; color: #FF6600;}
#terciaria h2 {font-size:0.8em; font-weight:400;margin:0 0 10px;}
#terciaria h2 a{text-decoration: underline; }
#terciaria h2 a:hover{color: #000; text-decoration: none;}
#terciaria h4 {font-size:0.75em;margin:0;padding:0 0 7px;color:#666;font-weight:700;}
#terciaria h6 {font-size:0.7em;padding:10px 0 0;color:#666;font-weight:400;}
#terciaria hr {border:none;border-top:1px dotted #666;}

#cuaternaria {width:230px; padding:0; margin:-2px 0 80px 10px; border:0;}
#cuaternaria .box {background: url(../images/css/cuaternaria-fondo.png) repeat-y;margin:-15px 0 0;padding:0;}
#cuaternaria span {font-weight:700;color:#fff;display:block;text-align:center;text-transform:uppercase;font-size:0.9em;padding:0 20px;margin:0 0 0 -10px;background: url(../images/css/cuaternaria-medio.png) 10px 0 no-repeat; height:66px;}
#cuaternaria img {width:140px;margin:10px 0; padding:0 20px; border:none;}
#cuaternaria h1 {display:block;font-size:1em;padding:0 20px;}
#cuaternaria h1 a {color:#ffff00;} 
#cuaternaria h2 {margin:0; font-size:0.7em; color:#fff;padding:0 20px;}
#cuaternaria h2 a {color:#ffff00;}
#cuaternaria h4 {font-size:0.75em; margin:0;padding:0 20px;color:#fff;font-weight:700;}
#cuaternaria h5 {font-weight:400; font-size:0.75em;padding:0 20px;color:#fff; }
#cuaternaria h5 a{text-decoration: underline; color:#fff;}
#cuaternaria h5 a:hover{color: #fff; text-decoration: none; }
#cuaternaria h6 {font-size:0.75em;color:#fff;padding:0 20px 3px;font-weight:400;}
#cuaternaria .top {height:14px; background: url(../images/css/cuaternaria-top.png) 0 0 no-repeat;}
#cuaternaria .bottom {height:14px; background: url(../images/css/cuaternaria-bottom.png) 0 0 no-repeat;}
#cuaternaria hr {border:none;border-top:2px dotted #fff;margin:7px 25px 0 20px;padding:0 0 10px;}

/*Definiciones Globales de Profundidad de Navegacion*/
#leer span, #indice span, #mapa span, #busqueda span, #contacto span {font-size:0.8em;background:#f9e8eb;border-bottom:1px solid #ccc;display:block;font-weight:normal; padding:5px; margin:0 0 10px;}
#leer span a,#indice span a,#mapa span a,#busqueda span a,#contacto span a {font-weight:bold; color:#999;}
#leer span a:hover,#indice span a:hover,#mapa span a:hover,#busqueda span a:hover,#contacto span a:hover {color:#333;}

/*Definiciones Globales para Indice, Mapa, Contacto y Busqueda*/
#indice big,#mapa big,#contacto big,#busqueda big {font-weight:700;display:block;border-bottom:1px solid #ccc;color:#be0a26;font-size:1.5em;padding:0 0 10px;margin:20px 0 30px;}

/* Indice */

#indice big {color:#000;}
#paginador {text-align:left;background-color:#f9e8eb;border:1px solid #DDD;padding:5px 10px; margin-bottom:20px;font-size:0.75em;color:#666;}
#paginador .paginadora {margin-right:200px;}
#paginador .paginadorb{width:200px; padding-top:3px; float:right; text-align:right;}
#paginador .paginadora p{float:left;}
#paginador .paginadorb p{float:right;}
#paginador  a {color:#0000ff;padding:0 3px;}
#paginador  a:hover {font-size:1em;font-weight:700;}

#paginador span {font-size:0.9em;background:none;border-bottom:none;display:inline;font-weight:normal; padding:5px; margin:0 0 10px;}
#paginador span a {font-weight:bold; color:#0000ff;}
#paginador span a:hover {color:#ff0000;}

#paginador  span.current {font-size:1.3em;color:#333;padding:0 10px;font-weight:700;} 
#indice .pagEspacio{height:12px; clear:both;}
#indice .pagEspacioMapa{height:25px;}	
#indice .espacio{height:32px;}	
.indice {margin-bottom:20px; padding-bottom:10px;border-bottom:1px dotted #aaa; float:left; width:100%;}	
.indice h1 {padding:0;font-size:1.3em; margin-top:4px; margin:0; border:none;}	
.indice h1 a{color:#be0a26; text-decoration:none;}
.indice h1 a:hover {text-decoration:underline; color:#000;}
.indice h4 {font-size:0.8em; padding:5px 0 0;font-weight:700;color:#666; margin-right:15px; display:inline;}
.indice h3 {font-size:0.8em; padding:5px 0 10px 0; color:#039; margin:0;}	
.indice h3 a {color:#008a2e;}
.indice h3 a:hover {color: #333;}
.indice h2 {font-size:0.85em;font-weight:normal;padding:5px 0;margin:0;}	
.indice h2 a {text-decoration:none;}	
.indice h2 a:hover {text-decoration:underline;}		
.indice h6 {display:inline;font-size:0.65em;color:#666;font-weight:normal;text-transform:uppercase;margin-bottom:px;}
.indice img{padding:3px; background-color:#eee; border:1px solid #ccc;margin:3px 0 6px 15px; float:right;}

/*Leer*/
#leer h1 {font-size:1.6em;margin:0 0 7px;padding:0 0 5px;}
#leer h2 {padding: 15px 0 10px 0;margin:0;font-weight:700;font-size:0.95em;}
#leer h3 {margin:15px 0;padding:15px; font-size:0.85em;color:#b40404;border:1px solid #ccc;background:#eee;}
#leer h3 a {color:#08088a;}
#leer h4 {font-size:0.85em; font-weight:400;}	
#leer h4 img {border:1px solid #999;color: #666;padding:0;margin:0 15px 0 0;float:left;}
#leer h4 p {font-weight:500;font-size:1.15em;color:#666; padding:0; margin:0;}		
#leer h4 div {clear:left;}
#leer h5 {color:#333; font-size:0.85em; font-weight:400; margin:0 0 10px; padding:0 0 20px;border-bottom: 1px dotted #999;}
#leer h5 ul {list-style:square;padding:3px 0 3px 10px;margin:30px;}
#leer h6.fuente  {margin:10px 0;font-weight:400;font-size:0.75em;color:#666; padding:0 0 15px;}
#leer h6.fecha {font-weight:400;font-size:0.75em;margin:15px 0 0;color:#666;}
#leer h6.pretitulo {color:#666; margin:25px 0 0 0; font-size:0.85em; text-transform:uppercase;}/*Campos y opciones Cyclope segun aparicion en plantilla por defecto*/ 
#leer hr {border-bottom:1px solid #EEE;}
.herramientas {margin:0;padding:0;}	
.herramientas ul {text-align:left;margin:0;padding:0;list-style:none;font-weight:bold;font-size:0.8em;}
.herramientas ul a:hover {text-decoration:underline;}
.herramientas li  {display:inline;}
.herramientas li .imprimir {color: #008a2e; background: transparent url(../images/css/imprimir.png) left top no-repeat;padding:0 0 10px 20px;margin:0;}
.herramientas li .recomendar {color: #008a2e; background: transparent url(../images/css/recomendar.png) no-repeat;padding:0 0 10px 20px;;margin:0 0 0 15px;}
.herramientas li .comentarios {color: #008a2e; background: transparent url(../images/css/comentarios.png) no-repeat;padding:0 0 10px 20px;;margin:0 0 0 15px;}
.herramientas li .aumentar {background: transparent url(../images/css/leer_aumentar.png) no-repeat;padding:0 0 10px 20px;;margin:0 0 0 15px;}
.herramientas li .reducir {background: transparent url(../images/css/leer_reducir.png) no-repeat;padding:0 0 10px 20px;;margin:0 0 0 15px;}
	.foto_box {padding:5px;background-color:#E0E6EB;border: 2px solid #b1b1b1;margin:15px 0 5px 5px;float:right;max-width:300px;text-align:right;}
	.foto_box img {border:0;}
	.foto_box .autor {font-style:italic;font-size:0.6em;padding:5px 0 5px 0;color:#333;}
	.foto_box .epigrafe {font-size:0.7em;font-weight:400;text-align:right;margin-top:5px;color:#000;}	
	.foto_box .cantidad {font-size:0.7em;text-align:right;color:#333;}
	.foto_box .cantidad img {padding:2px;}		

/*Definiciones Globales para Adjuntos, Relacionadas y Comentarios*/
#adjuntos h6,#comentarios h6,#relacionadas h6 {font-size:1em;padding:12px 0 12px 12px;margin:30px 0 12px ;color:#333;border-bottom:1px solid #666;background:#dbdbdb;}
 
#adjuntos {width:50%;font-weight:700;color:#030;margin:7px 0;text-align:left;}
#adjuntos img, #relacionadas img, #comentarios img {padding:0 0 5px;margin:0;}
#adjuntos .adjuntos_box {font-size:0.85em;padding:10px 10px 10px;border:1px dotted #ccc;margin:10px 0 30px;}
#adjuntos .adjuntos_box img {}
#relacionadas {font-weight:bold;color:#003300;background:#fff;margin:0;}
#relacionadas a {color: #666;padding: 0;font-weight: bold;}
#relacionadas .info {padding: 0;font-weight: bold;}
#relacionadas ul {padding:10px 10px 15px;margin:0 0 20px;}
#relacionadas li {color: #0000FF;list-style: none;	padding:0 0 5px 20px;margin:0 0 10px 0;background: transparent url(../images/css/relacionadas_vin.png) no-repeat;}	
#relacionadas li a {font-size: 0.9em;color: #0000FF;font-weight: normal;}
#comentarios {text-align:left;color:#0000FF;margin:10px 0 0 0;}
#comentarios h2{border:1px dotted #666;border-bottom:none;font-size:0.9em;background:#f2f2f2;;padding:5px 5px 5px 15px;margin:10px 0 0;color:#333;}
#comentarios h2 a {color:#0000ff;font-weight:700;}
#comentarios h3{font-size:0.8em;padding:16px 5px;margin:0;color:#333;font-weight:400;border:1px dotted #666;}
#comentarios h4{font-size:1em;padding:10px;margin:15px 0 0;color:#ca3c55;font-weight:700;}
#comentarios small {display:block; padding:5px 0 20px; font-weight:400; width:350px; color:#333;}
#comentarios form {padding:10px;margin:0;font-weight:700;display: block;}				
#comentarios label {display:block;color:#333;font-size:0.85em;padding:0;margin: 0;}
#comentarios .field {width:50%;background-color:#eee;padding:4px;margin:7px 0 15px;border:1px solid #999;font-size: 1em;color:#000;}
#comentarios .btn  {margin:7px 15px 0 0;font-size:0.9em;padding:3px 6px; font-weight:700;}
#comentarios .comenta {}
#comentarios .datos {float:right;}
#comentarios .codigo {}		


/*Mapa*/

#mapa ul {list-style:none;margin:0 0 0 30px;padding:0;}
#mapa ul li {background: transparent url(../images/css/carpeta-abierta.png) 0% 3px no-repeat;padding:0 0 10px 15px;margin:5px 0 0 15px;font-weight:700;font-size:1em;}
#mapa ul li ul {margin:10px 0 0;}
#mapa li li {background: transparent url(../images/css/carpeta.png) 0% 3px no-repeat;padding:0 0 10px 15px;;margin:5px 0 0 15px;}
#mapa ul li ul li {margin:0;padding:0 0 0 15px;font-weight:400;}
#mapa a {color:#0000ff;}
#mapa a:hover {color:#ff0000;}


/* Contacto */
#contacto h5{font-weight:700;padding:0 0 20px;margin:0; color:#333; font-size:1em;}
#contacto h6 {font-weight:400;font-size:0.8em;padding:0 0 10px;margin:0;}	
#contacto form {text-align:left;padding:0;margin:0;}
#contacto form h5{padding:15px 0;}
#contacto form h6 {padding:0;}
#contacto p {width:80%;margin:0;padding:0;font-size:0.8em;}
#contacto .nota {border-top:1px solid #ccc;font-style:italic;font-size:0.7em;padding:3px 0;width:30%;color:#999;}
#contacto .field {width:65%;border:1px solid #999; padding:5px; margin-bottom:20px;}
#contacto .btn {display:block;margin:10px 0;font-size:0.9em; padding:3px 6px; font-weight:700;}
#contacto select{width:65%; padding:5px;}
#contacto img {display:block;padding:15px 0;}

#busqueda .busqueda {border-top:none;margin:15px 0 0;padding:0;}
#busqueda big {color:#000;}
.busqueda {border-top:1px solid #ccc;padding:10px 10px 15px;margin:33px 0;color:#666;width:81%;}
.busqueda a:hover {font-size:1em;font-weight:700;}
.busqueda p {color:#333;padding:0;margin:0 0;font-weight:700;}
.busqueda span {font-size:1.3em;color:#333;padding:0 10px;font-weight:700;}          
.busqueda .field {padding:3px;margin:7px 0 1px 0;border:1px solid #999;color:#333; width:60%;}
.busqueda .btn {font-weight:700;padding:3px 4px 3px;margin:0 15px 0 5px;}

/* CONTENIDO DEL LEER y CONTACTO*/


	



	
	
/* Adjuntos, relacionadas y comentarios. */


/* COMPARTIR */

#compartir {background:#f9f9f9;border:2px solid #be0a26;margin:25px;padding:0;}
#compartir h5 {background:#be0a26; color:#fff; font-size:1em; padding:10px;}
#compartir h6 {font-size:1em;font-style:italic;padding:10px;}
#compartir .error {background:#FFE1C4;border:2px solid #990000;margin:20px 10px;font-style:normal;color:#990000;line-height:160%;}
#compartir .error a {color:#0000ff;}
#compartir form {display: block;}
#compartir p {font-size:0.85em;margin:10px;}
#compartir .datos {border-top:3px solid #D3DBE2;margin:10px 20px 10px 10px;font-weight:700;padding: 25px 0 0;}
#compartir .field {background-color:#fff;border:1px solid #D3DBE2;font-size: 1em;color:#465C7D;width:90%;margin:10px}
#compartir .btn  {margin:15px 10px;font-size:0.9em; background:url(../images/css/fdo_btn2.png) repeat-x; padding:3px 6px; font-weight:700; color:#fff;}

#espaciopie {width:990px; margin: 20px 0 0 0 ; clear:both; height:23px; background:url(../images/css/espaciofooter.png) no-repeat;}

#pie {width:990px; border-top:0px solid #258ABA; padding-left: -20px; padding-top:15px; padding-bottom:15px; color:#fff; font-size:0.75em; text-align:center; background-color:#e7511e ;}
#pie a {color:#fff; text-decoration:underline;}
#pie a:hover {color:#000; text-decoration:none;}
#pie img {padding:10px 0 0;}

#banners {display:block;padding:0 55px 8px;width:235px;margin:0 auto;}	
#banners img {margin:0 auto 8px auto;}	
#rss {padding:0 0 8px 20px;margin:15px 0 12px 20px;background: url("../images/css/rss_logo.png") 0 3px no-repeat;}	
#rss a {color:#DD5800;text-decoration:none;font-weight:bold;}	
#rss a:hover {	text-decoration:underline;}		
.creditos {font-size:11px;margin:15px 0 0 0;}	
.creditos img {	padding:7px 0 0 0;}	
#logos {text-align:center;font-size: 0.7em;padding:1px 0 20px 0;margin:10px auto;}	
#logos img {padding:7px 0 0;}	