{% extends host_template %}

{% load i18n fb_versions cyclope_utils dbgettext_tags %}

{% block content %}

<h1 class="title authors_title">{% trans "Authors" %}</h1>
{% for author in author_list %}
{% with current_object=author %}
<div class="content-view authors authors-teaser media">
    {% if current_object.image %}
        <div class="media-left">
            <a href="#">
                <img src="{% version current_object.image.path 'cropped' %}" class="img-circle"/>
            </a>
        </div>
        {% else %}
        <div class="media-left">
            <a href="#">
                <img src="/media/cyclope/images/img-author-not-available.png" class="img-circle"/>
            </a>
        </div>
    {% endif %}

    <div class="media-body">
        <h3 class="media-heading">
            <a href="{{ current_object.get_absolute_url }}">{{ current_object.name }}</a>
            {% if current_object.origin %}
            <small>{{ current_object.origin }}</small>
            {% endif %}
        </h3>
        {% if current_object.notes %}
        <div class="notes">{{ current_object.notes|smart_style }}</div>
        {% endif %}
        <div class="btn btn-default btn-sm"><a href="{{ current_object.get_absolute_url }}">{% trans "View contents" %}</a></div>
    </div>
    <hr>
</div>

{% endwith %}

{% endfor %}

  {% if page %}
    {% if view_options.sort_by == "ALPHABETIC" %}
      {% include 'cyclope/alphabetical_pagination_block.html' %}
    {% else %}
      {% include 'cyclope/pagination_block.html' %}
    {% endif %}
  {% endif %}

{% endblock content %}


