{% extends host_template %}

{% block content %}

<script type="text/javascript">
 jQuery(document).ready(function(){
  $('#{{ menu_slug }}_menu ul').css('display', 'none');
  $("#{{ menu_slug }}_menu ul").first().css('display', 'block');
  $('#{{ menu_slug }}_menu ul li').mouseenter(function() {
    $(this).children('ul').css('display', 'block');
  });

  $('#menu-principal_menu ul li').mouseleave(function() {
    $(this).children('ul').css('display', 'none');
  });
});
</script>

<ul>
  {{ menu_items|unordered_list }}
</ul>
{% endblock content%}

