{% extends host_template %}

{% block content %}
<script type="text/javascript">

var hide_children = function (el){
    $(el).children('ul').css('display', 'none');
}

jQuery(document).ready(function(){

    // Collapse childs of menus
    $('div[id^={{ menu_slug }}_menu] .has_children').each(function(){
        hide_children($(this).parent());
    });

    // Expand childs on mouse enter
    $('div[id^={{ menu_slug }}_menu] ul li').each(function(){
      $(this).mouseenter(function() {
        $(this).children('ul').css('display', 'block');
      });
    });

    // Collapse childs on mouse leave
    /*TODO(nicochaniz): there should be an option for this view to choose between collapsing when the mose leaves the whole menu structure (commented out lines) or not */
    $('div[id^={{ menu_slug }}_menu] ul li').each(function(){
        $(this).mouseleave(function() {
          hide_children($(this));
      });
    });
    // $('#{{ menu_slug }}_menu').mouseleave(function(){
    //  hide_children($('#{{ menu_slug }}_menu .has_children').parent())
});
</script>

<ul>
    {{ menu_items|unordered_list }}
</ul>
{% endblock content %}
