{% load i18n cyclope_utils %}

{% if CYCLOPE_THEME_TYPE == 'bootstrap' %}
   {% if page.paginator.num_pages != 1 %}
   <div class="paginator">
		 <nav>
        <ul class="pagination">
            {% if page.has_previous %}
                {# query is present when this block is included in the search view #}
                 <li>
                  <a href="?{% append_to_get page=1 %}" aria-label="First">
                    <span aria-hidden="true">&laquo;&nbsp;1</span>
                  </a>
                </li>
                {% if page.previous_page_number != 1 %}
                 <li>
                  <a href="?{% append_to_get page=page.previous_page_number %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;&nbsp;{{ page.previous_page_number }}</span>
                  </a>
                </li>
                {% endif %}
            {% endif %}

            <li class="active">
               <span >{{ page.number }}</span>
            </li>

            {% if page.has_next %}
              {% if page.next_page_number != page.paginator.num_pages %}
              <li>
                  <a href="?{% append_to_get page=page.next_page_number %}" aria-label="Next">
                    <span aria-hidden="true">{{ page.next_page_number }}&nbsp;&raquo;</span>
                  </a>
              </li>
              {% endif %}
              <li>
                  <a href="?{% append_to_get page=page.paginator.num_pages %}" aria-label="Last">
                    <span aria-hidden="true">{{ page.paginator.num_pages }}&nbsp;&raquo;</span>
                  </a>
              </li>
            {% endif %}
        </ul>
    </nav>
    </div>
   {% endif %}

{% elif CYCLOPE_THEME_TYPE == 'classic' %}

   {% if page.paginator.num_pages != 1 %}
    <div class="paginator">
        <span class="step-links">
            {% if page.has_previous %}
                {# query is present when this block is included in the search view #}
                <a href="?{% append_to_get page=1 %}">{% trans 'first' %}</a>&nbsp
                <a href="?{% append_to_get page=page.previous_page_number %}">{% trans 'previous' %}</a>
            {% endif %}

            <span class="current">
               {% trans 'Page' %} {{ page.number }} {% trans 'of' %} {{ page.paginator.num_pages }}
            </span>

            {% if page.has_next %}
                <a href="?{% append_to_get page=page.next_page_number %}">{% trans 'next' %}</a>&nbsp
                <a href="?{% append_to_get page=page.paginator.num_pages %}">{% trans 'last' %}</a>
            {% endif %}
        </span>
    </div>
   {% endif %}

{% endif %}
