{% load comments i18n %}

   {% if page.paginator.num_pages != 1 %}
    <div class="paginator">
        <span class="step-links">
            {% if page.has_previous %}
                {# query is present when this block is included in the search view #}
                <a href="?{% if query %}q={{ query }}&amp;{% endif %}page={{ page.previous_page_number }}">{% trans 'previous' %}</a>
            {% endif %}

            <span class="current">
               {% trans 'Page' %} {{ page.number }} {% trans 'of' %} {{ page.paginator.num_pages }}
            </span>

            {% if page.has_next %}
                <a href="?{% if query %}q={{ query }}&amp;{% endif %}page={{ page.next_page_number }}">{% trans 'next' %}</a>
            {% endif %}
        </span>
    </div>
   {% endif %}

