{% load i18n obj_perms cyclope_utils %}

{% per_category_perms current_object as cat_perms %}

{% if cat_perms.edit_content %}

  <a class="btn btn-default edit_content" role="button" href="/admin/{{ current_object.get_app_label }}/{{ current_object.get_object_name }}/{{current_object.pk }}?_frontend=1&_popup=1">
    {% trans "Edit" %}
  </a>
  <a class="btn btn-default delete_content" role="button" href="/{{ current_object.get_object_name }}/{{ current_object.slug }}/delete/">
    {% trans "Delete" %}
  </a>

{% endif %}
