{% extends CYCLOPE_DEFAULT_TEMPLATE %}

{% load i18n %}

{% block content %}

  <div class="user_input">
    <h6>{% trans "Please enter your credentials"%}</h6>
    <form action="" method="post">
    {{form.as_p}}
    <input type="submit">
    </form>
  </div>

  <h4>{% blocktrans %}
     If you have not yet created an account you need to
     <a href="/accounts/register?next={{next}}">register</a>
     before you may login.
     {% endblocktrans %}
  </h4>

<script type="text/javascript">
    document.getElementById('id_username').focus()
</script>

{% endblock %}
