{% extends CYCLOPE_DEFAULT_TEMPLATE %}

{% load i18n %}

{% block content %}
<div class="frontend_login">
  <div class="user_input">
    <h4 class="title">{% trans "Please enter your credentials"%}</h4>
    <form action="" method="post">{% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="submit">
    </form>
  </div>

  <span class="register">{% blocktrans %}
     If you have not yet created an account you need to
     <a href="/accounts/register?next={{next}}">register</a>
     before you may login.
     {% endblocktrans %}
  </span>

<script type="text/javascript">
    document.getElementById('id_username').focus()
</script>
</div>

{% endblock %}
