{% extends CYCLOPE_DEFAULT_TEMPLATE %}
{% load i18n crispy_forms_tags %}

{% block content %}
  <h2 class="title">{% trans 'Reset Password' %}</h2>

  <div class="form_summary">
      <h4 class="summary">{% trans "Forgot your password?" %}</h4>
  </div>
  <p>
      {% trans "Enter your e-mail address in the form below and we will send you a link for resetting your password." %}
  </p>
  </form>
    <form action="" method="post" class="uniForm reset_password">{% csrf_token %}
      {{form|crispy}}
      <div class="buttonHolder">
        <input class="btn btn-default" type="submit" value="{% trans 'Reset Password' %}" >
      </div>
    </form>
{% endblock %}
