{% extends "admin/change_form.html" %}

{% comment %}
Configures chainedSelect for views in relation to content type
{% endcomment %}

{% block extrahead %}{{ block.super }}
{% url admin:jsi18n as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}

<script type="text/javascript">
$(function() {
  $("#id_content_view").chainedSelect({
        parent: '#id_content_type',
        url: '/{{CYCLOPE_PREFIX}}registered_standard_views_json',
        value: 'view_name',
        label: 'verbose_name'
    });

  $("#id_object_id").chainedSelect({
        parent: '#id_content_type',
        // this /cyclope/ url should not be hard_coded here
        url: '/{{CYCLOPE_PREFIX}}objects_for_ctype_json',
        value: 'object_id',
        label: 'verbose_name'
      });
});
</script>

{% endblock %}
