<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load layout i18n tagging_tags %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{{ CYCLOPE_SITE_SETTINGS.global_title }} {% endblock %}</title>
    <meta name="Keywords" content="{{ CYCLOPE_SITE_SETTINGS.keywords }}" />
    <meta name="Description" content="{{ CYCLOPE_SITE_SETTINGS.description }}" />
    <style>
    html{width: 100%; height: 100%;}
    body {background-color: #10153F; margin:0, padding:0; height: 100%; width: 100%}
    .staticpage.detail{width: 100%; height: 100%;}
    </style>
    <!--
        TODO(nicoechaniz): implement RSS
        <link href="/rss.php" title="RSS" type="application/rss+xml" rel="alternate" /> -->
  </head>

  <body class="{% block body_class %}{%endblock%}">
  {%  block content %}
  {%  endblock %}
  </body>
</html>
