{% load layout i18n fb_versions cyclope_utils %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Plantilla Boletín Neutron para Cyclope 3 GPL
Esta plantilla fue desarrollada por Codigo Sur: www.codigosur.org
Diseno conceptual + HTML + CSS: Santiago Hoerth
Codigo HTML realizado bajo licencia GPL (copialo, mejoralo, pasalo)
Ver licencia en: http://creativecommons.org/licenses/GPL/2.0/deed.es_AR
Ten en cuenta que las imagenes, los nombres y los logos de este sitio no pueden usarse. Solo el codigo HTML y CSS es GPL. Gracias :)
Si modificas no borres estas lineas :)
 -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
  <head>
    <title>{{ newsletter.name }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <link href="{{ CYCLOPE_THEME_MEDIA_URL }}/css/newsletter.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>
<body leftmargin="0" topmargin="0">
{% region 'header' %}
<a name="arriba"></a>

<table class="mascara" align="center">
  <tr>
    <td>

      <!-- inicia menucito -->
      <table align="center" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" width="720">
        <tr>
          <td bgcolor="#fff" valign="middle">
            <span class="encabezado">{{ newsletter.content_category.name }}</span>
            <span class="menuh"><a href="{% url index %}">{% trans "Visit our website" %}</a> <a href="{% url collection newsletter.content_category.collection.slug %}">{% trans "View archives" %}</a> <a href="http://listas.codigosur.org/mailman/listinfo">{% trans "Subscription options" %}</a>
            </span>
          </td>
        </tr>
      </table>
      <!-- fin menucito -->

      <!-- inicia cabezal -->
      <table align="center" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" width="720"> 
        <tr>
          <td bgcolor="#ccc" background="{{ CYCLOPE_THEME_MEDIA_URL }}images/boletin/cabezal.png" height="124" valign="middle">
            <h1 class="titulo">{{ newsletter.name }}</h1>
            <span class="newsletter-header">{{ newsletter.header|safe }}</span>
          </td>
        </tr>
      </table>
      <!-- fin cabezal -->

      {% region 'before_content' %}

      <!-- tabla contenedora de columnas -->
      <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="720" class="medianera">
        <tr>
          <td>


            <!-- inicia portada -->
            <table width="510" border="0" align="left" cellpadding="0" cellspacing="0" class="editorial">
              <tr>
                <td id="titular-ruta">
                  <div id="contenedor_portada">
                    <img src="{{ CYCLOPE_THEME_MEDIA_URL }}images/boletin/ilustracion.jpg" hspace="0" vspace="0" align="center"/>
                    <span class="editorial-resumen">
                      <p>
                        {% comment %}
                        {% if category.image %}
                        <img class="category_image" src="{% version category.image.path 'small' %}" hspace="10" vspace="10" align="right" border="0"/>
                        {% endif %}
                        {% endcomment %}

                        {{ newsletter.content_category.description|safe }}
                      </p>
                    </span>
                  </div>

                </td>
              </tr>
            </table>
            <!-- fin portada -->

            <!-- inicia contenedora sumario -->
            <table class="sumario-mascara" width="190" align="right" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td valign="top">
                  <!-- inicia sumario-->
                  {% if newsletter.show_ToC %}
                  <table align="center" border="0" cellpadding="0" cellspacing="0" width="190" class="sumario">
                    <tr>
                      <td height="10" valign="top">
                        <img src="{{ CYCLOPE_THEME_MEDIA_URL }}images/boletin/sumario-top.png" align="center" hspace="0" vspace="0" />
                      </td>
                    </tr>
                    <tr>
                      <td id="cs-contenido-middle">
                        <div class="sumario-titulo"><a name="ToC">{% trans "Table of Contents" %}</a></div>
                        {% for categorization in categorizations %}
                          {% alias categorization.content_object as 'article' %}

                        <p>
                          {% if article.pretitle %}
                          <span class="pretitulo-sumario">{{ article.pretitle }}</span>
                          {% endif %}
                          <a href='#{{ categorization.content_type.model }}__{{ article.slug }}' class="sumario-sumario">
                          {{ article.name }}
                          </a>
                          {% if article.author %}
                            {% trans "By"%} {{ article.author }}
                          {% endif %}
                        </p>

                        {% endfor %}
                      </td>
                    </tr>

                    <tr>
                      <td height="10" valign="top">
                        <img src="{{ CYCLOPE_THEME_MEDIA_URL }}images/boletin/sumario-bottom.png" align="center" hspace="0" vspace="0" />
                      </td>
                    </tr>
                  </table>
                  {% endif %}
                  <!-- termina sumario-->
                </td>
              </tr>
            </table>

            <!-- fin contenedora sumario -->
            <div class="clear"></div>
            <!-- contenidos -->
            <table align="center" class="contenidos-mascara">
              <tr>
                <td>
                  {% block content%}{% endblock %}
                </td>
              </tr>
            </table>
            <!-- fin contenidos -->


            <!-- fin tabla contenedora de columnas -->
          </td>
        </tr>
      </table>

      {% region 'after_content' %}

      <!-- inicia pie -->
      <table align="center" bgcolor="#666" border="0" cellpadding="0" cellspacing="0" width="720"> 
        <tr>
          <td height="80" valign="middle">
            <span class="pie">
              Una Publicación de Boletín Neutrón Cyclope 3.<br/>
              Los contenidos de este sitio web están bajo una <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.es_CO" >Licencia Creative Commons</a>.<br/>
              Para desuscribirse <a href="http://listas.dominio.org/mailman/listinfo/" >ingresar aquí</a>.
            </span>
          </td>
        </tr>
      </table>
      <!-- fin pie -->
    </td>
  </tr>
</table>

</body>
</html>

