{% extends CYCLOPE_THEME_BASE_TEMPLATE %}

{% load layout %}

{% block body_class %}two_sidebars{% endblock %}

{% block page_content %}

{% include "cyclope/themes/neutronica/left_sidebar_block.html" %} 

<div id="right_sidebar_container" class="sidebar">
  <div class="top"></div>
  <div class="box">
    {% region 'right_sidebar'%}
  </div>
  <div class="bottom"></div>
</div>

<div id="content_container">
    {% region 'before_content' %}
    {% block content %}{% endblock %}
    {% region 'after_content' %}
</div>
{% endblock %}
