{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}{{ block.super }}
{% url admin:jsi18n as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
<script type="text/javascript" src="{{CYCLOPE_MEDIA_URL}}js/reuse_django_jquery.js"></script>
<script type="text/javascript" src="{{CYCLOPE_MEDIA_URL}}js/jquery.chainedSelect.js"></script>

{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools"><li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}



{% comment %}
CYCLOPE: All chainSelect configuration for every particular model that needs it is done here.
{% endcomment %}


{% comment %} CYCLOPE:  chainedSelect for Collectible derived clases {% endcomment %}
<script type="text/javascript">
function setup_chainedSelect_for_categorization(i) {
    $("#id_collections-categorization-content_type-object_id-"+ i +"-category").chainedSelect({
        parent: '#id_collections-categorization-content_type-object_id-'+ i +'-collection',
        url: "/{{CYCLOPE_PREFIX}}collection_categories_json",
        value: 'category_id',
        label: 'category_name'
    });
};

jQuery(document).ready(function($){
  $("select[id^='id_collections-categorization-content_type-object_id-'][id$='-category']").each(function(i, sel){
        setup_chainedSelect_for_categorization(i);
  });

  $("#collections-categorization-content_type-object_id-group .add-row a").click(
    function(){
      i = $("select[id^='id_collections-categorization-content_type-object_id-'][id$='-category']").length - 2
      setup_chainedSelect_for_categorization(i);
    });
});
</script>

{% comment %} CYCLOPE: chainedSelect for Layout {% endcomment %}

<script type="text/javascript">

  function setup_chainedSelect_for_layout(i) {
      $("#id_regionview_set-" + i + "-region").chainedSelect({
          parent: '#id_template',
          url: '/{{CYCLOPE_PREFIX}}layout_regions_json',
          value: 'region_name',
          label: 'verbose_name'
      });

      $("#id_regionview_set-" + i + "-content_view").chainedSelect({
          parent: '#id_regionview_set-' + i + '-content_type',
          url: '/{{CYCLOPE_PREFIX}}registered_region_views_json',
          value: 'view_name',
          label: 'verbose_name'
      });

      $("#id_regionview_set-" + i + "-object_id").chainedSelect({
          parent: '#id_regionview_set-' + i + '-content_type',
          url: '/{{CYCLOPE_PREFIX}}objects_for_ctype_json',
          value: 'object_id',
          label: 'verbose_name'
      });
  }

  jQuery(document).ready(function($){
      $("select[id^='id_regionview_set-'][id$='-region']").each(function(i, sel){
          setup_chainedSelect_for_layout(i);
      });

      $("#regionview_set-group .add-row a").click(function() {
        setup_chainedSelect_for_layout($("select[id^='id_regionview_set-'][id$='-region']").length - 2);
    });
  });

</script>

{% comment %} CYCLOPE: chainedSelect for MenuItem {% endcomment %}

<script type="text/javascript">
$(function() {
  $("#id_content_view").chainedSelect({
        parent: '#id_content_type',
        url: '/{{CYCLOPE_PREFIX}}registered_standard_views_json',
        value: 'view_name',
        label: 'verbose_name'
    });

  $("#id_object_id").chainedSelect({
        parent: '#id_content_type',
        // this /cyclope/ url should not be hard_coded here
        url: '/{{CYCLOPE_PREFIX}}objects_for_ctype_json',
        value: 'object_id',
        label: 'verbose_name'
      });
});
</script>

{% comment %} CYCLOPE: Change parent for MenuItem when menu is changed {% endcomment %}

<script type="text/javascript">
$(function() {
  $("#id_parent").chainedSelect({
        parent: '#id_menu',
        url: '/{{CYCLOPE_PREFIX}}menu_items_for_menu_json',
        value: 'object_id',
        label: 'verbose_name'
    });

});
</script>

{% comment %} CYCLOPE: Change parent for Category when collection is changed {% endcomment %}

<script type="text/javascript">
$(function() {
  $("#id_parent").chainedSelect({
        parent: '#id_collection',
        url: '/{{CYCLOPE_PREFIX}}collection_categories_json',
        value: 'category_id',
        label: 'category_name'
    });

});
</script>

{% comment %} CYCLOPE: chainedSelect for RelatedContent {% endcomment %}

<script type="text/javascript">
function setup_chainedSelect_for_relatedcontent(i) {
    $('#id_cyclope-relatedcontent-self_type-self_id-'+ i +'-other_id').chainedSelect({
        parent: '#id_cyclope-relatedcontent-self_type-self_id-'+ i +'-other_type',
        url: "/{{CYCLOPE_PREFIX}}objects_for_ctype_json",
        value: 'object_id',
        label: 'verbose_name'
    });
};

jQuery(document).ready(function($){
  $("select[id^='id_cyclope-relatedcontent-self_type-self_id-'][id$='-other_id']").each(function(i, sel){
        setup_chainedSelect_for_relatedcontent(i);
  });

  $("#cyclope-relatedcontent-self_type-self_id-group .add-row a").click(
    function(){
      i = $("select[id^='id_cyclope-relatedcontent-self_type-self_id-'][id$='-other_id']").length - 2
      setup_chainedSelect_for_relatedcontent(i);
    });
});

</script>

{% if original.related_contents.count >= 0 %}
    <script type="text/javascript" src="/media/cyclope/js/drag_drop.js"></script>
{% endif %}

{% endblock %}

{% submit_row %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
