{% load i18n fb_versions staticfiles %}
<div class="content-view contact teaser contact-teaser">
   {% if CYCLOPE_THEME_TYPE == 'bootstrap' %}
    <div class="media">
        {% if contact.photo %}
        <div class="media-left">
            <a href="{% url contact-detail contact.slug %}">
                <img class="photo img-circle" src="{% version contact.photo 'cropped' %}"  alt="{{ contact.name }} profile pic"/>
            </a>
        </div>
    {% else %}
        <div class="media-left">
            <a href="#">
		    <img class="photo img-circle" src="{% static 'images/img-author-not-available.png' %}" alt="Image not available" />
            </a>
        </div>
    {% endif %}  
        <div class="media-body">
            <h2><a  href="{% url contact-detail contact.slug %}">{{ contact }}</a></h2>
            <div class="contact-details">
                <ul class="list-unstyled">
                    <li><strong>{% trans "Gender" %}:</strong> {{contact.gender}}</li>
                    <li><strong>{% trans "Email" %}:</strong> {{contact.email}}</li>
                    <li><strong>{% trans "Web" %}:</strong> {{contact.web}}</li>
                    <li><strong>{% trans "Mobile" %}:</strong> {{contact.mobile_phone_number}}</li>
                </ul>
                <div class="contact_more">
                    <a class="btn btn-primary" href="{% url contact-detail contact.slug %}">{% trans "More" %}</a>
                    <!-- herramientas -->
                    {% include "cyclope/teaser_tools_block.html" with current_object=categorization.content_object %}
                    <!-- /herramientas -->
                    <img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/contact.png" alt="contact" />
                </div>
            </div>
        </div>
    </div>    
{% elif CYCLOPE_THEME_TYPE == 'classic' %}
    {% if contact.photo %}
    <div class="title">
        <img class="photo" src="{% version contact.photo 'cropped' %}" />
        <img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/contact.png" alt="contact" />
        <a  href="{% url contact-detail contact.slug %}">{{ contact }}</a>
    </div>
    {% else %}
    <div class="title">
	    <img class="photo" src="{% static 'uploads/images/contacts/no-photo.png' %}" alt="no photo" />
        <img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/contact.png" alt="contact" />
        <a  href="{% url contact-detail contact.slug %}">{{ contact }}</a>
    </div>
    {% endif %}  
    <div class="contact-details">
        <ul>
            <li>{% trans "Gender" %}: {{contact.gender}}</li>
            <li>{% trans "Email" %}: {{contact.email}}</li>
            <li>{% trans "Web" %}: {{contact.web}}</li>
            <li>{% trans "Mobile" %}: {{contact.mobile_phone_number}}</li>
        </ul>
        <span class="more"><a href="{% url contact-detail contact.slug %}"> {% trans "More" %}</a></span>
        <span class="last_change">{% trans "Last change" %}: {{ contact.get_last_change_date }}</span>
    </div>
    <div class="clear"></div>
    {% endif %}
</div>
