{% load fb_versions cyclope_utils %}

  <div class="content-view contact labeled_icon">
    <a href="{% url contact-detail contact.slug %}">
      {% if contact.photo %}
      <img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/contact.png"/>
      <img src="{% version contact.photo.path 'thumbnail' %}" width="124" />
      {% else %}
      <div class="crop_container"><img class="icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/contact-medium.png"/></div>
      {% endif %}
    </a>
    <span class="label"><a href="{% url contact-detail contact.slug %}">{{ contact.name|truncatechars:40 }}</a></span>
  </div>
