{% extends CYCLOPE_THEME_BASE_TEMPLATE %}

{% load layout %}

{% block page_content %}
          <!-- INICIA ESPACIO AIRE -->
          <div id="aire">
            <!-- INICIA TERCIARIA -->
            <div id="terciaria">
              <div class="top"><span>Terciaria</span> </div>
              <div class="box">
                {% region 'third_pane' %}
<!--
                {% for article in terciaria.articles.all %}
                <h6 class="fecha">{{ article.date }}</h6>
                <h1><a href="articles/{{ article.slug }}">{{ article.label }}</a></h1>
                  {% if article.author %}
                  <h4>{{ article.author }}</h4>
                  {% endif %}
                  {% if article.photos %}
                  <a href="articles/{{ article.slug }}">
                    <img src="{{ article.thumbnail }}" width="60" border="0"/>
                  </a>
                  {% endif %}
                <h2>{{ article.summary }} <a href="articles/{{ article.slug }}">Más.</a></h2>
                <hr />
                {% endfor %}
-->
              </div><!-- TERMINA box -->
              <div class="bottom"></div>
            </div>
            <!-- TERMINA TERCIARIA -->

            <!-- INICIA CUATERNARIA -->
            <div id="cuaternaria">
              <div class="top"></div>
              <span>Cuaternaria</span>
              <div class="box">
                {% region  'fourth_pane' %}

<!--
                {% for article in cuaternaria.articles.all %}
                <h6 class="fecha">{{ article.date }}</h6>
                <h1><a href="articles/{{ article.slug }}">{{ article.label }}</a></h1>
                  {% if article.author %}
                  <h4>{{ article.author }}</h4>
                  {% endif %}
                  {% if article.photos %}
                  <a href="articles/{{ article.slug }}">
                    <img src="{{ article.thumbnail }}" width="60" border="0"/>
                  </a>
                  {% endif %}
                <h2>{{ article.summary }} <a href="articles/{{ article.slug }}">Más.</a></h2>
                <hr />
                {% endfor %}
-->
              </div><!-- TERMINA box -->
              <div class="bottom"></div>
            </div>
            <!-- TERMINA CUATERNARIA -->
          </div>
          <!-- TERMINA ESPACIO AIRE -->


          <!-- INICIA ESPACIO FUEGO -->
          <div id="fuego">
            <!-- INICIA PRINCIPAL -->
            <div id="principal">
              <div class="top"><span>Primaria</span></div>

                {% region 'first_pane' %}

{%comment%}                {% block content %} {% endblock %} {%endcomment%}

<!--
              {section name=notaprincipal loop=$principal}
              {if  $principal[notaprincipal].pretitulo != ''}
              <h6 class="pretitulo">{ $principal[notaprincipal].pretitulo} |
              </h6>
              {/if}
              <h6 class="fecha">{$principal[notaprincipal].fecha}</h6>
              <h1><a href="{$principal[notaprincipal].link}">{$principal[notaprincipal].titulo}</a></h1>
              {if $principal[notaprincipal].foto != ''}
              <a href="{$principal[notaprincipal].link}">
                <img src="{$principal[notaprincipal].foto}" align="middle" border="0"/>
              </a>
              {/if}
              <h2>{$principal[notaprincipal].copete}.
              <a href="{$principal[notaprincipal].link}" class="leermas">Más.</a>
              </h2>
              {if $principal[notaprincipal].autor != ''}
              <h4>{$principal[notaprincipal].autor} </h4>
              {/if}
              {$principal[notaprincipal].etiquetas}
              <ul class="compartir">
                <li class="recomendar">
                  <a href="/compartir.php?id={$principal[notaprincipal].id}" onclick="abrir_popup(this);return false">Compartir información</a>
                </li>
                {$principal[notaprincipal].cantcomentarios}
              </ul>
-->

              <hr />
              <div class="bottom"></div>

            </div>
            <!-- TERMINA PRINCIPAL -->

            <!-- INICIA SECUNDARIA -->
            <div id="secundaria">
              <div class="top"><span>Secundaria</span></div>
                {% region 'second_pane' %}
              <div class="bottom"></div>
            </div>
            <!-- TERMINA SECUNDARIA -->

          </div><!-- TERMINA ESPACIO FUEGO-->

{% endblock %}
