{% load i18n tagging_tags fb_versions cyclope_utils %}

  <div class="content-view staticpage teaser staticpage-teaser">

    <h2 class="title"><img class="type_icon" src="{{ CYCLOPE_THEME_MEDIA_URL }}images/icons/staticpage.png" /><a href="{% url staticpage-detail staticpage.slug %}">{{ staticpage.name }}</a></h2>

    {% if staticpage.author %}
      <!-- <div><span class="author">{% trans "By" %} {{ staticpage.author }}</span></div> -->
    {% endif %}


    {% if staticpage.summary %}
      <p class="description">{{ staticpage.summary|smart_style }}</p>
    {% endif %}

    {% if staticpage.tags %}
        <div class="meta-content"><span class="tags">
          <span class="tags-label">{% trans "Tags" %}:</span>
          {% tags_for_object staticpage as staticpage_tags %}
          {% for tag in staticpage_tags %}
            <!--<a href="/tag/{{ tag.name|slugify }}" class="tag">{{tag.name}}</a>-->
            {{tag.name}}{% if not forloop.last%},{% endif%}
          {% endfor %}
        </span></div>
    {% endif %}

    <div class="clear"></div>
  </div>
