{% extends host_template %}
{% load i18n %}
{% block content %}
<div class="staticpage-teaser">
    <div class="category_description">
        <span class="category_title">
            {% trans "list of Static Pages" %}
        </span>
    </div>    
    <ul>
        {% for staticpage in staticpage_list %}
          <li>
            <a href="{% url staticpage-detail staticpage.slug %}">
                {{  staticpage.name}}
            </a>
          </li>
        {% endfor %}
    </ul>
</div>
{% endblock content%}
