{% extends host_template %}
{% load markup%}

{% comment %}
When inserted in a layout region the host template used is just a wrapper (see inline_view.html).
When showing the StaticPage as the main content of the view, the host_template is the layout template.
{% endcomment %}

{% block content %}

<div class="content-view staticpage detail staticpage-detail">
    {% if CYCLOPE_STATICPAGE_TEXT_STYLE == 'raw' or CYCLOPE_STATICPAGE_TEXT_STYLE == 'wysiwyg'%}
      {{ staticpage.text|safe }}
    {% else %}
        {% if CYCLOPE_STATICPAGE_TEXT_STYLE == 'textile' %}
        {{ staticpage.text|textile }}
        {% else %}
          {% if CYCLOPE_STATICPAGE_TEXT_STYLE == 'markdown'%}
          {{ staticpage.text|markdown }}
          {% endif %}
        {% endif %}
    {% endif %}
</div>

{% endblock content%}
