body {
 padding: 0; margin: 0;
 background-color: #fff1c9;
}

#branding {
  background: url(../images/css/cabezal.png) no-repeat 0 0 transparent;
  height: 162px;
  padding: 6px 16px;
  width: 918px;
  margin-top: 9px;
}

#branding a{
  color: #fff1c9;
}

#branding a:hover{
  color: white;
  text-decoration: none;
}

#branding h1{
 margin-bottom: 0;
}

#branding h2{
  font-size: 14px;
}


#user_status,
#header {
 width: 950px;
 margin: 0 5px;
}

#page_wrapper{
 padding: 0 12px; margin: 0 auto 0 auto;
 background-color: white;
 width: 960px;
 
}

a {
 color: #de2121;
}

#after_content > div,
#before_content > div {
 background-color: #fff1c9;
 margin-bottom: 1em;
 padding-top: 0px;
}

#after_content div.teaser_list {
 background-color: transparent;
}

/* #content_container .collection */
#content_container .collection {
  width: 510px;
}

#content_container .category_title,
#content_container .collection big.title {
  padding: 12px 20px;
  margin-left: 16px;
  margin-right: 16px;
  border-top: 2px solid #839882;   border-bottom: 2px solid #839882;
  text-transform: uppercase;
  color: #839882;
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

#content_container .collection .image {
  margin: 0 8px 8px 16px;
  width: 200px;
}

#content_container .collection .text {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  font-size: 18px;
}


#content_container .collection .category {

  background-color: #de2121;
  color: white;
  padding: 12px 20px 16px 20px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
 -moz-border-radius: 12px 12px 12px 12px;
}


#content_container .collection .category img.icon {
  float: left;
  margin: 4px 12px 12px 0;
}

#content_container .collection .category .bottom {
  clear: both;

}

#content_container .collection .category .text {
  margin: 0;

}

.text p {
 margin-top: 0 !important;
}

#content_container .collection .category .title {
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 4px;
}
#content_container .collection .category .title a{
  color: white;
}

/* */

#content_container > div.user_input{
 margin: 0 16px 0 16px;
}

#content_container > div.user_input h6{
 margin-top: 0;
}

/* */


#content_container #categories_navigation {
 font-size: 16px;
 padding: 0 16px 12px 16px;
 margin: 0 16px 22px 16px;
 border: none;
 border-bottom: 2px solid #839882;
 display: block;
}

#content_container #categories_navigation a {
 margin-left: 5px;
}

#content_container #categories_navigation ul li {

}

#content_container #categories_navigation ul li:before {
 content: "-";
}

#content_container #categories_navigation ul {
 list-style-type: none; padding: 0;
 margin: 0 0 0 5px;
}


#searchbox {
 border: none;
 background-color: black;
 color: white;
 padding: 20px 25px; 
}

#searchbox input[type="text"] {
 border: 2px solid #de2121;
 width: 100px; height: 22px;
 margin-right: 0px;
}

#searchbox input.submit {
 background: url(../images/css/btn.png) no-repeat 0 0 transparent;
 border-width: 0px;
 width: 30px; height: 30px;
 padding: 0;
}


#tags, #rss, #banners {
 border: none;
 margin-bottom: 10px;
}

#tags .title {
 background: url(../images/css/tags.png) no-repeat 0 1px transparent;
 padding-left: 20px;
 font-weight: bold;
 font-size: 14px;
}

#tags .box {
 margin-top: 8px;
}

#tags a.tag1 {
 background-color: #fff1c9;
 color: black;
 margin: 0 1px 5px 0;
 padding: 1px 3px;
 display: inline-block
}

#rss a {
 background: url(../images/css/rss_logo.png) no-repeat 0 0 transparent;
 padding-left: 20px;
 font-weight: bold;
 font-size: 14px;
}

#footer_container {
  padding: 25px 0 20px 0;
  background-color: #839882;
  color: white;
}

#footer_container a{
  color: #fff1c9;
}

/* header menu */

.menu a {
 color: white;
}

.menu li {
 background-color: black;
}

#header .menu ul li{
 margin:0 0 0 0.3em;
 padding:0.3em 1em 0.2em;
 font-weight: bold;
 font-size: 14px;
 border: none;
 -moz-border-radius: 8px 8px 0px 0px;
}

#header .menu ul li a:hover{
 text-decoration: none;
 color: #de2121;
}

#header .menu ul {
 border-bottom: 5px solid black;
}

/* sidebar menu */

.sidebar .root_items_list ul li {
 background-color: #de2121;
 border: none;
 -moz-border-radius: 8px 8px 8px 8px;
 font-weight: bold;
 font-size: 20px;
}

.sidebar .root_items_list ul li:hover {
 background-color: black;
}

.sidebar .root_items_list ul li a {
 color: white;
}

.sidebar .root_items_list ul li a:hover{
 color: white;
 text-decoration: none;
}

/* sidebar categories_hierarchy */

.sidebar .categories_hierarchy ul li {
 background-color: #839882;
 border: none;
 -moz-border-radius: 8px 8px 8px 8px;
 font-weight: bold;
 font-size: 14px;
 color: white;
}

.sidebar .categories_hierarchy ul li:hover {
 background-color: black;
}

.sidebar .categories_hierarchy  ul li a {
 color: white;
}

.sidebar .categories_hierarchy ul li a:hover {
 color: white;
 text-decoration: none ;
}

.sidebar .categories_hierarchy ul li ul {
 margin-top: 0.7em;
}

.sidebar .categories_hierarchy ul li ul li {
 background-color: white;
 color: #839882;
}

.sidebar .categories_hierarchy ul li ul li:hover {
 background-color: white;
 color: black;
}

.sidebar .categories_hierarchy ul li ul li:hover a{
 color: black;
}
.sidebar .categories_hierarchy ul li ul li a{
 color: #839882;
}

/* sidebar teaser_list */

#right_sidebar #categories_navigation {
 text-align: center;
 display: block;
 padding-left: 0;  padding-right: 0;
 border: none;
}
#right_sidebar #categories_navigation a{
 text-transform: uppercase;
 color: white;
 letter-spacing: 2px;
 font-size: 18px;
 font-weight: bold;

}

#right_sidebar .teaser_list {
 border: none;
 color: white;
 background-color: #839882;
 padding-left: 0 !important; padding-right: 0 !important;
/* -moz-border-radius: 8px 8px 8px 8px; */
/* -moz-box-shadow: 3px 1px 10px #839882;  */
}

#right_sidebar .teaser_list .teaser > div,
#right_sidebar .teaser_list .teaser > p {
 display: block;
 padding-left: 16px;  padding-right: 16px;
}

#right_sidebar .teaser_list img.teaser_icon {
 margin-top: 8px;
}

#right_sidebar .teaser_list .teaser > div span{
 font-size: 12px;
}
#right_sidebar .teaser_list .teaser > p {
 font-size: 14px;
 line-height: 18px;
}

#right_sidebar .teaser_list .teaser .title {
  background-color: #495848;
  color: white;
  font-size: 15px;
  padding: 10px 16px 10px 48px;
}

#right_sidebar .teaser_list .article-teaser .title {
  padding-left: 16px; letter-spacing: 0px;
}

#right_sidebar .teaser_list .teaser .title img.type_icon {
  left: 10px; top: 8px;
}

#right_sidebar .teaser_list .teaser .title img.type_icon[src="/media/cyclope/themes/neutronica/images/icons/image.png"] {
  left: 9px; top: 4px;
}

#right_sidebar .teaser_list .teaser .title img.type_icon[src="/media/cyclope/themes/neutronica/images/icons/document.png"] {
  left: 9px; top: 5px;
}

#right_sidebar .teaser_list .teaser .title img.type_icon[src="/media/cyclope/themes/neutronica/images/icons/regularfile.png"] {
  left: 8px; top: 4px;
}

#content_container .teaser img.type_icon[src="/media/cyclope/themes/neutronica/images/icons/image.png"] {
  top: 0px !important;
}

#right_sidebar .teaser_list .teaser .title a{
  color: white;
}

/* #content_container teasers */


#content_container .article-teaser h2.title {
 padding-left: 0 !important;
}

#content_container  .content-view img.type_icon {
left: 0px;
top: 6px;
margin-right:0.5em;
position:absolute;
}

#content_container  .pretitle-container {
 background-color: #a9b7a8;
 color: white;
 text-transform: uppercase;
 letter-spacing: 1px;
 padding: 0.3em 0.6em;
 margin-bottom: 9px;
}


#content_container .teaser .title {
  letter-spacing: -1px;
  font-size: 32px;
  line-height: 34px;
  color: #de2121;
}

#content_container .teaser .title a{
  color: #de2121;
}

#content_container .detail {
  padding-top: 1px; /* ?? */
}

#content_container .detail .title{
  color: #de2121;
  margin-top: -8px;
}

#content_container .teaser .title a:hover{
  color: black; text-decoration: none;
}

.tags-label {
}

/* icon */

#content_container .labeled_icon {
 border: 2px solid #de2121;
 width: 122px;
}

#content_container .labeled_icon .label {
 font-size: 13px;
 line-height: 16px;
 font-weight: bold;
 display: block;
 text-align: center;
 margin-top: 4px;
}

#content_container .labeled_icon img.icon {
 margin-left: 38px;
 margin-top: 30px;
}

#content_container .picture img.icon {
 margin: 0 !important;
}

/* */

.pagination {
 text-align: center;
 font-size: 14px;
}

/* cosas para no mostrar en right_sidebar */

.sidebar .pretitle-container {
 display: none !important;
}

