
/* #### horizontal 960-24 layout #### */

.container_24,
#middle_wrapper,
#user_status,
#branding,
#header,
#footer_container {
 margin-left:auto;margin-right:auto;width:960px;
}

/* content_container */

#left_sidebar_container,
#content_container,
#right_sidebar_container {
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
}

.container_24 .grid_5, 
.two_sidebars #left_sidebar_container,
.one_sidebar #left_sidebar_container {
 width:190px;
}

.container_24 .grid_13, 
.two_sidebars #content_container {
 width:510px;
}

.container_24 .grid_18, 
.one_sidebar #content_container {
 width:710px;
}


.container_24 .grid_6, 
.two_sidebars #right_sidebar_container {
 width:230px; 
 float:right; /* (!) */
}

.alpha {
margin-left:0;
} /* .two_sidebars #left_sidebar_container */

.omega {
 margin-right:0;
} /* .two_sidebars #right_sidebar_container */

.omega, 
.one_sidebar #content_container {
 margin-right:0;
}

.clear,
#footer_separator {
 clear:both;
 display:block;
 overflow:hidden;
 visibility:hidden;
 width:0;height:0;
}

.clear {
  display:inline;
}

/* #### vertical layout #### */


#user_status {
 /* (?) */
}
#branding {
}
#header {
}
#footer_container {
}

